[2021-11-30 17:40] adriangohjw opened #2931 "transfer.sh website seems to be no longer functioning"
Under Cloud Storage & File Sharing (https://transfer.sh/)

[2021-11-30 19:32] #2931 closed

[2021-11-30 19:33] pawelborkar commented on #2931
Thanks for the update @adriangohjw 😊

[2021-11-30 21:24] matheusfelipeog commented on #2931
@adriangohjw and @pawelborkar I believe it was a momentary problem, as it is working normally here:

ref 1: home page
![image](https://user-images.githubusercontent.com/50463866/144130216-70d87f41-a962-4e99-8cc6-553d3497853d.png)

ref 2: Upload using cURL
![image](https://user-images.githubusercontent.com/50463866/144130079-d4c6c6db-98c2-4b3b-96d7-fbb846525b32.png)

ref 3: Upload from web
![image]

[2021-12-01 03:20] adriangohjw commented on #2931
@matheusfelipeog thanks for pointing it out. I just tried to VPN to another country and it works, maybe its just banned in my country for some unknown reason.

@pawelborkar sorry so much for the false alarm

[2021-12-01 05:29] pawelborkar commented on #2931
@adriangohjw You're right. It's not working in my country as well. As I had tried to go the web address before removing it from the list and found that the link is not working.

@matheusfelipeog It's better to have APIs which are globally accessible and not in a specific geographical region as it may cause issues or an unwanted struggle for junior developers or hobbyists from the region in which t

[2021-12-01 05:40] pawelborkar commented on #2927
Ref. #2933

[2021-12-01 05:40] #2927 closed

[2021-12-06 07:36] LeoLivs commented on #1932
Greetings devs, wanted to know if there was an update on adding sponsors and displaying their respective logos/links. Thanks in advance.

[2021-12-07 08:13] asim commented on #1932
Still very much interested in sponsoring and getting our company logo from m3o.com in the project. Our goals are very much aligned and we want to help the cause.

[2021-12-07 12:12] munzzz5 opened #2941 "New API for test data"
Hi was wondering if I can add the "this for that" API as it is a great way for first time API consumers.

Here's the link (it returns 2 types of response formats (Text [an English sentence], and Json with two key values[this for that])

http://itsthisforthat.com/api.php

[2021-12-07 18:11] LeoLivs commented on #1932
How would I find sponsors to support this repo? Once I have that list, do I put their info in the documentation file?

[2021-12-08 23:21] Swhistler1 opened #2944 "This means Lakota Family, in Native American. It's the tribe I've descended from. It's also the poorest county in the United States. I don't live there but all of my family does. It's extreme poverty on the Pine Ridge Reservation. So I want to creat a crypto currency that I can make profitable for them. The least I can do for them kids and the ones who managed to make it through blizzards, wars, and sicknesses. If anyone can assist me in creating this crypto it will be gratefully appreciated. I'm a rookie myself in the crypto world but I only get to live once!"
This means Lakota Family, in Native American. It's the tribe I've descended from. It's also the poorest county in the United States. I don't live there but all of my family does. It's extreme poverty on the Pine Ridge Reservation. So I want to creat a crypto currency that I can make profitable for them. The least I can do for them kids and the ones who managed to make it through blizzards, wars, a

[2021-12-09 03:40] #2944 closed

[2021-12-09 05:01] matheusfelipeog commented on #1932
Hi @LeoLivs and @asim ;)

Thanks for having and continuing your interest in sponsoring the Public APIs project. <3

Well, [as I said earlier](https://github.com/public-apis/public-apis/issues/1932#issuecomment-898970205), I would be responsible for this work, so I'll explain why we haven't started this yet:

The long wait time is basically motivated by the fact that it is extremely difficult to ta

[2021-12-09 05:28] matheusfelipeog commented on #2941
Hi @munzzz5 😄

Yes, you can add this API to the list ;)

Open a PR and send it with this addition and I will review it

[2021-12-09 06:00] asim commented on #1932
Thanks for the detailed response! It's unfortunate you don't own the org. There's definitely alternative approaches but I think it's ok to wait for a response from the owner. I may ping again in January. Other potential options are just sponsor link to an Ethereum wallet 😀

[2021-12-09 07:15] munzzz5 commented on #2941
Great!

This is my first issue in life. Am I supposed to just fill up the table with relevant links or shall I post the python code example?

I have read the docs. But I'm still unsure.

Thank you!

[2021-12-11 02:57] matheusfelipeog commented on #2941
@munzzz5 You just need to put the link and other API information on a new line in the table, following the pattern of those already listed.

Example:

For this link https://itsthisforthat.com/api.phpz, you should add something similar to this in the table in the Test Data section:

[code]

[2021-12-11 04:02] codewithpom commented on #1932
@asim yes and I am even experienced in Blockchain and web3 stuff.

[2021-12-11 12:46] mgncodes commented on #2913
Hi @pawelborkar , I'm interested to contribute to this issue. Could you please assign this to me?

[2021-12-11 13:24] munzzz5 commented on #2941
hey there

i have another API called bored API which is essentiallly similar and fits into the same category of test data.

Kindly check it out and let me know if i should go for PR.

Thanks!
http://www.boredapi.com/

[2021-12-12 08:03] pawelborkar commented on #2913
Hey @mgncodes,

Thanks for showing your interest in it.
As you know this issue is more of a new category request and not a bug fix which means we don't need to assign it to anyone. Make a PR with the context stated [here](https://github.com/public-apis/public-apis/issues/2913#issuecomment-976253632) and reading the contributing guide and we'll be happy to review it.

[2021-12-13 13:11] 0x0is1 opened #2951 "Help Required: API not documented"
I use these few APIs for world political data analysis provided by Lowy Institute, Australia

+ `https://power.lowyinstitute.org/data/2020.json`
+ `https://power.lowyinstitute.org/countries.json`
+ `https://power.lowyinstitute.org/world.json`
+ `https://power.lowyinstitute.org/network-power.json`

Their reports and data are also used IMF and other UN foundations.
But they don't have proper documen

[2021-12-16 16:18] Umer19 commented on #2913
https://github.com/public-apis/public-apis/issues/2913#issue-1059514704

[2021-12-16 16:27] Umer19 opened #2954 "API"
Thanks for looking to open an issue for this project.

If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

- [ ]

[2021-12-18 04:20] codewithpom opened #2956 "Build directory"
# Build
I think that the build directory should be in the .github directory to keep it clean so I would like to open a PR if you allow 😀

[2021-12-18 06:35] pawelborkar commented on #2956
Thanks for opening this issue @codewithpom.
But I think the current file structure is good enough as it is easier to navigate between the files and edit them.

[2021-12-18 06:35] #2956 closed

[2021-12-18 11:47] codewithpom commented on #2944
@Swhistler1 just create a 10 line solidity code and deploy to the ethernum network and a token will be created and that's it😀

[2021-12-18 13:46] 0x0is1 commented on #2951
(Expecting replies since 1931.)

[2021-12-18 16:40] #2941 closed

[2021-12-18 16:44] matheusfelipeog commented on #2941
This API is already listed here. See in Development section.

[2021-12-18 17:12] matheusfelipeog commented on #2951
@0x0is1 As stated in the contribution guide, it's necessary for the API to have official documentation in order to be added to the list. And as this API doesn't meet this requirement, unfortunately, it's not possible to add it.

[2021-12-18 17:19] 0x0is1 commented on #2951
That's quite sad😓 but okay..!

[2021-12-18 17:26] matheusfelipeog commented on #2951
@0x0is1 I thought of something. 🤔

You can create a repository here on github and create unofficial documentation for this API. So I can accept for listing.

You should document and explain what each of these endpoints is for so others can easily use them.

What do you think?

[2021-12-18 17:33] matheusfelipeog commented on #2951
Some examples you can follow:

- https://github.com/btcid/indodax-official-api-docs/blob/master/Public-RestAPI.md
- https://github.com/thundercomb/poetrydb#readme
- https://github.com/CrossRef/rest-api-doc

[2021-12-19 10:00] 0x0is1 commented on #2951
Thanks for the amazing suggestion. Working on it. :)

[2021-12-19 12:57] codewithpom commented on #1856
Why is this issue still open 😔

[2021-12-19 13:00] codewithpom commented on #2913
How is this api https://developer.samsung.com/smarttv/develop/api-references/samsung-product-api-references.html

[2021-12-19 13:05] codewithpom commented on #2913
And even how is this one https://dev.mi.com/docs/passport/en/open-api/

[2021-12-19 18:27] ChaseDurand opened #2960 "Host in validate_links.py"
Hello!

Why is www stripped from the host in validate_links.py?
<pre>
if host[:3] == 'www':
    host = host[4:]
</pre>

The host header does not forbid www, and some sites return 40x errors when this is stripped out in the request (examples include https://www.fishwatch.gov/developers and https://www.petfinder.com/developers). I found 144 links out of the 1409 invalid links that return status 200

[2021-12-19 19:08] matheusfelipeog commented on #1856
Because we're still going to get better. That will happen soon. 😅

[2021-12-19 19:11] matheusfelipeog commented on #2951
Okay, I'll be waiting. Request my review when you're done, please. ;)

[2021-12-19 19:22] matheusfelipeog commented on #2960
Hi @ChaseDurand, thanks for opening this issue. ;)

I'll check that out, but yes, there's a reason I removed it. Apparently it's a requirement for Cloudflare.

See the discussion in PR that implemented this at: #2409

[2021-12-24 00:38] matheusfelipeog commented on #2960
@ChaseDurand I checked this problem today and I see you're right. Keep the www. on the host decreases 4xx errors.

You can open a new PR to update the script.

When finished, request my review, please.

[2021-12-24 23:43] joerex1418 opened #2975 "CTA requires API key"
The most recent version of the Chicago Transit Authority's (CTA) BusTrackerAPI & TrainTrackerAPI do require API keys

[2021-12-25 19:11] matheusfelipeog commented on #2975
Oh right @joerex1418. Thank you very much for letting us know this, I will update it.

[2021-12-25 19:11] #2975 closed

[2021-12-29 08:57] 0x0is1 commented on #2951
Resolved in #2982,

[2021-12-30 06:23] #2951 closed

[2021-12-31 06:35] anabc9999 opened #2986 "fr"
Thanks for looking to open an issue for this project.

If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

[2022-01-01 05:02] #2986 closed

[2022-01-01 17:25] shashankskb18700 commented on #2913
please review this api  https://octopart.com/api

[2022-01-02 03:09] codewithpom commented on #2913
Thanks

[2022-01-02 03:12] codewithpom commented on #2913
@shashankskb18700 sorry but the API above is not free you need a credit card for that and we only keep free APIs

[2022-01-02 11:47] shashankskb18700 commented on #2913
okay

[2022-01-02 12:01] shashankskb18700 commented on #2913
please check this out

https://fonoapi.freshpixl.com/

https://github.com/shakee93/fonoapi

[2022-01-14 01:26] CodeSofty commented on #2913
Can we use our own APIs, if we've built one?

[2022-01-14 04:07] BASRIAMD opened #3007 "Batam...Mencari Kehidupan Yang Lebih Baik."

[2022-01-14 04:09] BASRIAMD opened #3008 "Batam...Hidup & Kemewahan Yang Tiada Di Dapat."

[2022-01-14 04:31] #3007 closed

[2022-01-14 04:31] #3008 closed

[2022-01-14 13:54] asim commented on #1932
Continuing on with this discussion. Since it may not be possible to use github sponsors. Can we try something else? Like perhaps https://opencollective.com/

[2022-01-15 04:45] codewithpom commented on #1932
Looks good

[2022-01-15 09:21] pawelborkar commented on #1932
Hey @matheusfelipeog,
I think we've waited for so long for the response from the current admin/owner of the project. and unfortunately it seems that they didn't even care to respond back to us. So in my opinion we should go with the [Open Collective](https://opencollective.com/) way for enabling a way for the individuals and orgs who are interested in sponsoring the project.

@marekdano @yannbertr

[2022-01-18 00:17] ChaseDurand commented on #2960
Hello @matheusfelipeog! My apologies on the delay. By the time I got around to working on this I saw that you had already implemented a solution.

I'll close the issue. Thank you :)

[2022-01-18 00:17] #2960 closed

[2022-01-18 07:15] matheusfelipeog commented on #1932
Yes, you're right. We can try to use Open Collective

I'll take care of that and come back soon with more information. 🚀

[2022-01-19 20:41] Jamal1124 opened #3014 "https://docs.google.com/spreadsheets/d/e/2PACX-1vSgfTgXraT3IgW0-iL7p6uuI7VHSS5-0V1Z4Joq0qXXS1g6MkFYRpJlW8j5ZaT9Xfc8kBRUNMjzno-N/pubhtml"

[2022-01-19 21:05] Jamal1124 commented on #3014
https://docs.google.com/spreadsheets/d/e/2PACX-1vSgfTgXraT3IgW0-iL7p6uuI7VHSS5-0V1Z4Joq0qXXS1g6MkFYRpJlW8j5ZaT9Xfc8kBRUNMjzno-N/pubhtml

[2022-01-19 21:07] #3014 closed

[2022-01-19 23:19] array-in-a-matrix commented on #2913
This API seems abandoned. The readme says the API is down and the repo hasn't been updated since 2020.

[2022-01-20 00:45] Slizzywhippy1 commented on #2913
Hello

[2022-01-20 05:27] r0hin opened #3016 "Remove Apple Music (Paid)"
Apple Music API requires a signed developer key which costs $100 annually.

[2022-01-20 06:13] matheusfelipeog commented on #3016
Hi @r0hin, thanks for opening this issue and letting us know about it. ;)

Can you give me more information and/or send me a link containing this information so I can verify it, please?

I didn't find anything similar in the documentation

[2022-01-20 06:29] r0hin commented on #3016
Sure!

To send requests, I believe you need a [key](https://developer.apple.com/documentation/applemusicapi/getting_keys_and_creating_tokens) which you can [create](https://help.apple.com/developer-account/#/devcdfbb56a3).

However, when trying to create a key in [Certificates, Identifiers, and Profiles](https://developer.apple.com/account/resources), the following screen is shown:

![image](https

[2022-01-20 07:24] matheusfelipeog commented on #3016
Thanks for the new information. I checked and it seems to me that you are right.

It's the first time I've seen a company charge a developer to have access to this type of resource 🤣

ref 1: https://developer.apple.com/support/enrollment/
ref 2: https://developer.apple.com/programs/enroll/
![image](https://user-images.githubusercontent.com/50463866/150291794-1e4180a7-f551-412a-bd60-ca9522068bdb.pn

[2022-01-20 07:27] #3016 closed

[2022-01-20 07:27] matheusfelipeog commented on #3016
Done ✅

[2022-01-20 14:32] kailashkumaralex opened #3017 "H"

[2022-01-20 16:18] dr-suhadalishaheed commented on #3017
Hi #3018

[2022-01-20 16:21] dr-suhadalishaheed commented on #1932
Er #[]()

[2022-01-20 17:06] dr-suhadalishaheed commented on #3016
- [ ] - - [ ] Remove 3016

[2022-01-20 21:37] #3017 closed

[2022-01-21 10:28] thisismatthew5 opened #3019 "Public ApI"

[2022-01-21 17:53] Cosxxxx commented on #1700
[](https://github.com/all-contributors/all-contributors/issues/578)

[2022-01-21 17:54] Cosxxxx commented on #1700
[![image](https://user-images.githubusercontent.com/91406075/150576291-463bafec-5790-4112-945d-b343b28990c6.jpeg)](https://github.com/all-contributors/all-contributors/issues/578)

[2022-01-22 16:14] #3019 closed

[2022-01-23 07:47] coder9118 opened #3022 "Add oyyi"
Thanks for looking to open an issue for this project.
oyyi is free to use API for image/video conversion , optimization , pdf optimization and thumbnail generation.
If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

[2022-01-24 10:36] liyasthomas opened #3025 "Available as JSON / YAML file?"
I was wondering if Public APIs are available as JSON / YAML or any structured format file except the readme.md?

[2022-01-24 11:12] #3025 closed

[2022-01-24 15:44] dr-suhadalishaheed opened #3026 "Thanks"
Thanks
be save

__Originally posted by @dr-suhadalishaheed in https://github.com/StephenGrider/GraphQLCasts/issues/19#issuecomment-1020237380__

[2022-01-24 15:46] dr-suhadalishaheed commented on #3026
#3026

[2022-01-24 15:47] dr-suhadalishaheed commented on #3026
@

[2022-01-24 17:52] JJTech0130 opened #3027 "Remove Goodreads API"
The Goodreads API has been shut down, see https://help.goodreads.com/s/article/Does-Goodreads-support-the-use-of-APIs.

It should be removed from the list, or marked, to avoid confusion.

[2022-01-24 19:20] hughe198 opened #3028 "Remove CatAPI"
CatAPI appears to be down/gone.

[2022-01-24 19:21] dkdndes commented on #3028
https://thecatapi.com/ ??

[2022-01-29 01:58] matheusfelipeog commented on #3027
Oh right @JJTech0130. Thanks for letting us know, I will remove it from the list.

[2022-01-29 01:59] #3027 closed

[2022-01-29 02:00] matheusfelipeog commented on #3027
Done ✅

[2022-01-29 02:14] #3028 closed

[2022-01-29 02:14] matheusfelipeog commented on #3028
Done ✅

[2022-01-29 02:18] matheusfelipeog commented on #3022
Hi @coder9118 ;)

Can you open a PR to add the API link so we can review it, please?

[2022-01-29 02:43] matheusfelipeog commented on #1932
Just an update: I'm awaiting approval from the Open Source Collective

[2022-01-29 14:59] dkdndes commented on #3028
Just realized the domain is different. Sorry.

[2022-01-31 00:39] tedi33 opened #3040 "office@epay.bg"
Thanks for looking to open an issue for this project.

If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

[2022-01-31 00:39] tedi33 commented on #3040
Fenku

[2022-01-31 00:40] tedi33 commented on #3040
5

[2022-01-31 00:41] tedi33 commented on #3040
Veerii good

[2022-01-31 00:45] #3040 closed

[2022-02-01 01:19] matheusfelipeog commented on #3022
I did some tests on oyyi and apparently your API is not working.

Some endpoints have a return similar to this:

[code]

and others have no return.

Therefore, I will close this issue.

[2022-02-01 01:19] #3022 closed

[2022-02-01 05:37] coder9118 commented on #3022
Can I have the endpoint you have tested? Have you seen the docs before making request to API [](https://oyyi.xyz/docs/1.0/overview)

[2022-02-01 14:00] matheusfelipeog commented on #3022
I did some new tests and now I was able to use it correctly. Sorry for the inconvenience

This project was added in the commit: https://github.com/public-apis/public-apis/commit/34b275598d88b5d006c46eda0dddac765a107e3d

[2022-02-01 20:27] coder9118 commented on #3022
Change cors to yes.

[2022-02-01 20:41] matheusfelipeog commented on #3022
Done ;)

[2022-02-01 22:00] matheusfelipeog commented on #1932
The Open Source Collective fiscal host has approved the application of Public APIs:

![image](https://user-images.githubusercontent.com/50463866/152057719-8c237d4c-a159-465f-80a5-bb7f698c3857.png)

It is now possible to be a backer and sponsor of the project. See more information at: https://opencollective.com/public-apis

Soon, a section will be added to the `README.md` to inform everyone who vis

[2022-02-01 22:09] asim commented on #1932
We at [M3O](https://m3o.com) are happy to officially be the first sponsor!

The logo can be found here https://raw.githubusercontent.com/m3o/m3o/main/images/m3o.png

[2022-02-02 00:11] matheusfelipeog commented on #1932
@asim Thank you very much and congratulations on being the first sponsor of public APIs ❤️

It's really a great idea to integrate the public apis available here in M3O, it will be very useful for us developers.

I'm going to add the M3O logo to our readme.md, would you like to add the slogan and/or a brief description about M3O?

What do you think about using what is shown on the homepage?

[code]

[2022-02-02 06:07] asim commented on #1932
Yes please do also add the slogan and description thanks!

[2022-02-02 07:18] matheusfelipeog commented on #1932
Done ✔

[2022-02-02 08:52] asim commented on #1932
Thank you. Someone mentioned the logo has a transparent background and doesn't play well with dark mode. Here's one with a white background. Sorry for the inconvenience.

![m3o-boxed-black](https://user-images.githubusercontent.com/17530/152122228-fb1a4a45-6109-4205-af16-b1cc3afa9728.jpg)

[2022-02-02 08:58] asim commented on #1932
Logo has a transparent background so doesn't play well with dark mode. Let me give you this one instead. Sorry for the inconvenience.

![M3O Logo](https://user-images.githubusercontent.com/17530/152123159-e64645f8-4e60-4fde-afc9-8ada30c45309.png)

[2022-02-02 09:19] yannbertrand commented on #1932
It's now possible to use different images for white & dark modes using GitHub markdown :)

https://github.blog/changelog/2021-11-24-specify-theme-context-for-images-in-markdown/

[2022-02-02 09:39] asim commented on #1932
Whoa, I'm way behind in the times :D

Then I'll provide the white logo also

![m3o-logo-white](https://user-images.githubusercontent.com/17530/152129134-d83100d7-1e44-4739-b7fd-7eafb22bf4ef.png)

[2022-02-02 10:42] yannbertrand commented on #1932
Done in #3042

![image](https://user-images.githubusercontent.com/5855339/152138480-bdba7b76-4bf8-4268-92e6-89253648e272.png)
![image](https://user-images.githubusercontent.com/5855339/152138507-36182b6e-ce5c-4aa4-83a3-a531062b0692.png)

[2022-02-02 10:42] yannbertrand commented on #1932
Thanks again for the sponsorship! I'll close the issue now.

Please feel free to open a new issue when needed.

[2022-02-02 10:42] #1932 closed

[2022-02-07 14:34] Trend20 opened #3048 "Zoo Animals API response time"
Thanks for looking to open an issue for this project.

If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

Thank you for the free APIs. I was using the Zoo Animals API and I noticed that the response time is too slow.
Please would you consider looking into that?

[2022-02-07 15:16] matheusfelipeog commented on #3048
Hi @Trend20

We are not Zoo Animal API maintainers. 😅
I suggest you contact the maintainer and let them know what issues you are having: https://zoo-animal-api.herokuapp.com/contact

But I also did some tests here and it is working correctly. Maybe you started the heroku server from this API and ended up noticing this delay. Free heroku servers sleep when not being used, so you have to wait a few

[2022-02-15 05:55] eul797unt opened #3058 "Fav"

[2022-02-16 16:48] #3058 closed

[2022-02-20 09:52] Fcus88 opened #3064 "bb"

[2022-02-22 04:47] #3064 closed

[2022-02-26 12:11] ismailatas opened #3071 "public api"

[2022-02-27 03:51] #3071 closed

[2022-03-01 22:31] Fernando-Coronel opened #3077 "Apis free"
Apis para practicar

[2022-03-02 00:41] #3077 closed

[2022-03-02 17:46] Code-Arpan commented on #2913
I'm a beginner please tell me what I have to do in this issue.

[2022-03-03 06:22] pawelborkar commented on #2913
Hi Arpan,
Welcome to public-apis. This issue is more of an announcement for creating a new category in the project rather than an issue itself. As you can read in the [Contributing Guide](https://github.com/public-apis/public-apis/blob/master/CONTRIBUTING.md) creating a new category requires at least 3 working APIs related to that specific category which a contributor wants to create and should fo

[2022-03-03 07:38] Code-Arpan commented on #2913
Hey, @pawelborkar

Please check this out -

| [FITBIT ](https://dev.fitbit.com) | Fitbit user data, collected by their products | OAuth | Yes | Unknown |

[2022-03-03 16:43] yousam788 opened #3080 "api"

[2022-03-04 02:23] #3080 closed

[2022-03-06 02:12] Priyojone opened #3083 "Ok"
https://github.com/m3o/m3o/issues/191

[2022-03-06 02:47] #3083 closed

[2022-03-06 07:40] kingfiona opened #3086 "Keen to learn"

[2022-03-06 07:42] #3086 closed

[2022-03-06 14:33] Joh777 opened #3088 "Hey"
Hello

[2022-03-06 16:53] #3088 closed

[2022-03-07 23:17] annhbom123 opened #3089 "annhbom1"

[2022-03-10 03:49] #3089 closed

[2022-03-13 18:27] Joh777 opened #3096 "Hey"
Hey me name is joh

Ok

[2022-03-14 03:52] #3096 closed

[2022-03-14 07:34] Ulvis opened #3097 "Add Free Url Shortener"
Possible add ulvis.net url shortner [API](https://ulvis.net/developer.html)  in the list.

[2022-03-14 07:38] xan187 commented on #3096
What's up man

[2022-03-16 04:43] matheusfelipeog commented on #3097
Hi @Ulvis ;)

This API seems valid, I'll add it to the list.

Thank you very much for your contribution <3

[2022-03-16 04:49] #3097 closed

[2022-03-16 04:49] matheusfelipeog commented on #3097
Done ✔

[2022-03-17 00:34] matheusfelipeog opened #3104 "Public APIs Situation [ READ THIS ISSUE PLEASE ]"
Hi community

This message is to clarify and make transparent the current situation of Public APIs, in addition to demonstrating the frustration of us maintainers. So read this if you find it interesting, please.

Well, I keep the Public APIs project together with other 3 developers (@pawelborkar, @marekdano and @yannbertrand) for a long time.

1 year ago, the Public APIs project was dead, with ov

[2022-03-17 00:36] #1856 closed

[2022-03-17 00:37] #1700 closed

[2022-03-17 06:38] yannbertrand commented on #3104
To complete the discussion you should know that they lower our maintainer access after I reverted some abusive commits. apilayer-admin tried to replace our sponsor logo to their company logo.

![](https://user-images.githubusercontent.com/5855339/158750592-f3bda99a-bc96-49c6-baf4-fbe958a4e5b2.png)

It's not the first time they're trying to link the Public APIs repos to their company despite they h

[2022-03-17 06:46] yannbertrand commented on #3104
https://github.com/public-apis/public-apis/commit/ab16db658dcc5a443292d2ce0325d98ad0538226 They are now pushing their own business APIs above others (breaking the alphabetically-ordered CI rule). This goes against our [contributing rule](https://github.com/public-apis/public-apis/blob/master/CONTRIBUTING.md).

Please be careful accessing links by now as we maintainers can't assure they're not pox.

[2022-03-17 06:46] yannbertrand commented on #3104
They now removed the repo maintainers list, they know what they are doing https://github.com/public-apis/public-apis/commit/831ff0378fb0ba5a779e6caaa89b73766c59449e

[2022-03-17 23:57] bonesoul commented on #3104
this needs more attention. apilayer seems to commercialize this project which is not any good.

[2022-03-18 00:37] JoshuaBehrens commented on #3104
I tried to reach out on twitter https://twitter.com/mangafreak1995/status/1504411468699160578?s=21

[2022-03-18 09:40] pawelborkar commented on #3104
I've mentioned about this issue in order to describe the current situation of the project to the current projects/websites that we've added to the readme and are using the public-apis project at their core. And has ask them to mention it in their website's homepage or write a blog (if possible) or a tweet regarding the current situation. As these website may have some of the traffic which can help

[2022-03-19 11:40] Godwyne22 opened #3106 "Api"

[2022-03-19 17:26] #3106 closed

[2022-03-20 05:06] Maesttrya opened #3107 "Apis públicas"

[2022-03-20 16:20] bjesuiter commented on #3104
Do we want to fork this as a community? This sounds exactly like the situation to do something like this.

[2022-03-20 17:17] mtmail commented on #3104
Apilayer took over the restcountries project, stopped support, took down the website (restcountries.eu, domain still registered to apilayer) and as far as I see never acknowledge any user feedback. @amatosg, who is still a maintainer, forked it last year (restcountries.com). https://github.com/apilayer/restcountries/issues/253

[2022-03-21 16:46] #3107 closed

[2022-03-22 12:42] MrMories1337 opened #3110 "Ixidid"
Jdidid

[2022-03-22 12:44] webluzz commented on #3110
Ll

[2022-03-22 12:45] webluzz commented on #3110
Ksksksksk

[2022-03-22 13:23] webluzz commented on #3110
Ijrjr

Pada tanggal Sel, 22 Mar 2022 20.22, MrMories1337 ***@***.***>
menulis:

[2022-03-23 12:54] faiqali1 opened #3111 "Show progress as the file is being processed"
Currently when the script is being run it looks like this

![image](https://user-images.githubusercontent.com/74228240/159702829-ee2a0d33-76f4-49a3-a2ae-d6fbdbcbad3f.png)

It is very hard to know how much has been done and how much is left?

I propose we add a progress bar to it?

[2022-03-23 17:45] matheusfelipeog commented on #3111
Hi @faiqali1

Thanks for opening this issue

We have some issues with Public APIs, so we won't be able to discuss/implement this improvement right now.

Read this issue for more information, please: https://github.com/public-apis/public-apis/issues/3104

[2022-03-23 17:46] #3111 closed

[2022-03-30 17:06] matheusfelipeog commented on #3104
Forking was one of the first possible solutions we considered, but that's a difficult task now.

Public APIs are over 6 years old, 185k stars and over 250k views/month, [in addition to forks over 2 years old and over 4k stars](https://github.com/public-api-lists/public-api-lists). I believe that simply forking this will have no effect, this is extremely difficult.

Also, the difficulty increased a

[2022-03-30 17:21] asim commented on #3104
Maybe just move on to focusing on a website and an API itself? The GitHub repo can remain but just shift the outward focus to putting the data in an API and website you own.

[2022-03-31 07:33] JoshuaBehrens commented on #3104
@matheusfelipeog Can you change the pull request template?

[2022-04-02 06:47] matheusfelipeog commented on #3104
There is already an official API widely used by the community and maintained by a former collaborator to Public APIs. There are also several alternative sites that use this API's database, however having an official website was in our future plans, but unfortunately this situation ends up making everything difficult.

@JoshuaBehrens This would certainly be useful, but unfortunately we no longer ha

[2022-04-02 06:53] asim commented on #3104
Your options are very limited at this stage. If you're being met with hostility by the admin there's not much you can do considering they own the repo. As much as you may want to hold on to the traffic and GitHub stars,  it's not clear it's of much value if the owner can basically do whatever they want with unilateral authority.

At the end of the day it's a text file. So you should feel quite com

[2022-04-03 17:14] Smyja commented on #3104
I agree, fork the repo and move on. Don't worry about the stars or publicity for now. Post on reddit and Twitter.

[2022-04-04 07:31] Joh777 opened #3122 "Hey this is just test the app cod don't open the file"
[go to GitHub app](follow yosif)

#Kill the iPhone or the Samsung

[code]

The cod is end~~~~

😂😂😂

[2022-04-04 07:33] Joh777 commented on #3122
...

[2022-04-04 17:13] #3122 closed

[2022-04-04 17:49] Joh777 opened #3123 "school project."
Read x

if (x<50)Print yes

Else (x>50) print no

[2022-04-05 06:10] puddinggggg opened #3125 "Shibe.Online CORS is NO"
Thanks for looking to open an issue for this project.

If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

please check it and change.

[2022-04-05 19:25] matheusfelipeog commented on #3125
Hi @puddinggggg

Thanks for your contribution ;)

We have some problems with public APIs, so we won't be able to review/add this improvement right now.

Read this issue for more information, please: https://github.com/public-apis/public-apis/issues/3104

[2022-04-05 19:25] #3125 closed

[2022-04-06 14:40] shuckster commented on #3104
Is it worthwhile to hit the "Block or Report" button on APILayer Admin's [profile](https://github.com/apilayer-admin)? Seems like at the very least you could try and report their behaviour as SPAM'y.

[2022-04-06 16:39] Joh777 opened #3126 "Create Gist.js"
// Variables used by Scriptable.
// These must be at the very top of the file. Do not edit.
// icon-color: brown; icon-glyph: file-code;
// To use this script, you need to configure an OAuth App on GitHub.
// Follow the instructions on the link below to create your OAuth App.
//
// When you are asked to put in a redirect URL, you should put the URL for running this script in Scriptable. Assuming t

[2022-04-06 16:41] Joh777 opened #3127 "Crypto price.js"
// Variables used by Scriptable.
// These must be at the very top of the file. Do not edit.
// icon-color: green; icon-glyph: dollar-sign;

// Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, mer

[2022-04-06 16:42] Joh777 opened #3128 "Random script...API.js"
// Variables used by Scriptable.
// These must be at the very top of the file. Do not edit.
// icon-color: deep-blue; icon-glyph: book;
// This script shows a random Scriptable API in a widget. The script is meant to be used with a widget configured on the Home Screen.
// You can run the script in the app to preview the widget or you can go to the Home Screen, add a new Scriptable widget and confi

[2022-04-06 16:42] Joh777 opened #3129 "Read MacStories.js"
// Variables used by Scriptable.
// These must be at the very top of the file. Do not edit.
// icon-color: red; icon-glyph: newspaper;
// This script shows articles from MacStories. The script can be used either in the app, as a widget on your Home Screen or through Shortcuts. The behaviour of the script will vary slightly depending on where it's used.
let items = await loadItems()
if (config.runs

[2022-04-06 16:43] Joh777 opened #3130 "WakaStats.js"
// Variables used by Scriptable.
// These must be at the very top of the file. Do not edit.
// icon-color: deep-gray; icon-glyph: laptop-code;
/******************************************************************************
 * Constants and Configurations
*****************************************************************************/

// NOTE: This script uses the Cache script (https://github.com/ky

[2022-04-06 16:44] #3126 closed

[2022-04-06 16:44] #3127 closed

[2022-04-06 16:44] #3128 closed

[2022-04-06 16:44] #3129 closed

[2022-04-12 09:55] nitefood commented on #3104
I'd definitely go with forking (or should I say, cloning to a brand new repo) and clearly stating it's the community-driven effort to keep building on the former work. You know, big visible disclaimer explaining why and how this happened.

Of course the idea is to link the new repo from the top of the README of this repo to get things up to speed (for as long as the owner will allow it). What matt

[2022-04-12 12:15] matheusfelipeog commented on #3104
@nitefood About informing the community at the top of the README: Unfortunately we no longer have access to modify the project files, this makes it very difficult when we want to inform the whole community what happened. Few people see the issues here :/

[2022-04-12 12:22] asim commented on #3104
If you cannot modify anything then there is nothing left to do but fork and go in a new direction. This issue is here, people can see it. The repo will go stale and people will wonder where everyone is going next. You can actively promote that on dev channels. Take it from me, the stars are not as valuable as the community itself. Build a real community, start a discord, etc.

[2022-04-12 13:08] nitefood commented on #3104
Spot on. The first step is always the hardest, but from what I could gather it appears inevitable.

[2022-04-14 00:30] prithvi2k2 commented on #3104
Let GitHub know about this situation, they can surely help as they always loved open-source @matheusfelipeog @pawelborkar

[2022-04-16 08:52] JerryKim1023 commented on #3104
Hello. I am a newbie developer who came to this place through YouTube introduction.

1. The original founder turned this github code to his corporation's advantage.
2. You tried to contact with the original founder but you couldn't recieve answer.
3. Even if you fork and create a new GitHub repository that maintains publicity, you are worried that people will come to the current repository, which

[2022-04-16 09:05] Smyja commented on #3104
Yes, that's right.

[2022-04-16 10:47] bjesuiter commented on #3104
Could we not simply list alternatives in this Issue Thread here for redirecting impressions?

[2022-04-16 12:18] JerryKim1023 commented on #3104
There is a widsom that if you want to go fast, go alone, if you want to go far, go together.
I think the present 21st century exists because there are many open sources.

Evnethough there are 1,269 contributors who love PublicAPI, API-LAYER made all the code company's without any consent.

I think @[bjesuiter](https://github.com/bjesuiter)'s solution would be great for now!

[2022-04-19 08:41] tuducdong opened #3135 "Kế hoạch mới cho tk2"
- Tạo tài khoản xác nhận bằng mail như lúc lấy lại mật khẩu(tránh việc dùng tool tạo tài khoản quá nhiều)

- Ra Auto Q hái dược,.... cho chickenauto

- Giới hạn 9x đi Q hoặc sửa đồ nhận có tỷ lệ cố định(vì 8x chỉ cần treo auto là lên xong chỉ việc treo đi Q)
Mục đích tránh log dàn quá nhiều lạm phát nguyên liệu

[2022-04-19 08:42] #3135 closed

[2022-04-22 08:17] jnv commented on #3104
Looks like https://github.com/public-api-lists/public-api-lists popped up as a fork, already with 4.6k stars…

[2022-04-22 16:15] matheusfelipeog commented on #3104
Yes @jnv, I mentioned that fork here: https://github.com/public-apis/public-apis/issues/3104#issuecomment-1083396393

[2022-04-29 10:21] tashpjak opened #3142 "Lyrics api doesnt work"
Hello,
`https://docs.ksoft.si/api/lyrics-api` doenst work.
I suggest to remove it from the list

[2022-05-02 16:40] matheusfelipeog commented on #3142
Hi @tashpjak

Thanks for opening this issue ;)

We have some problems with Public APIs, so we won't be able to review/add this improvement right now.

Read this issue for more information, please: https://github.com/public-apis/public-apis/issues/3104

[2022-05-02 16:40] #3142 closed

[2022-05-05 12:42] singhanshveer opened #3145 "Could use requests/mo like parameter in the API Table"
Many APIs use ratelimiting

[2022-05-05 13:55] #3145 closed

[2022-05-07 02:51] Weezsai opened #3147 "🌻"

[2022-05-08 00:26] #3147 closed

[2022-05-14 04:19] Fancyfeet120 opened #3152 "Adult movies"

[2022-05-14 19:51] #3152 closed

[2022-05-17 09:39] marcelscruz commented on #3104
Hey folks.

I've cloned the repository into https://github.com/public-apis-dev/public-apis, as an attempt to keep the [Public APIs website](https://www.publicapis.dev/) going.

Whenever this situation is solved and we have a defined place to continue the project, I'll be more than happy to give back any contributions we receive until then.

[2022-05-17 11:51] JoshuaBehrens commented on #3104
![image](https://user-images.githubusercontent.com/1133593/168804584-90b0e9e7-5ccd-432a-8357-4cdb0e9ea243.png)

[2022-05-22 13:12] simplyYe opened #3162 "Free APIs"

[2022-05-23 08:12] kaustav202 opened #3166 "Add ' API Hubs ' section"
It would be handy if a API Hub section can be added which can include large-scale API repositories/platforms such as rapidAPI.
Those seeking more options can always look up these sites for something extra that's not in this repo.
This would also allow the repo to just feature the most popular / helpful ones, making it more simple and less confusing.

[2022-05-23 14:30] Mutaigm opened #3167 "G"

[2022-05-24 17:23] #3167 closed

[2022-05-24 17:41] matheusfelipeog commented on #3166
Hi @kaustav202

Thanks for your contribution ;)

We have some problems with Public APIs, so we won't be able to review/add this improvement right now.

Read this issue for more information, please: https://github.com/public-apis/public-apis/issues/3104

[2022-05-24 17:41] #3166 closed

[2022-05-24 17:59] kaustav202 commented on #3166
It's understandable @matheusfelipeog

[2022-05-25 08:36] SamuelGood26 opened #3170 "Games And People"
Hello eveyone so this is somthing about the games it have alot games and the people is playing along time we need to shut it down and put more stuff so is will be good

****

[2022-05-25 08:53] #3170 closed

[2022-05-25 09:02] SamuelGood26 commented on #3170
Hello Shut Down All The severs Thank you!

[2022-05-25 09:04] SamuelGood26 commented on #1700
Thank You For The Commet There And Have A Great Day!

[2022-05-27 02:05] Ktmacs commented on #3167
K

[2022-05-31 02:36] Tv-igtmomsp opened #3174 "https://pastebin.com/raw/V4pUW09d"

[2022-06-03 17:21] jesperhesselspotify commented on #3104
Owner of code sais, sold under brandname, emoticum copyright Jesper Hessel, Trademark, Open Source

[2022-06-09 11:17] kshtj24 opened #3182 "GurbaniNow api is not found"
GurbaniNow api is returning a 404 error. [https://github.com/GurbaniNow/api]

[2022-06-09 20:44] Brubru2022 opened #3187 "Boa tarde, galera."
Thanks for looking to open an issue for this project.

If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

[2022-06-09 20:45] Brubru2022 commented on #3187
Boa tarde, galera.
Estou precisando de uma API que contém os feriados dos municípios de São Paulo, conseguem me ajudar?

[2022-06-10 02:27] rafaelaxmedina commented on #3187
Olá, conheço essa API https://api.invertexto.com/api-feriados

É bem simples de ser aplicada.

[2022-06-10 02:49] #3174 closed

[2022-06-10 03:13] matheusfelipeog commented on #3182
Hi @kshtj24

Thanks for letting us know ;)

We have some problems with Public APIs, so we won't be able to review/add this improvement right now.

Read this issue for more information, please: https://github.com/public-apis/public-apis/issues/3104

[2022-06-10 03:13] #3182 closed

[2022-06-10 03:31] matheusfelipeog commented on #3187
Obrigado pela indicação @rafaelaxmedina ;)

Como já houve uma indicação de API para a sua necessidade @Brubru2022, essa issue será fechada.

[2022-06-10 03:31] #3187 closed

[2022-06-17 18:52] abirabedinkhan commented on #3104
Hello Why my Commit didn't do any changes.
I actually added openai

[2022-06-18 09:39] shoxnazar opened #3195 "Cat-Facts"

[2022-06-18 09:40] shoxnazar opened #3196 "Animals"
Cat-Facts

[2022-06-22 18:00] jevoneBarrett opened #3201 "MetaWeather Issue"
Hey Community,
The URL for the MetaWeather API do not work and needs to be fixed.

[2022-06-27 16:17] mw7hd opened #3209 "lag"

[2022-06-28 08:59] Genius1512 commented on #3201
According to [this](https://syncwith.com/api/metaweather-api) site, metaweather goes down a lot, so I think the URL is correct, metaweather is just down

[2022-06-28 12:11] ReihanHaekal commented on #3209
Close this issues

[2022-06-28 13:26] 201flaviosilva commented on #3196
#3195

[2022-06-29 21:21] Vmc43hub opened #3210 "Public Api test validation for Microsoft Edge"
Any suggestions or verified data on this topic??

[2022-07-02 14:04] ovatimee opened #3219 "Open Skills Jobs API Down"
Open skills jobs API been down for two years now

[2022-07-09 23:09] Luisnoel1780 opened #3236 "?"

[2022-07-09 23:33] itsflashii commented on #3236
?

[2022-07-10 02:03] #3236 closed

[2022-07-13 12:33] kailashkumaralex opened #3244 "The family"

[2022-07-15 21:26] #3195 closed

[2022-07-15 21:26] #3196 closed

[2022-07-15 21:27] matheusfelipeog commented on #3201
Hi @jevoneBarrett

Thanks for opening this issue

We have some problem with Public APIs, so we won't be able to discuss/implement this improvement right now.

Read this issue for more information, please: https://github.com/public-apis/public-apis/issues/3104

[2022-07-15 21:27] #3201 closed

[2022-07-15 21:27] #3209 closed

[2022-07-15 21:28] matheusfelipeog commented on #3210
Hi @Vmc43hub

Thanks for opening this issue

We have some problem with Public APIs, so we won't be able to discuss/implement this improvement right now.

Read this issue for more information, please: https://github.com/public-apis/public-apis/issues/3104

[2022-07-15 21:28] #3210 closed

[2022-07-15 21:29] matheusfelipeog commented on #3219
Hi @ovatimee

Thanks for opening this issue

We have some problem with Public APIs, so we won't be able to discuss/implement this improvement right now.

Read this issue for more information, please: https://github.com/public-apis/public-apis/issues/3104

[2022-07-15 21:29] #3219 closed

[2022-07-15 21:29] #3244 closed

[2022-07-15 23:16] samymassoud commented on #3104
This is really sad, since this Impacts all of us, I've decided to build a website that collects the API from this repository and other similar repositories on Github and also add the option to directly add API to the site.

The site is here for reference https://apislist.com

[2022-08-07 11:59] median-man opened #3262 "Fix typo in Cors field of Tax Data API"
Note the spelling in the last field. `Unkown` should be `Unknown`

https://github.com/public-apis/public-apis/blob/055f7b0580490a89e8f7e6e61690e5c52f0e8181/README.md?plain=1#L779

[2022-08-11 15:16] tarpagad opened #3267 "Domain has been suspended"
### Whois veriﬁcation is pending

[2022-08-20 08:39] LouISoffcode commented on #3104
So sad

[2022-08-21 09:22] pawelborkar commented on #3267
Yes.

[2022-08-21 09:22] #3267 closed

[2022-08-21 16:45] BASRIAMD opened #3276 "http://web.basriyaty.com.my"

[2022-08-23 18:02] kingcamofficial opened #3280 "Peace"
When are we going to finally all come together for world peace?

[2022-08-24 04:04] #3280 closed

[2022-08-24 04:04] #3276 closed

[2022-09-02 12:31] Narrinddhar opened #3293 "public -apis"

[2022-09-03 06:21] SamuelGood26 commented on #3104
Hello this is commander pibby we have isssues we not posting yt videos in laptops only moblie.

[2022-09-03 21:44] #3293 closed

[2022-09-13 17:39] bhaveshsonje commented on #3104
Hey, I  am Bhavesh Sonje. How can I contribute to this open source project for my open source class? Please assign me a task.
Contact Me: sonjebhavesh623@gmail.com
GitHub: bhaveshsonje

[2022-09-13 18:04] pawelborkar commented on #3104
Hi @bhaveshsonje,

Currently the project is standstill, please [read this](https://github.com/public-apis/public-apis/issues/3104#issue-1171731261) if you want to know more.

If you want you can contribute to [this project](https://github.com/public-apis-dev/public-apis)
[ref.](https://github.com/public-apis-dev/public-apis/blob/main/CONTRIBUTING.md)

[2022-09-13 18:08] bhaveshsonje commented on #3104
Thankyou sir . Requested to make corrections on the link referred by you.

On Tue, Sep 13, 2022 at 11:34 PM Pawel Borkar ***@***.***>
wrote:

[2022-09-14 05:52] FlorianWendelborn commented on #3104
@pawelborkar is that an official fork of public-apis? If yes, why isn’t it linked at the very top of this issue?

[2022-09-17 16:13] rohit2sharma95 commented on #3104
Probably maintainers should accept this [**other project (public-apis-dev/public-apis)**](
https://github.com/public-apis-dev/public-apis).

[2022-09-19 09:32] marcelscruz commented on #3104
I'm the current maintainer of the alternative project mentioned above, and I'm looking for other maintainers to help keep the project going, as I'm currently with little time available for doing so.

There are open issues with improvement suggestions, and if anyone wants to jump in, please let me know.

[2022-09-19 15:34] Nithin1728 commented on #3262
Hi I'm new to Open Source. Can I work on this issue?

[2022-09-20 02:21] median-man commented on #3262
Hi @Nithin1728 . Thanks for offering to pitch in. There is already a pull request open for this one. (see #3263 )

[2022-09-20 21:04] ianjhill opened #3309 "Fdzfdfff,"

[2022-09-26 14:11] Johnnyteck opened #3316 "Include a dice roll api"
Would love a dice roll api where it randomly rolls a dice and renders the dice image result. Thank you

[2022-09-26 18:11] virtadpt commented on #3316
This isn't an API, but it's what I use for my games: https://github.com/virtadpt/dice-or-die

[2022-09-29 06:04] codewithpom opened #3318 "Add Hacktoberfest tag"
As the hacktoberfest 2022 is coming and as all ways public-apis should participate

[2022-09-30 13:12] marekdano commented on #3318
I don't think hackberfest 2022 is happening in this repo. Please check https://github.com/public-apis/public-apis/issues/3104

[2022-09-30 13:12] #3309 closed

[2022-10-02 09:24] gdsikvd opened #3320 "Список бесплатных api"

[2022-10-02 09:24] #3320 closed

[2022-10-04 12:20] Shipflo commented on #3104
Why to rely on Computer vision, try some low/No build codes
We are a team of computer vision (CV) experts who are building a low code/ no code platform to train and deploy CV models that are not only explainable but also connect with your favorite annotation platforms. To get an early access and free inference credits kindly visit shipflo.ai

[2022-10-05 16:12] #3316 closed

[2022-10-06 16:22] S1mon009 opened #3321 "Apis"

[2022-10-06 19:04] ROBGUI09 opened #3322 "IPinfo is apiKey authed"
Please, change this in api list

[2022-10-09 04:26] #3318 closed

[2022-10-11 08:30] tedi33 commented on #3244
дobrre niqma proplem
null&amp;lt;br/&amp;gt;

 -------- Оригинално писмо --------

От: Nimrod ***@***.***

Относно: Re: [public-apis/public-apis] The family (Issue #3244)

До: public-apis/public-apis

Изпратено на: 13.07.2022 15:40

  Здравейте, аз съм Нимрод.   Нов съм в приноса с отворен код и бих искал да работя по този въпрос.
     —
  Отговорете директно на този имейл,      прегледайте го в G

[2022-10-12 06:40] a-1an opened #3326 "Drivet URL shortner is discontinued"
Remove drivet URL shortner from list

[2022-10-14 08:09] matheusfelipeog commented on #3326
Hi @a-1an

Thanks for opening this issue

We have some problem with Public APIs, so we won't be able to discuss/implement this improvement right now.

Read this issue for more information, please: https://github.com/public-apis/public-apis/issues/3104

[2022-10-14 08:09] #3326 closed

[2022-10-14 08:09] matheusfelipeog commented on #3322
Hi @ROBGUI09

Thanks for opening this issue

We have some problem with Public APIs, so we won't be able to discuss/implement this improvement right now.

Read this issue for more information, please: https://github.com/public-apis/public-apis/issues/3104

[2022-10-14 08:09] #3322 closed

[2022-10-14 08:13] matheusfelipeog commented on #3262
Hi @median-man

Thanks for opening this issue

We have some problem with Public APIs, so we won't be able to discuss/implement this improvement right now.

Read this issue for more information, please: https://github.com/public-apis/public-apis/issues/3104

[2022-10-14 08:13] #3262 closed

[2022-10-14 08:14] #2913 closed

[2022-10-14 10:44] rahulkhn opened #3327 "Add TraderMade Forex, CFD API under finance apis"
Thanks for looking to open an issue for this project.

If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

[2022-10-14 10:51] median-man commented on #3104
@matheusfelipeog please fork the repo. Its time. Those of us that use this regularly would love to help contribute to it and clean some of the bad data that has crept in to help keep the list of apis up to date.

[2022-10-14 11:30] trimming-69 commented on #3104
Hi I am learning to use this . did I do something . I was suppose to. I tried to create something for my home device. Nobody else is suppose to see it, its private. So please explain. What you are talking about. I also haven’t been on my account in a 2 weeks.  Sent from Mail for WindFrom: John DesrosiersSent: Friday, October 14, 2022 6:51 AMTo: public-apis/public-apisCc: trimming-69; ManualSubject

[2022-10-14 18:56] matheusfelipeog commented on #3327
Hi @rahulkhn

Thanks for opening this issue

We have some problem with Public APIs, so we won't be able to discuss/implement this improvement right now.

Read this issue for more information, please: https://github.com/public-apis/public-apis/issues/3104

[2022-10-14 18:56] #3327 closed

[2022-10-20 05:49] TigranKh21 opened #3331 "Public API"

[2022-10-21 03:15] #3331 closed

[2022-10-22 14:25] felixrodrigo19 opened #3334 "MetaWeather Error 404"
The [MetaWeather](https://www.metaweather.com/api/) API return error 404 when access
Error: Page not found
The requested URL was not found on this server.

[2022-10-22 22:35] 00xSky commented on #3104
What I don't understand is what connects you to the "API Layer" site? It is very ironic that you put the "API LAYER" logo at the top of the ReadMe content of the project and share such an article. I didn't understand exactly what you want.

[2022-10-23 04:36] jnv commented on #3104
@00xSky The situation is clearly explained in this article: https://dev.to/yannbertrand/public-apis-situation-4101

[2022-10-23 11:48] 00xSky commented on #3104
Since I could not establish a connection between API Layer and what you wrote, I did not click on the sub-links you provided. After reading this article, I understood the subject better. @jnv  Again, there is something I don't understand. :)

Why not create your own repository on Github?
I do not think that a company that does not care about the developer will remain active for a long time. The re

[2022-10-23 18:23] virtadpt commented on #3104
Could also do what everyone else does on Github when a project goes dormant - fork it and work on that one instead.

[2022-10-24 15:48] faradeen-ja commented on #3334
#3334

Metaweather API down?
If meta weather API is down [jump to the section](https://syncwith.com/tutorials/metaweather-api-bMTnC8mp4PxAWCx2m96zhh#MetaWeater_Alternative_Open_Weather_Map) on how to build a weather dashboard without metaweather api.   We’ve been seeing [metaweather.com](http://metaweather.com/) going down a lot so don’t be surprised if you see this too.

[2022-10-24 17:43] jnv commented on #3104
@00xSky @virtadpt Yes, at this point there are multiple forks, see discussion above. The most prominent seem to be:

- https://github.com/public-api-lists/public-api-lists - with 5.5k stars but squashed history and erased original contributions
- https://github.com/public-apis-dev/public-apis - straight fork of this repo, with ~300 stars

My suggestion is to give star to the second one and conside

[2022-11-03 20:05] sistematico opened #3337 "Commodities"
Any commodities api?

- cattle
- wood
- coal
- soy
- corn
- etc..

[2022-11-08 10:45] Hakketeufel opened #3343 "Testerheld"

[2022-11-11 15:10] MistressElla740 opened #3345 "Updates owo.vc's link to point to the correct page for API documentation, as well as updates the link text with the full and more accurate name of the service."
Updates owo.vc's link to point to the correct page for API documentation, as well as updates the link text with the full and more accurate name of the service.

- [x] My submission is formatted according to the guidelines in the [contributing guide](/CONTRIBUTING.md)
- [x] My addition is ordered alphabetically
- [x] My submission has a useful description
- [x] The description does not have more th

[2022-11-13 00:10] cRoCx opened #3346 "Chuck Norris Database Error 404"
The "Chuck Norris Database" (http://www.icndb.com/api/) inside the "Games & Comics" section shows a 404. The domain "icndb.com" itself also shows a 404.

[2022-11-15 19:04] C2pac opened #3347 "Public-apis"

[2022-11-19 04:11] makors opened #3348 "Git.io no longer accepts urls"
Thanks for looking to open an issue for this project.

If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

[2022-11-22 18:09] GuafterCW commented on #3347
.

[2022-11-24 11:49] marcelscruz commented on #3104
Hey everyone,

Given that this repository here is idle, I'm now doing some improvements in the fork I created ([public-apis-dev/public-apis](https://github.com/public-apis-dev/public-apis)), in order to keep the project alive, at least until the situation is fixed.

They include:
- an auto-generated `/db` folder on every `push` to `main`. This way folks can still use the resources in their project

[2022-11-24 19:23] TheRealToaster opened #3357 "Starter"

[2022-11-24 19:24] #3357 closed

[2022-11-25 04:10] Studio-Hawaii opened #3358 "Doge API no longer works"
Doge generation meme domain was sold.
Its no longer around.

[2022-11-25 07:37] Chamepp commented on #3358
## Issue Description
The Doge Meme Generator(doge-meme.lol) API, located in the social category is no longer available.

## Steps To Reproduce
1. Heading to the social category
2. Click on "[Doge-Meme](https://api.doge-meme.lol/docs)"

## Encounter error page in response:
![Screen Shot 2022-11-25 at 11 05 27 AM](https://user-images.githubusercontent.com/56440241/203926085-a6250d62-2df6-412f-9c9e-e

[2022-11-25 08:05] Chamepp commented on #3348
## Issue Description

The Git.io API, located in the URL shorteners category is no longer available.

## Steps To Reproduce

1. Heading to the URL shorteners category
2. Click on [Git.io](https://api.doge-meme.lol/docs)
3. Checking [Post Explanation](https://github.blog/2011-11-10-git-io-github-url-shortener/)
4. Checking the [Main Source](https://git.io)
5. Using `curl -i https://git.io -F "url=h

[2022-11-28 00:50] Studio-Hawaii opened #3362 "Some APIS either shutting down or shut down."
Some APIS have shut down and are shutting down.  This is a huge issue for this public APIS list. You should review them and take down ones that say are shutting down or have shut down.