[2016-03-21 06:24] rajzshkr opened #5 "Adding todo api"
Hi Todd,

I have written a Todo API, which developers can make use of it.

Check out my link, if it worth please include it. https://github.com/rajzshkr/todoapi

Thanks.

[2016-03-21 14:41] awesome-bot opened #11 "Validate Links"
Hey @toddmotto, love this new project :-)

I wrote a tool that can validate README links (valid URLs, not duplicate). It can be run when someone submits a pull request or a commit is pushed to `public-apis`.

It is currently being used by many projects including
- https://github.com/vinta/awesome-python
- https://github.com/enaqx/awesome-react
- https://github.com/vsouza/awesome-ios
- https://gith

[2016-03-22 09:57] toddmotto commented on #5
As per #15, will close this Issue out.

[2016-03-22 09:57] #5 closed

[2016-03-22 18:55] abdhan opened #33 "Update link."
The Football Data API link should be http://api.football-data.org/
The current https://api.football-data.org/ throws an error.

[2016-03-22 19:07] #33 closed

[2016-03-22 19:27] toddmotto commented on #33
Thanks for pointing that out :)

[2016-03-22 21:00] kylehayes opened #38 "Programmable Web"
I was going to submit a PR but decided this might be a judgement call here instead but Programmable Web has a very large well maintained repository of APIs:
http://www.programmableweb.com/apis/directory

[2016-03-22 21:35] toddmotto commented on #38
Hey Kyle, yeah feel free to submit any PR's you think are relevant

@toddmotto

[2016-03-24 02:07] isabelabel opened #58 "Social Network APIs"
It would be nice to have Social Network APIs such as Facebook, Twitter, Linkedin...

[2016-03-24 16:04] #58 closed

[2016-03-24 17:57] #38 closed

[2016-03-25 02:42] xaranke opened #69 "Add Transit Land"
Please consider adding the newly-released Transitland API from here: https://transit.land/.

Thanks!

[2016-03-25 07:08] cycomachead opened #72 "Add a cost column?"
Would you be interested in a PR which adds a cost column?

Not sure I have the time to do it all now, but I could probably start one.

[2016-03-27 09:14] jakearchibald opened #81 "Add flickr"
You need an API key, but they just give them out automatically. I used it for https://jakearchibald.github.io/trained-to-thrill/

[2016-03-27 10:04] LindaJeanC commented on #81
Linda Cotton

-----Original Message-----
From: "Jake Archibald" <notifications@github.com>
Sent: ‎3/‎27/‎2016 2:15 AM
To: "toddmotto/public-apis" <public-apis@noreply.github.com>
Subject: [public-apis] Add flickr (#81)

You need an API key, but they just give them out automatically. I used it for https://jakearchibald.github.io/trained-to-thrill/
—
You are receiving this because you are subscribed

[2016-03-27 13:02] #81 closed

[2016-03-27 13:05] toddmotto commented on #81
Cheers @jakearchibald !

[2016-03-28 09:46] Igcorreia opened #98 "Add Comercial Use Column?"
Would be nice to have a CAN USE FOR COMERCIAL column.

[2016-03-28 09:47] Igcorreia opened #99 "Add a Free Column with Rate Limit?"
Would be nice to have a column with the FREE TIER limits.

[2016-03-30 06:22] hugolundin opened #118 "Reddit description is not accurate"
It should say "front page of the internet"

[2016-03-30 10:48] Valeriy-Zainullin opened #119 "Add vk api"
My request to add vk.com API to social. It is social network.
https://vk.com/dev

[2016-03-31 10:53] toddmotto commented on #119
It's already an existing PR, closing off.

[2016-03-31 10:53] #119 closed

[2016-03-31 10:53] #118 closed

[2016-03-31 11:36] marcobiedermann opened #127 "Split up media APIs"
I suggest splitting the media APIs up into:
* Blogs (e.g. Medium)
* Books (e.g. Good Reads)
* Images (e.g. Unsplash, Flickr, Imgur, dribbble)
* Media (e.g. Chuck Norris Database, Rijksmuseum)
* Music (e.g. Soundcloud, iTunes, TheMovieDB)
* Social (e.g. Facebook, Twitter, G+)
* Video (e.g. YouTube, Vimeo)

[2016-04-01 09:33] GaloisGirl opened #139 "Why this when http://www.programmableweb.com/ has 14K+ APIs listed?"
I'm genuinely asking: isn't this re-inventing the wheel a bit?

[2016-04-01 10:22] bkazi opened #140 "API key inconsistency"
I noticed that Musixmatch API notes that an apikey query string required in the OAuth coulmn
As per my experiences APIs such as MovieDB, Wunderground, Open Weather Map, Yahoo Weather and maybe others require similar apikey query strings with the request.
I was wondering if this is a choice that has been made or an inconsistency in the list

Thanks for the wonderful compilation!

[2016-04-01 11:20] toddmotto commented on #139
This was put together after a series of tweets I got from others who use specific and their favourite go-to APIs. Rather than a mountain collection it's what the industry use and will help others find the best APIs out there.

[2016-04-05 09:09] dpavlica opened #155 "Should add Wikipedia API"

[2016-04-05 14:17] #139 closed

[2016-04-06 23:10] jakearchibald opened #159 "Indicate whether HTTPS is supported"
Since progressive web apps need to be served securely, so do the APIs they use.

[2016-04-14 01:57] Matoyak commented on #99
I agree, this would be nice to have.

[2016-04-14 01:58] Matoyak commented on #98
This is also a pretty good idea.

[2016-06-09 09:42] newhope opened #189 "Change the "OAuth" Column into "Auth""
I think it's better to change the column "OAuth" (Yes / No) into something like "Auth"
Which will support lot of auth protocol like:

- No
- OAuth
- HTTP Basic Auth
- JWT
- ...

[2016-06-29 14:03] #69 closed

[2016-06-29 14:04] wesbos commented on #98
Going to keep it simple and leave this out. I don't think too many people are scanning an API list to find something they can use for their business, it's often the other way around

[2016-06-29 14:04] #98 closed

[2016-06-29 14:05] wesbos commented on #99
Keeping it simple and leaving this out

[2016-06-29 14:05] #99 closed

[2016-06-29 14:08] #155 closed

[2016-06-29 14:08] wesbos commented on #155
done done done

[2016-06-29 20:43] mikestreety opened #191 "Make everything alphabetical"
I think this was done as a PR before all the updates and was decided it would be done after - just raising an issue so we have something to reference/close.

Notes:

I think the transport one needs some consistency. I would say put country, city (and then in alphabetical order) so that all the cities sit together in countries

[2016-06-30 01:03] wesbos commented on #191
Would be cool to move all this data over to a javascript object and then we can parse / displayit however we want.

[2016-06-30 01:04] wesbos commented on #72
These are all free APIs - so I don't think we could have a cost column?

[2016-06-30 02:05] montogeek commented on #191
@wesbos Exactly, then build a website like http://styleguides.io/ to filter them :)

[2016-06-30 07:04] jbrooksuk commented on #191
I'll order everything once the PR's are done, then we can go through and move everything into JSON objects if we want :)

[2016-06-30 07:24] #191 closed

[2016-06-30 08:26] mikestreety commented on #140
Hi @bkazi - If an API key is required it should say so. If there are any missing this is just a mistake.

Now that we've merged a load, are there any you know require a key which isn't specified?

[2016-06-30 08:32] YannBertrand commented on #140
May we add a column to check if an api key is required (when not using OAuth)?

[2016-06-30 08:49] mikestreety commented on #140
I think that issue has some validity - changing `oAuth` to `Auth` means the "No but an `apiKey` is required can be changed to just `apiKey`

[2016-06-30 09:01] YannBertrand commented on #140
Current solution:

| API | Description | OAuth | Link |
|---|---|---|---|
| API 1 | API 1 | Yes | Go! |
| API 2 | API 2 | No, but an `apiKey` is required | Go! |
| API 3 | API 3 | No | Go! |

Rename-oauth-column solution:

| API | Description | *Auth* | Link |
|---|---|---|---|
| API 1 | API 1 | *`OAuth`* | Go! |
| API 2 | API 2 | *`apiKey`* | Go! |
| API 3 | API 3 | No | Go! |

Add-a-column solut

[2016-06-30 09:19] jbrooksuk commented on #140
Hmm, if we're to generate JSON from this data, then we want it to be as verbose as possible, right?

[2016-06-30 10:01] jbrooksuk opened #193 "Check that all links are up to date"

[2016-06-30 10:08] YannBertrand commented on #193
What about #11? :smiley:

[2016-06-30 10:11] jbrooksuk commented on #193
Whoops!

[2016-06-30 10:11] #193 closed

[2016-06-30 13:53] conradj opened #195 "Oculus Api?"
Oculus Api is listed, but the link just takes you to the generic developer centre and I can't see a web related Api's for Oculus. Should this be removed?

[2016-06-30 14:01] #195 closed

[2016-06-30 14:02] YannBertrand commented on #195
Thanks!

[2016-07-02 08:32] mikestreety commented on #140
I don't think we should let potential JSON-ification get in the way of readability? We could head down route two and then route three for the JSON and compile it into a route 2 looking table?

[2016-07-02 08:32] #72 closed

[2016-07-12 14:02] yannbertrand opened #203 "Migrate to a website"
The time has come. We now have a lot of public JSON APIs.

It's a pain to search the ones we're interested in.

What about moving the data all of us have collected to a website with a powerful search engine? (take a look at https://twofactorauth.org/ for a good exemple)

[2016-07-12 14:03] jbrooksuk commented on #203
I was thinking more along the lines of http://justdelete.me

[2016-07-12 14:11] YannBertrand commented on #203
Love it! :smile:

[2016-08-06 15:36] toddmotto commented on #203
Good idea, at the moment I don't have the time to do this though :/ how were you thinking of doing it, using Jekyll to render out all APIs from `_posts` data or something?

[2016-08-08 09:17] RyanNerd commented on #203
May I make a suggestion for moving this to a website?
Use [Elastic search](https://www.elastic.co/downloads/elasticsearch) as your search engine back-end.
I've been writing web apps in Ember and have been loving it.
A basic search web site shouldn't be too difficult to implement. I have a bit of time on my hands and would be willing to design a proof of concept if you are interested.
https://githu

[2016-08-08 12:08] YannBertrand commented on #203
I was thinking of migrating all the data to a json file and use it as a database. Do you think Jekyll would be an easier solution?

[2016-08-09 22:51] RyanNerd commented on #203
I'm not familiar with Jekyll so what I suggest below may be a bad idea, or a good idea:

I can provision a LAMP stack pretty quickly. I am using digitalocean.com as my host. For around $5/mo for a basic VM isn't a bad price. I use them to prototype web projects and I can scale my VM up easily if things get busy.
Writing the front-end will actually take me longer than setting up a back-end.
Let me

[2016-09-13 12:16] austinhuang0131 opened #222 "Marketing Email sent to my address wanting me to add their own API"
![LOL](https://cloud.githubusercontent.com/assets/16656689/18473340/60110f98-798a-11e6-912c-669e51ac15ce.png)
They believe that I _own_ it and they want me to push it.

[2016-10-18 02:25] davemachado commented on #203
Using a basic Digital Ocean VM is super easy to spin up and I've heard through the grapevine that sometimes DO will give you credit for a VM if the project is being hosted is popular enough/the README mentions the corresponding website is hosted by Digital Ocean (yay marketing!). Just some more food for thought to possibly make this task a bit financially easier.

[2016-10-18 03:00] davemachado commented on #127
This issue should be fixed in PR #231

[2016-10-18 06:22] RyanNerd commented on #203
DigitalOcean VM for a small droplet is around $5/mo. This is not a huge database and just needs a basic UI where this small VM would be just fine.

[2016-10-18 07:56] jbrooksuk commented on #203
Yeah, DO is awesome. They very kindly sponsor two of my projects. @RyanNerd is right in that it only needs a small VM 👍

[2016-10-18 15:52] davemachado commented on #140
Because this list of API's is publicly supported, I think the renaming the OAuth column to just Auth adds the opportunity to add a bit more detail into the method of authorization instead of just a blunt Yes/No. I would recommend this in hopes of keeping a cosistant naming scheme so that we don't end up having variations of one type of Auth (apikey, ApiKey, Key, APIKEY, etc).

[2016-10-18 15:53] mikestreety commented on #140
We could add a "contributing" guide and include a list of existing ones?

[2016-10-18 15:54] davemachado commented on #140
To solve the issue of having multiple naming schemes for the same auth type, perhaps adding a table at the top of the README to explain the different choices for Auth would be best suited.

[2016-10-18 15:55] davemachado commented on #140
@mikestreety beat me to it.... 👍

[2016-10-18 15:57] davemachado commented on #127
This issue can be closed. PR #231 has been merged into master.

[2016-10-18 15:57] #127 closed

[2016-10-18 16:04] davemachado commented on #203
I've reached out to someone on the Sales team at DO to see if they'd be willing to sponsor this undertaking and provide us with a shiny new VM.

[2016-10-18 23:57] RyanNerd commented on #203
@davemachado if you are unable to get a VM for free from them let me know. I have a VM that I am using for testing purposes. For a small project like this I would be willing to share the VM slice (I use this VM very infrequently). So I'm paying $5/mo. just so that if I need to spin something up fast to test a deployment I can without a bunch of configuration. Right now it's like a boat in my garag

[2016-10-21 09:09] mikestreety commented on #189
I'm closing this issue now as it's addressed in https://github.com/toddmotto/public-apis/issues/140 😄

[2016-10-21 09:09] #189 closed

[2016-10-21 09:10] #222 closed

[2016-10-21 16:01] mikestreety commented on #140
There is one PR outstanding. Once merged I say let's go for this 👍

[2016-10-21 20:56] davemachado commented on #203
@RyanNerd thanks for the offer! I'm confident we will be able to work something out with DO, but your generosity is appreciated.

My request has been "transferred" to the sponsorships team at DO so I'm anticipating hearing back from them soon! :)

[2016-10-29 19:19] marioharper commented on #203
My 2¢. There's no need for something this simple to need a backend. You can host it for free on something like github pages or [netlify](https://netlify.com) and just use a client side search library like [lunar.js](https://github.com/olivernn/lunr.js) to index a json file.

[2016-11-08 20:30] davemachado commented on #203
Update from DO: They are working on a proposal to be sent back soon. Sounds like a good sign!

[2016-12-05 09:47] mikestreety opened #249 "Add a collaborator"
Hey @toddmotto - I think @davemachado deserves to be a collaborator.

He seems very much on the ball 😄

[2016-12-05 12:23] toddmotto commented on #249
Done! Thank you for your awesomeness @davemachado!

[2016-12-05 12:23] #249 closed

[2016-12-06 00:33] davemachado commented on #249
@mikestreety @toddmotto Thanks guys!

[2016-12-12 04:35] davemachado commented on #140
I just opened a PR that adds a contributing guide to the project. I think it pretty much outlines what we are looking for in a submission (including the apiKey inconsistency), but if anyone has changes they'd like to propose, I'd be more than happy to add them in. :)

[2016-12-12 10:28] mikestreety commented on #140
This has also been resolved in the same PR :smile: Once merged we can finally get rid of this issue!

[2016-12-12 16:42] mikestreety commented on #140
Closing this as it is now resolved

[2016-12-12 16:44] mikestreety commented on #159
This is the next one we need to tackle. Would just suggest a "https" column with a simple yes/no answer?

[2016-12-12 16:58] davemachado commented on #159
I can't think of any reason another simple column wouldn't suit our needs. It will also keep things sane in the event of possible JSON-ification.

[2016-12-26 19:20] davemachado commented on #203
Since we're still waiting to hear back from DO, I was interested for some input from folks regarding not having a server backend. For example, a project that I work with, [twofactorauth.org](https://twofactorauth.org/), uses github pages and Jekyll to serve the site ([github repo here](https://github.com/2factorauth/twofactorauth)), similar to what @marioharper was saying. I think using a system s

[2016-12-27 18:07] FFX01 commented on #203
A project like this doesn't require anything as robust as a LAMP stack, or any web application stack for that matter. It would be easy enough to store the data in a json or sqllite file and use some simple javascript to display it. Github pages is more than suited for the task.

[2017-01-04 04:19] DavidWells commented on #203
I'd suggest a simple `json` file with all the api data and then just render a static site with something like https://phenomic.io/ and toss on a free open source [netlify](https://www.netlify.com/) account

[2017-01-04 04:50] toddmotto commented on #203
I don't really see an issue in having a simple readme tbh. I don't really think it needs an over baked website for a few links

@toddmotto

[2017-01-20 09:22] diegobrum opened #269 "Change category name"
I think than word _**"Food"**_ represents better the idea of category instead of word _**"Drinks"**_

[2017-01-20 09:36] jbrooksuk commented on #269
Food & Drink?

[2017-01-20 10:10] diegobrum commented on #269
Can be :)

[2017-01-26 20:21] #269 closed

[2017-01-26 20:21] mikestreety commented on #269
Dammit, i got the issue number wrong ;) https://github.com/toddmotto/public-apis/commit/1cd280a8ab42a6993c995895b1ffc7dd061a62ff

[2017-01-27 12:44] #159 closed

[2017-01-31 19:19] davemachado commented on #203
It seems like the ways in which a website would benefit this type of service would include things like advanced searching/filtering and being able to provide additional information or notes on a item-by-item basis- information that might not be applicable to be its own column for every single API. If the collective opinion is that these features aren't worth the effort to overhaul this README, the

[2017-02-15 17:05] JoshCheek opened #284 "Indian Railways is misformatted"
It's missing the "auth" section, so "https" and "link" are located in the wrong columns.

[2017-02-15 17:15] davemachado commented on #284
Fixed in commit db03add118d8a2205b2de63d400865fe4c169f62. Thanks for catching that @JoshCheek !

[2017-02-15 17:15] #284 closed

[2017-02-15 17:41] JoshCheek opened #285 "A public-apis api"
<3 the project :) I was thinking it would be nice to filter the list to see only the public apis. Since it's just a markdown file, there is not a way to do this, so I wrote a script to extract it:

[code]

Then, to answer my question was to pipe that output through [jq](https://stedolan.github.io/jq/):

[code]

IDK if this is useful to anyone else, but figured I'd put it out there, in case anyone

[2017-02-16 02:29] JoshCheek commented on #285
Going to close this now, no reason to keep it open, just figured I'd document the thought :)

[2017-02-16 02:29] #285 closed

[2017-02-16 04:20] davemachado commented on #285
Thanks for the info @JoshCheek ! There's currently an open issue in discussion (issue #203 ) that would cover filtering as well, if a website does come out of it- FYI.

[2017-02-25 16:39] adabru opened #293 "Petfinder requires key authentication"
see https://www.petfinder.com/developers/api-docs/#getting-started

[2017-02-25 17:06] davemachado commented on #293
Thanks for the heads up @adabru !

[2017-02-25 17:06] #293 closed

[2017-02-28 21:10] davemachado commented on #11
Added in PR #282 !

[2017-02-28 21:10] #11 closed

[2017-03-03 18:07] davemachado opened #297 "Link timeouts on CI builds"
Since we now have beautiful CI checking link validity on every PR, it seems like there will need to be a conversation regarding when links should be removed. For example, as of 1:00PM EST, there is this "dead" link in the build:

<img width="428" alt="screen shot 2017-03-03 at 1 01 43 pm" src="https://cloud.githubusercontent.com/assets/15134885/23562719/adb80612-0011-11e7-85c7-571948920ba6.png">

[2017-03-03 19:03] jbrooksuk commented on #297
Let's wait a few days and fact check before making a decision. We could create an issue or PR discussing as appropriate.

[2017-03-16 19:39] tublitzed opened #303 "Is it possible to add a column to show if APIs are CORS enabled?"
If this is something you wouldn't mind me doing, let me know and I'll open a PR for it. I figured I'd checkin here first to make sure this is something you'd be interested in before I do the work:)

I absolutely love this list and refer to it all the time, by the way. Awesome work putting this together.

[2017-03-16 20:10] mgrigajtis commented on #303
+1 on this!

[2017-03-16 22:45] mikestreety commented on #303
I'm not so familiar with CORS - mind explaining in laymans terms?

[2017-03-17 00:59] mgrigajtis commented on #303
Able to make cross domain AJAX calls with client side JavaScript.

[2017-03-20 20:30] #297 closed

[2017-03-23 19:34] davemachado opened #307 "Video download (api.daniil.it) offline for 2+ weeks"
[code]

Currently we have an API that has been offline for 2+ weeks. Looking to discuss if we should remove this to help save the build and our sanity.

[2017-03-25 08:35] anagami opened #308 "goodreads dont have full JSON api"
Hi! thanks for good list public api!
i try goodreads and was dissapointed, because they api have just few methods wich can response with JSON format
and looking like they don't have any plans to realise this https://www.goodreads.com/topic/show/453508-can-we-get-json-for-all-calls

[2017-03-25 15:16] davemachado commented on #308
Hello there. I'm sorry to hear you were disappointed with goodreads' XML-based API. However, this list is not any form of administration for the listed APIs. Instead, this list is to serve as a central location where developers can quickly find a free API to use for a hobby, side project, automation, etc. As a side note, there are many great tools out there to easily convert XML to JSON that are j

[2017-03-25 15:16] #308 closed

[2017-03-27 18:27] davemachado commented on #307
I'll leave this open for another ~24 hours for any last minute pitchforks and torches and if no angry mob shows up, I'll remove the dead endpoint and close this issue.

[2017-03-28 13:25] davemachado commented on #307
Resolved in commit a891a862913f0e3e54441bab7c641b4abff774a6

[2017-03-28 13:25] #307 closed

[2017-03-31 05:17] maddenamy commented on #303
+1 on this!

[2017-03-31 08:57] mikestreety commented on #303
Is there anyway we can automate/assume a yes/no without manually checking them all?

[2017-03-31 09:13] Stroemgren commented on #303
You sure could, but you would need the API urls and not just the website urls as the list have at the moment.

In the case of having these urls, you could loop over them, making a request and checking the Access-Control-Allow-Origin header.

[2017-04-03 07:27] jbrooksuk commented on #303
It's not fun, but we could add the column then retroactively update when we get time?

[2017-04-04 14:42] alemesa1991 commented on #303
That would be very helpful +1

[2017-04-05 23:40] joelbandi opened #335 "There is another similar repo here https://github.com/abhishekbanthia/Public-APIs"
It's not as popular though...do you think it's good to merge these two lists ?

the repo is located here : [https://github.com/abhishekbanthia/Public-APIs](https://github.com/abhishekbanthia/Public-APIs)

[2017-04-09 00:43] davemachado commented on #335
Hi @joelbandi , it looks like this other list includes trial-based APIs, as well as some other broader topics. This list contains only free APIs, or APIs with some form of a "free tier," so it doesn't appear that there is much overlap between the two. Always good to know about other resources though :)

[2017-04-09 00:43] #335 closed

[2017-04-17 09:48] melwinalm opened #339 "Can you add HackerRank API in this list"
HackerRank conducts Hackathons and Coding Competitions every now and then. You can add this API to the list. Here is the link to the API docs  - [https://www.hackerrank.com/api/docs](https://www.hackerrank.com/api/docs)

[2017-04-17 13:35] donroyco commented on #339
You can create a pull request and add HackerRank as a source.

[2017-04-17 16:17] #339 closed

[2017-04-18 22:20] afabijan commented on #303
+1

[2017-04-19 18:14] ratchakr opened #344 "Finance APIs"
Hi,

First of all, thanks a ton for presenting the curated list of openAPI-s. This is of great help!
One thing I would like to mention is for the Fiance API-s, the free version of barcartondemand (https://www.barchartondemand.com/free) API-s provides only two API-s, one is the GetQuote and the other one is GetHistory; both of these are limited in their usage. When I inquired further, I found out t

[2017-04-21 19:08] sourabhtk37 opened #348 "add OpenAQ for air quality endpoints"
https://docs.openaq.org/

[2017-04-21 20:19] davemachado commented on #348
Hi @sourabhtk37 , feel free to open a pull request with any services you'd like to add to this collection!

[2017-04-21 20:19] #348 closed

[2017-04-21 20:20] davemachado commented on #344
Hi @ratchakr, feel free to open a pull request with any services you'd like to add to this collection!

[2017-04-21 20:20] #344 closed

[2017-04-22 22:04] ratchakr commented on #344
Sure @davemachado.

[2017-05-02 20:30] Tinee commented on #303
@tublitzed, did you pick it up? Otherwise, I could take a stab at it.

[2017-05-09 10:28] fbkarsdorp opened #354 "Rijksmuseum now requires API key"
The Rijksmuseum API now requires users to request an API key to access data and images: https://www.rijksmuseum.nl/en/api

[2017-05-09 13:38] mikestreety commented on #354
Mind making a PR?

[2017-05-09 13:49] fbkarsdorp commented on #354
OK. See #355

[2017-05-09 13:58] mikestreety commented on #354
Thanks. All merged.

[2017-05-09 13:58] #354 closed

[2017-05-09 13:59] mikestreety commented on #303
@Tinee I would say go go go.

Would suggest you make the default TBC or 🤷‍♀️ as a placeholder?

[2017-05-22 21:24] davemachado commented on #303
@tublitzed @Tinee did one of you start working on this? Would hate to see you both duplicate work.

[2017-05-24 08:37] Tinee commented on #303
Go for with @tublitzed :)

[2017-06-09 19:17] GoToLoop commented on #303
I wonder whether a JSONP option should be included as an option as well.  :confused:

[2017-06-16 18:15] wordythebyrd commented on #303
Came here to ask for this.

[2017-06-19 03:17] devgeeks opened #375 "Spotify now requires OAuth for all endpoints"
The Spotify entry will need to be updated:

"`OAuth` required for some parts" -> "`OAuth`"

[2017-06-19 03:20] davemachado commented on #375
Fixed in 2ad0269866f904782e5a3e22ec40e753c3166644

[2017-06-19 03:20] #375 closed

[2017-06-19 03:21] davemachado commented on #375
Thanks for letting us know @devgeeks !

[2017-06-19 08:21] mikestreety commented on #303
Anyone is more than welcome to pick this up :)

[2017-06-24 17:22] GeorgeWL commented on #203
jekyll is a quick staticgen [staticgen.com](//staticgen.com)

which is great if you want to host it all from one git repository, as the files are Static rather than using a backend, and replaced whenever a new build happens.

 But it is also limited to only actions which can be commited by a build agent like Travis or by JavaScript. Anything server-based is a no-no.

Personally I'm very much for t

[2017-06-24 17:25] GeorgeWL opened #377 "Make Json Datafiles for all existing data."
Heck, could with time even become an API.

[2017-06-24 17:28] #377 closed

[2017-06-24 18:24] davemachado commented on #203
@GeorgeWL the conversion of markdown to JSON is covered in PR #368 .

[2017-07-10 15:37] torzuoliH commented on #303
Would be nice !

[2017-07-12 16:45] davemachado commented on #303
Echoing @mikestreety 's comment that anyone is _encouraged_ to start working on this 🥇

[2017-07-15 08:39] mikestreety commented on #303
Ok, looks like I need to tackle this. For now, I'll add an empty space or a something.

For people who don't know what CORS is, we should add a "how to check" or similar to the contributing guide.

So, how do you check if it's not obvious in the documentation of the API?

[2017-07-17 14:21] davemachado commented on #303
Thanks for being willing to take this on @mikestreety. Maybe @tublitzed or @Tinee would still be willing to help out.

As far as my googling skills can tell me, the "easiest" way (besides conveniently specifying in the docs) would be to send a CORS request to an endpoint and see if it explodes or not. This could be done with postman or if you don't want to tediously hit them manually, maybe a smal

[2017-07-26 14:06] A9T9 opened #400 "Ok to add our ocr.space free OCR API?"
Hi,

Just found out about this list on HN ;) You write

Now... my [OCR API](https://ocr.space/ocrapi) as a generous free tier of 25,000 conversions/month and many use the API without ever paying a cent. But there are also some "PRO" options... so I am not sure if this fits your list. If it does, let me know, and I create a pull request.

Mathias

[2017-07-26 15:15] davemachado commented on #400
Hi @A9T9 , thanks for reaching out! Always glad to see this project getting some love on HackerNews :)

This project is designed to support free and free-tier services. The idea is a user can click on any service in the project and know that they don't have to spend money to use the service. Now they may be able to spend money to get more calls, but they always have to option to not spend money. W

[2017-07-26 15:15] #400 closed

[2017-07-27 02:30] LyZane opened #413 "I have domain "devapi.org",and I can give you if you need it."
free.
unconditional.
the domain provider is godaddy.

[2017-07-27 02:40] davemachado commented on #413
Hi @LyZane - We already have domains for the project ready, but thanks for the offer!

[2017-07-27 02:40] #413 closed

[2017-07-27 16:37] technology111 opened #417 "BUY 100% UNDETECTABLE COUNTERFEIT MONEY £,$,€,Whatsapp number...+1(509) 381-0730"
BUY 100% UNDETECTABLE COUNTERFEIT MONEY £,$,€,Whatsapp number...+1(509) 381-0730

We are the best and Unique producer of HIGH QUALITY Undetectable counterfeit Banknotes. With over a billion of our products circulating around the world. We offer only original high-quality counterfeit currency NOTES. We ship worldwide. We also print and sell Grade A banknotes of over 52 currencies in the world. Here

[2017-07-28 14:18] mikestreety commented on #303
@davemachado Quick Q, if I add this column now will it cock up your JSON parser?

[2017-07-28 14:37] mikestreety opened #425 "Added labels"
_There is no way to add comments, so I'm making an issue only to close it soon_.

I've added a few labels to the repo so looking at the PRs is easier.

- `Contributor input required` - added if one of the reviewers has asked the original contributor needs to update their PR, whether it is removing files or sorting alphabetically
- `Second opinion required` - If a second reviewer needs to have a lo

[2017-07-28 15:08] davemachado commented on #425
@mikestreety I like the separation of List enhancement vs Infrastructure enhancement - works for me!

[2017-07-28 15:15] davemachado commented on #425
Maybe add `new entry` and `update entry` so we can keep record on how many new vs updates over time?

[2017-07-28 15:37] mikestreety commented on #425
@davemachado I think that might be over complicating things 😉

[2017-07-28 15:58] jbrooksuk commented on #425
Nice separation!

[2017-07-28 15:58] #425 closed

[2017-07-28 16:11] davemachado commented on #425
@mikestreety oh well, worth a shot ;)

[2017-07-29 13:45] karllhughes opened #429 "Lists to incorporate"
Have you seen these two sites:

- https://apis.guru/browse-apis/
- http://apilist.fun/?title=&category=

Some are paid and some are free, but might be good to incorporate the ones that fit with your criteria here.

[2017-07-30 08:05] DanielFGray commented on #203
I threw this together in a few hours

https://public-apis.surge.sh/

[2017-07-30 16:10] GeorgeWL commented on #203
Semantic is good in that it's modular unlike others however.

[2017-07-31 09:40] mik-laj opened #430 "Open Public Data"
Hi
Many public data in machine readable format is availabie  at:
https://www.europeandataportal.eu/
Many countries also have local sites that collect data:
http://danepubliczne.gov.pl/ (Poland)
http://data.gov.ru/ (Russian. Yes. They have a very good portal to share information for citizens)
Other at: https://www.europeandataportal.eu/data/en/organization

On this sites, you could found very good

[2017-07-31 18:06] davemachado commented on #430
Hi @mik-laj , thanks for sharing these links. If you'd like to incorporate some of these services into this project, feel free to open a pull request!

[2017-07-31 18:06] #430 closed

[2017-07-31 18:06] davemachado commented on #429
hi @karllhughes , thanks for sharing these links. If you'd like to incorporate some of these services into this project, feel free to open a pull request!

[2017-07-31 18:06] #429 closed

[2017-08-01 14:55] davemachado commented on #303
@mikestreety sorry just saw this now - it will certainly throw a wrench into the engine, but I will update accordingly

[2017-08-02 09:19] GeorgeWL commented on #203
BTW, there's already been a pull request for this for aeons that's not been used as it wasn't approved.

https://github.com/toddmotto/public-apis/pull/384

[2017-08-02 14:04] styfle opened #437 "Consolidate api lists with abhishekbanthia/Public-APIs"
There is another list of public APIs that has a lot of stars: https://github.com/abhishekbanthia/Public-APIs

Should these two efforts be combined?

Related: https://github.com/abhishekbanthia/Public-APIs/issues/154

[2017-08-02 15:36] mikestreety commented on #437
Hey @styfle, thanks!

This has already been suggested - [the answer to the previous issue](https://github.com/toddmotto/public-apis/issues/335) still stands. 😄

Thanks anyway - look forward to seeing some PRs 👍

[2017-08-02 15:36] #437 closed

[2017-08-02 16:50] davemachado commented on #203
We made some great progress in moving this idea along and refining our scope for the process, so I'm going to move forward with making progress based on the idea outlined in that discussion (using Vue over copious bootstrap files, for example)

[2017-08-02 17:21] jbrooksuk commented on #203
@davemachado happy to do a final review of the site when you're ready?

[2017-08-02 17:36] davemachado commented on #203
@jbrooksuk thanks, I will certainly keep it in mind. 👍

[2017-08-02 18:36] jbrooksuk commented on #203
@davemachado what are you using to run it? Github Pages?

[2017-08-02 19:00] davemachado commented on #203
@jbrooksuk GH pages, for now, with a Jekyll engine, but I'm always open to new ideas!

[2017-08-02 21:17] jbrooksuk commented on #203
Nope. Sounds perfect to me.

[2017-08-04 08:13] bekicot opened #443 "Rename Data Access to Open Data?"
By analyzing the content of Data Access section, I saw the content of it have a better categorized into Open Data.

Wikipedia said [Data Access](https://github.com/krispo/awesome-haskell/issues/29)

In my interpretation, it means people typically think of data access as an action of a data, instead of as somethings related into data itself. I also have this difficulty understanding it while making

[2017-08-04 16:54] davemachado commented on #443
I think that's fine, I've had that same thought myself a few times. Would be interested in others' thoughts as well.

[2017-08-05 20:59] jbrooksuk commented on #443
Yep!

[2017-08-07 08:32] #443 closed

[2017-08-07 21:38] davemachado opened #451 "quick update - better builds and site plan"
I wanted to post an update as to what I have currently cooking. As with most of this update posts, I will close this in some time if no one has any questions.

I received a response from DigitalOcean back when I reached out to them this past December, when website talks first started brewing. I'm planning to move forward to use one of their VMs to facilitate a more interactive environment. The big

[2017-08-08 07:47] jbrooksuk commented on #451
🎉

[2017-08-08 08:22] mikestreety commented on #451
:🎊

[2017-08-08 13:29] davemachado commented on #451
🎈

[2017-08-08 13:29] #451 closed

[2017-08-09 00:25] DanielFGray opened #453 "current build status is broken"
currently the json build is an empty object

https://github.com/toddmotto/public-apis/blob/master/json/entries.json

[2017-08-09 01:06] davemachado commented on #453
Well that's not good! I've manually created JSON files in commit c16374a3f3ac70d1c70d77315df552830fefb2ee and will look into the build failure now

[2017-08-09 02:21] davemachado commented on #453
Alright, everything's back in working order. Drum roll please...

Unfortunately, Travis CI only supports up to v7 of Node.js, which the new condensation script did not appreciate. When that script failed, the JSON generation script had no Markdown tables to convert, so it uploaded an empty object.

After downgrading the condensation script, everything is chugging along nicely. During debugging, I

[2017-08-09 02:21] #453 closed

[2017-08-09 05:23] DanielFGray commented on #203
I've updated mine to use the new API structure. I hope whatever you guys do, it's at least interactive like mine and lets you filter by auth and https and such.

[2017-08-11 00:34] geraldoramos opened #455 "Question about new entry"
Is it ok to do a pull request to add a Graphql API?

[2017-08-11 07:10] jbrooksuk commented on #455
Technically it's no different to the difference between XML and JSON API's, so I don't see why not.

[2017-08-11 16:26] davemachado commented on #455
good to close?

[2017-08-11 16:33] #455 closed

[2017-08-14 03:34] tigercosmos opened #460 "Current Version Build Failed"
Need fix.

[2017-08-14 08:13] mikestreety commented on #460
This is due to an incorrect value - i've commented on your pull request

[2017-08-14 08:13] #460 closed

[2017-08-16 21:57] keraf opened #461 "Add a rate limit column?"
I think it would be nice to display the rate limit of the API for its free offer and if applicable of course.

[2017-08-17 04:47] davemachado commented on #461
Hi @keraf , thanks for bringing up this idea. If this is something you would like to work on, please feel free to open a pull request for this and we'll be happy to review it :)

[2017-08-17 04:47] #461 closed

[2017-08-17 04:48] davemachado commented on #203
Alpha candidate opened in #462

[2017-08-31 00:39] sorxrob commented on #303
Hi guys! I made a simple site for this api list http://apis.robertsoriano.com

[2017-09-01 04:16] nelsonkd opened #475 "Couple of additional APIs"
This list is awesome. Some more APIs you may want to the list

http://www.mygasfeed.com/keys/intro
http://www.brewerydb.com/developers

[2017-09-01 05:19] davemachado commented on #475
Hey @nelsonkd, thanks for the support! We'd love for you to open a pull request that adds these two (and any other) services into the project. Feel free to check out other pull requests and our contributing guide.  :)

[2017-09-01 05:19] #475 closed

[2017-09-13 02:51] karllhughes opened #481 "Interest in merging projects?"
I've been doing a lot of searching for lists of APIs like this lately. I just ran across [@abhishekbanthia's similar list of public/free apis](https://github.com/abhishekbanthia/Public-APIs).

I'm curious if there's any reason not to work towards combining the two projects? I'm interested in helping if it makes sense.

I also posted an issue on his project to see if he's got any interest: https://

[2017-09-13 02:58] davemachado commented on #481
Hi @karllhughes , thanks for supporting the project!

This has already been suggested - [the answer to the previous issue](https://github.com/toddmotto/public-apis/issues/335) still stands. 😄

This project also includes extra info (e.g HTTPS and Auth type, and soon to be CORS).

Looking forward to reviewing some awesome PRs from you in the future 👍

[2017-09-13 02:58] #481 closed

[2017-09-13 03:02] karllhughes commented on #481
Ok, fair enough. I didn't notice the differences on first blush. I've got a bunch of APIs to add, hoping to have a first stab at a PR for you tomorrow. Thanks for putting this together!

[2017-10-13 19:14] karllhughes opened #511 "New section proposal: Mock Data"
We now have many lorem ipsum and mock data generators in the `Development` section. What do you think about making a new section for `Mock Data` or `Data Generation`?

Happy to make a PR, just curious if any maintainers have preferences on what the name of the new category should be?

[2017-10-13 19:24] davemachado commented on #511
`Mock Data` sounds good to me - I've been planning to go in and work to split out some chunks of the `Development` section, since that is the biggest catch-all currently, but I would like to push out changes for CI and site from my backlog first.

[2017-10-13 19:38] karllhughes commented on #511
Ok, @davemachado just let me know if you'd like me to help 😄

[2017-10-13 20:22] jbrooksuk commented on #511
Maybe Testing?

[2017-10-16 21:21] davemachado commented on #511
Thanks @karllhughes for the offer, I just opened PR #514 to cover this 🎉

[2017-10-16 21:21] #511 closed

[2017-10-21 22:16] jbrooksuk opened #521 "Happy birthday @toddmotto"
Happy birthday @toddmotto! Thanks for starting this great repo!

[2017-10-21 23:15] toddmotto commented on #521
Thank you kindly sir! And big thanks to you and everyone else who's contributed here so far! It's crazy how it's got so popular! 👊🏻

@toddmotto

[2017-10-23 06:43] #521 closed

[2017-11-08 01:23] taw opened #541 "giphy API requires a key"
Also they moved from https://github.com/Giphy/GiphyAPI to https://developers.giphy.com/docs/

[2017-11-08 12:15] harishkotra opened #542 "Yummyly API Requires a key."
![image](https://user-images.githubusercontent.com/4999463/32548705-9d26bedc-c4ac-11e7-8c83-4eba458fef3b.png)

[2017-11-08 15:38] davemachado commented on #541
Fixed in 8a258b34a309e1049924649aecd67f0b3c5eef6a

[2017-11-08 15:38] #541 closed

[2017-11-08 15:39] davemachado commented on #542
Fixed in 1d724e7d171cbfa19108172e9907e4541200106a

[2017-11-08 15:39] #542 closed

[2017-11-10 06:37] navanchauhan opened #543 "Changing the ReadMe UI"
I propose changing the readme UI to something like this : [Bash-Snippets](https://github.com/alexanderepstein/Bash-Snippets)

If enough all of you agree, I'll open a pull request

[2017-11-10 11:58] mikestreety commented on #543
With the drop downs? Interesting! Certainly neater - although it takes away the "browsability" of the document

[2017-11-10 12:21] jbrooksuk commented on #543
I don't think it'll really work very well for the format we have.

[2017-11-10 13:29] karllhughes commented on #543
I don't like that you can't `ctrl + f` search it. Other than that it's okay. Not a huge improvement though.

[2017-11-10 13:50] davemachado commented on #543
We currently use section headers to jump right to that section in the README, which accomplishes exactly what these dropdowns do, IMO. Plus, since we don't hide anything, we can still search for specific entries.

I started working on the website version of this project this week, so I will have something to show soon 😄

[2017-11-13 09:52] mikestreety commented on #543
Thanks for the suggestion though @navanchauhan :)

[2017-11-13 09:52] #543 closed

[2017-11-19 18:48] harishkotra opened #555 "Coinbase needs API Key"
Coinbase API needs an API Key. Please update the same under Cryptocurrency list:

![image](https://user-images.githubusercontent.com/4999463/32994069-403dae6c-cd88-11e7-8131-ec52153dc14e.png)

[2017-11-19 20:27] davemachado commented on #555
Fixed in e97727302e6ada44637acd2456cde4fa5ea0d389

[2017-11-19 20:27] #555 closed

[2017-11-21 13:16] kylecordes commented on #303
My only regret is that I have only one +1 to give :-)

Ideally someone comes up with all this stuff, it can be packaged in a form with a little widget that makes it easy to search/filter. Of course many of us are looking for something like the following to use in (For example) teaching classes, I would guess including @toddmotto ...

* free/public API have some kind
* works over HTTPS
* support fo

[2017-12-18 11:55] daxim commented on #203
<https://www.programmableweb.com/apis/directory> exists since twelve years, consider merging.

[2017-12-18 13:15] GeorgeWL commented on #203
that feels more like a competing site no?

[2017-12-18 13:42] karllhughes commented on #203
@daxim also not all those APIs are free for Public use.

[2018-01-03 13:23] ErikThiart opened #575 "Add Coindata.co.za"
I have no clue how to make a pull request.

Can we add their API to the cryptocurrency section?
Auth none
https://coindata.co.za/api.php

[2018-01-03 20:58] davemachado commented on #575
Hi @ErikThiart , I see that you are credited with building the API in question. Is there a documentation page for this service? We do not like linking to a live request URL as it can interfere with our validation process.

[2018-01-10 15:47] Naramsim opened #583 "PokeApi HTTPS"
Hi, PokeAPI at this time supports only HTTPS. It uses Cloudflare HTTPS.

[2018-01-11 10:24] mikestreety commented on #583
Resolved, thanks :)

[2018-01-11 10:24] #583 closed

[2018-01-13 12:47] prashant-andani commented on #203
We need an api to search and filter public api's

[2018-01-13 16:52] davemachado commented on #203
@prashant-andani see PR #548

[2018-01-14 16:29] reilue opened #588 "Where source data come?"
Hello there, this repo is a great resource. It's absof*ckinglutely awesome the data given by the API's, but i'm asking to myself, where all this data come? where is the source?. The "Fake News" trend is here, and as glasses for a myope, i want to everybody know who, what, where, is the content we're are comsuming.

So, how do we know such thing for this API's?.

Any suggestion to address a possibl

[2018-01-14 18:06] reilue commented on #588
@davemachado  Thank for the reply and the explanation. Doing what you propose require an amount of work that would heal the internet for misinformation. But for now, and for the sake of brevity and quickly solution. For every information retrieve, mention ( and just for now ) the source of such data. As a source in a graph when any journal, industry, institution, present it.

[2018-01-14 18:33] davemachado commented on #588
I did not understand your comment. Could you please explain again in a different wording?

[2018-01-14 18:39] davemachado commented on #303
Opened PR #589 to add a CORS column - please feel free to leave thoughts on the pull request 😄

[2018-01-15 13:33] davemachado commented on #303
PR #589 merged. Closing issue 🎉

[2018-01-15 13:33] #303 closed

[2018-01-20 21:45] davemachado commented on #588
Closing aged issue.

[2018-01-20 21:45] #588 closed

[2018-01-20 21:46] davemachado commented on #575
@ErikThiart nudge

[2018-01-27 16:32] cclauss opened #601 "Undefined name 'category_line' in validate_format.py"
flake8 testing of https://github.com/toddmotto/public-apis on Python 3.6.4

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2018-01-28 20:53] davemachado commented on #601
fixed in e53982f9d1789cebf83eb022bccab5783af28e35

[2018-01-28 20:53] #601 closed

[2018-02-02 03:06] davemachado commented on #575
closing now. feel free to re-open if needed.

[2018-02-02 03:06] #575 closed

[2018-02-10 21:48] neverendingqs commented on #203
How's something like this? https://publicapis.neverendingqs.com/. It leverages @davemachado's APIs (https://github.com/davemachado/public-api).

Still needs a bit of polish (table of contents for categories available, UI could be tweaked, but looking for some early feedback.

[2018-02-17 08:37] sarang-s opened #616 "Add Marvel API in the comics section"
Thanks for looking to open an issue for this project.

If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

[2018-02-17 08:38] sarang-s opened #617 "Make this an API that returns an API based on the topic you want to search for."
Thanks for looking to open an issue for this project.

If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

[2018-02-19 17:35] davemachado commented on #617
Hi @sarang-s , please check out https://github.com/davemachado/public-api, the API for Public APIs 😄

[2018-02-19 17:35] #617 closed

[2018-02-19 17:37] davemachado commented on #616
Hi @sarang-s , do you have any information on this API? I cannot see pricing information without signing in. Thanks.

[2018-03-02 04:12] davemachado commented on #616
@sarang-s poke 😄

[2018-03-04 21:38] davemachado commented on #616
Closing as this is now two weeks old. @sarang-s if you have more information, please open a Pull Request.

[2018-03-04 21:38] #616 closed

[2018-03-20 07:27] fayazara opened #633 "Travis CI build falied on commits"
Why do I keep getting <i>The Travis CI build failed</i> when I have updated the file as per contributin guidelines?
Please have a look at [PR#631](https://github.com/toddmotto/public-apis/pull/631) & let me know how I can fix it, so that I can contribute.

[2018-03-20 15:49] davemachado commented on #633
Looking at your PR changes I can already see that your additions are not in alphabetical order (which can be confirmed by reading the log that Travis CI provides).

[2018-03-20 15:49] #633 closed

[2018-04-01 05:32] Nektro opened #644 "MetaWeather does not have open CORS"

[2018-04-08 22:35] DarthWindu opened #646 "DonReach Link is broken"
The don-reach API link (https://donreach.com/social-share-count/) results in a 404 error.

[2018-04-10 23:50] davemachado commented on #646
I'm going to give donreach a few days to see if they come back online to avoid prematurely removing a service if they are just having infra problems right now.

[2018-04-10 23:51] davemachado commented on #644
Hi @Nektro , do you have some way of showing that MetaWeather does not support CORS? Thanks.

[2018-04-11 02:32] Nektro commented on #644
When loading https://www.metaweather.com/api/location/2487956/ the API does not attach the response header `Access-Control-Allow-Origin: *` which is required by browsers for websites outside the domain `metaweather.com` from requesting its content.

![image](https://user-images.githubusercontent.com/5464072/38593306-bedf2642-3d0e-11e8-9adb-2c2fb93e9562.png)

[2018-04-11 02:46] davemachado commented on #644
Great, thanks. Fixed in 8d3c175f8f0e80fd27b66430685c9418cf36071e

[2018-04-11 02:46] #644 closed

[2018-04-11 07:24] brianbarbieri opened #648 "Netflix Roulette down"
The API for Netflix Roulette is not available anymore.

[2018-04-14 00:34] davemachado commented on #646
Fixed in 20fb3746530570d273d72ee6f916f5a38ed1d0b3

[2018-04-14 00:34] #646 closed

[2018-04-14 00:38] davemachado commented on #648
Fixed in b85ba1cd13b7fecb1063bccd38f4e04bc16b56f1

[2018-04-14 00:38] #648 closed

[2018-04-22 21:29] abhinavk99 opened #657 "Allow two new options for the Auth field"
I would like to add the [Livecoin API](https://www.livecoin.net/api?lang=en) but authentication for it requires two HTTP headers. Would you be willing to consider adding `Headers` as an acceptable option for the `Auth` field?

[2018-04-22 21:35] abhinavk99 commented on #657
Furthermore, the [Official MyAnimeList API](https://myanimelist.net/modules.php?go=api) uses [Basic Access Authentication](https://en.wikipedia.org/wiki/Basic_access_authentication), which isn't an acceptable `Auth` option either.

[2018-04-30 02:43] davemachado commented on #657
Hi @abhinavk99 , thanks for bringing this up. Can you please describe what values the two headers hold for Livecoin?

[2018-05-05 17:30] davemachado commented on #657
Livecoin could be submitted with `No` as the Auth type, since it says some services require no auth.

Adding `Basic` as an Auth type is fine, so if you could open a PR that adds some service with a Basic auth type, I will update that same PR to with the required build fixes to pass CI.

Thanks!

[2018-05-05 21:55] abhinavk99 commented on #657
I added Livecoin in #662. I ended up not adding `Basic` as an Auth type because I just realized that the API service that uses it is an XML API, not JSON.

[2018-05-06 23:02] #657 closed

[2018-05-08 15:01] palashmon opened #664 "Link to MailTest API webpage not working"
First of all thanks do much for this repo.

I found a small link related issue today.
Under [Data Validation](https://github.com/toddmotto/public-apis#data-validation) > MailTest API webpage link is not working.

Current link: http://mailtest.in/documentation/
On opening the page it shows a static page with message like:

Please review this once.

Regards!

[2018-05-10 16:47] davemachado commented on #664
Hi @palashmon , I'm going to give MailTest a day or two more to resolve their domain issue, and if it is still offline I will remove it.

[2018-05-19 20:29] BaReinhard opened #671 "Brewery DB not accepting any more public keys"
In the developer tab you are met with this message:

[2018-05-20 16:54] davemachado commented on #664
Will be removing this link during an upcoming cleanup commit.

[2018-05-20 16:54] davemachado commented on #671
Thanks for opening this issue. This entry will be removed in an upcoming cleanup commit.

[2018-05-20 20:55] BaReinhard commented on #671
No problem! Thanks for the repo, helped make a taco bot in hangouts chat. 🌮
If you're interested: https://github.com/gsuitedevs/hangouts-chat-samples/pull/9
Its pretty basic, but fun nonetheless

[2018-05-20 21:36] Travis-Owens opened #673 "Machine Learning -> Cleaverbot : Not Free Now"
https://github.com/toddmotto/public-apis#machine-learning

Cleaverbot is not free now.

See PR 674: https://github.com/toddmotto/public-apis/pull/674

[2018-05-21 06:01] davemachado commented on #673
PR merged. Thanks!

[2018-05-21 06:01] #673 closed

[2018-05-31 19:22] davemachado commented on #664
Fixed in 33c5608c857f15eb3cd39e825d0a3fa3e7dd5371

[2018-05-31 19:22] #664 closed

[2018-06-11 13:27] clemfromspace commented on #203
A little late to the party it seems, but @sarahdayan and I did https://www.api-search.io/ based on https://github.com/davemachado/public-api

It's powered by an @algolia backend, and you can find the code here: https://github.com/clemfromspace/api-search

Full disclosure: We are both employees @algolia :)

[2018-06-11 15:13] toddmotto commented on #203
@clemfromspace Thanks for sharing, this is great!

[2018-06-13 16:49] clemfromspace commented on #203
@toddmotto Thanks to you for this great repository!
Do you think it's might be possible to add a link to the website / github under the API one on the README?
Of course I can do a PR :)

[2018-07-17 16:12] MrGrigri opened #720 "Instagram Proxy is dead"
Thanks for every single one of these. However, I've noticed that the Instagram Proxy has been [archived](https://github.com/whizzzkid/instagram-proxy-api/issues/28).

[2018-07-25 03:15] davemachado commented on #720
Fixed in 4a2e19c. Thanks for reporting!

[2018-07-25 03:15] #720 closed

[2018-07-26 08:15] jezmck opened #727 "Make the names the links instead of the "Go!" column."
It's likely that this could be done with a single regex search/replace.

[2018-07-26 08:36] mikestreety commented on #727
Sounds like a reasonable suggestion! Reckon you could do it? If so, make a PR 😄

[2018-07-30 05:54] pg07codes opened #729 "adding RATE option"
i am not very sure on how it would be implemented but having a rating option(based on how large dataset api has , ease of use, and various other factors ).
It can be rated by the users and would be of a lot of help for other users.

[2018-07-30 10:18] anderson-joyle opened #730 "LabStack link not working"
LabStack (currency exchange) link leading to nowhere.
https://labstack.com/docs/api/currency

[2018-08-05 19:17] swpease opened #736 "openFDA link returns 403 Forbidden"
As the title says.

[2018-08-12 20:36] davemachado commented on #736
Fixed in b3b1b00. Thanks!

[2018-08-12 20:36] #736 closed

[2018-08-12 23:44] davemachado commented on #730
Thanks! Fixed in 6b92d32

[2018-08-12 23:44] #730 closed

[2018-08-21 05:12] abalone23 opened #747 "More detailed auth values"
I'd like to see more detailed values for the auth column, like OAuth 1.0, OAuth 2.0, cookie, Bearer, Digest Basic etc.

[2018-08-27 19:32] ericandrewlewis opened #750 "RandomFox API does not support CORS"
I saw the RandomFoxAPI listed as supporting CORS but after testing it found otherwise.

<img width="1280" alt="screen shot 2018-08-27 at 3 28 07 pm" src="https://user-images.githubusercontent.com/1087646/44681361-5bba4c00-aa0e-11e8-9c38-e06997f9b7cb.png">

Here's [the Codepen to reproduce the bug](https://codepen.io/ericandrewlewis/pen/YOqbYV?editors=0010)

[2018-09-04 02:26] davemachado commented on #747
Hi @abalone23 , thanks for raising this issue. The issue with adding more specific values for the auth column is that over time the cardinality of values grows very quickly. If you would like to comb through the current listings and see how widespread that column would become and report back with more concrete data, that would be great! Until then, or until someone else decides to pick up that tor

[2018-09-04 02:26] #747 closed

[2018-09-04 02:27] davemachado commented on #729
I think this could be a great feature request for #203 - but until we have a backend to support a reddit-like voting mechanism, this issue will need to be closed.

[2018-09-04 02:27] #729 closed

[2018-09-04 03:53] abalone23 commented on #747
Thank you for the explanation.

[2018-09-10 01:46] davemachado commented on #727
Fixed in e2b66cea263d77107000855ce66fb3554922dd02 🎉

[2018-09-10 01:46] #727 closed

[2018-09-18 16:10] Abhi5h3k opened #758 "google URL Shortener API"
Hi,

It's my first time reporting something, so kindly bear with me.

Kindly **update/remove** the [google URL Shortener API](https://developers.google.com/url-shortener/v1/getting_started) from the "URL Shorteners List" as Starting March 30, 2018, Google  will be turning down support for goo.gl URL shortener.

regards
Abhishek

[2018-10-19 20:22] RDumais opened #792 "Transport for Boston, US - Dead Link"
Currently, it points to [https://mbta.com/developers/Home/Documents](https://mbta.com/developers/Home/Documents)
The correct URL is [https://mbta.com/developers/v3-api](https://mbta.com/developers/v3-api)

[2018-10-19 20:46] davemachado commented on #792
Fixed in 57ec644665f74e023cfea5d4945069059357dbee

[2018-10-19 20:46] #792 closed

[2018-10-31 17:02] s-nirali opened #802 "Need to allow more fields in Auth type"
The Auth type does not accept values of headers such as `Authorization` header and fails the Travis CI build.

[2018-10-31 17:55] s-nirali commented on #802
Yes, it is in connection to PR #801 . The header is `Authorization` and it's value is a signature derived from an [algorithm](https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html) specified on the AWS website.

[2018-11-04 17:12] davemachado commented on #802
Since #801 is now closed , I will be closing this issue as well.

[2018-11-04 17:12] #802 closed

[2018-11-06 16:24] lukesmurray opened #813 "Open Api Specification"
For apis which have a public open api specification, there is additional power given to the developer such as the ability to automatically generate a client, a server, documentation, testing and more. This page has a collection of projects which support the above-mentioned abilities  https://apis.guru/awesome-openapi3/.

I was wondering if people in the list have any interest in adding a column to

[2018-11-09 03:42] davemachado commented on #813
Hi @lukesmurray , thanks bringing this up. Allowing every entry to link to its preferred documentation was worked well for us for quite some time. I also would feel pretty confident that most entries in this project do not support this specification, so the extra column would be empty more times than not. I'm going to close this issue for now, but please feel welcome to contribute to the project i

[2018-11-09 03:42] #813 closed

[2018-11-13 02:46] torkelrogstad opened #818 "Auth field value for cryptocurrency micropayments"
The available values for the Auth field are not really enough for the API that [SuredBits](https//suredbits.com) (disclaimer: I work with SuredBits) provides. The SuredBits sports API utilizes bitcoin micro payments, were you either pay per API call or pay for a set amount of time with API data being streamed to you.

A fitting field for such APIs could be pay-per-call/PPC, micropayments, cryptopa

[2018-11-17 02:05] inglesuniversal opened #820 "seggest addition"
I would suggest adding the following API

https://cors.io/

unless you already have listed a better option which I am not aware of.

Regards

[2018-11-19 01:02] Spencerx opened #821 "Bootstrap API List"
Just a note to @programmableweb team. This is another awesome github list to develop with or improve upon with your input.

[2018-11-26 20:09] #821 closed

[2018-12-05 02:11] davemachado commented on #818
Hi @torkelrogstad , unfortunately any service that is fee-based cannot find a home in this project.

[2018-12-05 02:11] #818 closed

[2018-12-05 02:12] davemachado commented on #820
Hi @inglesuniversal , is there documentation for this service somewhere?

[2018-12-05 02:30] inglesuniversal commented on #820
Please allow me to double check the info and I will be more than happy to post my findings here.

[2018-12-29 02:20] andersaucy opened #845 "Qriosity is wrongly hyperlinked"
The link for the Qriosity api is wrong , https://www.qriosity.org/

[2019-01-04 21:17] mddanishyusuf commented on #203
I build the website with the README history and I'm also adding more metadata to the cards as author, commiter and date.

https://public-apis.xyz

let me know your thought on this.

Thanks

[2019-01-04 21:51] mddanishyusuf opened #846 "I build the website with the README history and I'm also adding more metadata to the cards as author, commiter and date."
I build the website with the README history and I'm also adding more metadata to the cards as author, commiter and date.

https://public-apis.xyz

let me know your thought on this.

Thanks

_Originally posted by @mddanishyusuf in https://github.com/toddmotto/public-apis/issues/203#issuecomment-451571107_

[2019-01-06 12:01] mddanishyusuf commented on #203
@RyanNerd I used CRA and and.design for front-end.

[2019-01-06 12:02] mddanishyusuf commented on #203
@jbrooksuk Thanks. You can subscribe for newsletter. so I'll email for new features and APIs.

[2019-01-17 19:54] mkdoh3 opened #856 "https://www.mywot.com/wiki/API link dead - should be updated to https://www.mywot.com/en/API"
Thanks for looking to open an issue for this project.

If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

See title. Thanks for your work!

[2019-01-27 18:46] davemachado commented on #856
Fixed in a4e023f29edea36960705cda6a07389cf7ff5613

[2019-01-27 18:46] #856 closed

[2019-01-27 18:48] #820 closed

[2019-01-27 18:51] davemachado commented on #845
Fixed in 6dd10005d6e518e036e473e4a5c17f7440937fa7

[2019-01-27 18:51] #845 closed

[2019-02-05 12:30] abhijithvijayan opened #870 "add kutt.it"
https://github.com/thedevs-network/kutt/blob/develop/README.md

[2019-02-06 11:33] nympheastudio opened #877 "Geocoding/zipcodeapi API is just for US zipcode"
i suggest to add that zipcodeapi  API is working for US zipcode only.

[2019-02-08 10:13] r-sreesaran opened #882 "Add field to display api documentation url"
please consider adding a field to display whether api documentation is available and also add the link for the documentation if available.

[2019-02-08 13:45] pimterry opened #883 "Add API base URLs"
It'd be useful to have the base URLs for each API listed (e.g. all Trello requests start with `https://api.trello.com/1`).

That would make it possible to do reverse lookups, and use this list to find docs, descriptions & metadata for a given URL or HTTP request, rather than just finding APIs by category. It'd take a fair bit of manual work to fill out, but I think it'd be super useful. Is that so

[2019-02-17 19:01] ajzbc opened #895 "dronstream may be dead"
Looks like [dronestream](https://dronestre.am) may no longer a thing.
The home page seems to still be up, but the [api page](https://api.dronestre.am/) is completely dead.
However, the api endpoint on the home page [api.dronestre.am/data](https://api.dronestre.am/data) still works.

[2019-03-14 01:42] PressX2Jason opened #913 "Petfinder might be dead, or at least the link is dead"
The [link](https://www.petfinder.com/developers/api-docs/) provided in the readme for petfinder now leads to a redirect site instead of the api.

[2019-03-15 20:23] mloberg commented on #913
See #911

[2019-03-16 16:18] DarrienG opened #915 "What does ultimatecourses.com do to sponsor public-apis?"
I really like this project and it's great we have all of these APIs in one place, but I'm wondering how Ultimate Courses sponsors this repo.

The APIs are all free, and Digital Ocean provides hosting space, so I'm confused about how Ultimate Courses fits in. It even gets a full banner ad, but Digital Ocean is just a small link?

Does Ultimate Courses pay the contributors? @toddmotto

I feel like t

[2019-03-16 16:29] #915 closed

[2019-03-16 16:29] DarrienG commented on #915
????

[2019-03-16 16:30] DarrienG commented on #915
What does this contribute to the repo?

[2019-03-24 00:59] riderjensen opened #918 "Population.io link not working"
Thanks for looking to open an issue for this project.

If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

[2019-03-28 02:05] riderjensen commented on #918
This issue isnt resolved, I have decided to contact the owners of the website and ask if they took it down. I will update when I receive an answer.

[2019-03-28 18:56] riderjensen commented on #918
This is the response that I received:

"Hello --

Thanks for reaching out regarding our Pop.io API outage. We need your help.

In order to be able to provide Pop.io API services indefinitely we as an organization need to find reasonable ways to charge future users and user organizations for the data and service. Otherwise, we will have to pull the plug, as it is just too costly to maintain and ope

[2019-03-29 15:00] riderjensen commented on #918
This item was merged into the main branch and thus I am closing the issue. If at some point in the future, they allow wider access to their API, someone can reopen this issue.

[2019-03-29 15:00] #918 closed

[2019-03-29 18:16] riderjensen commented on #913
Both the old doc and new doc links are 404ing with Travis, not sure what the issue is - see https://github.com/toddmotto/public-apis/pull/926

[2019-04-03 12:18] OcaenEyes opened #930 "amazing"
Thanks for looking to open an issue for this project.

If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

[2019-04-03 12:36] #930 closed

[2019-04-14 07:47] v786 opened #933 "Cat Facts Daily cat facts - No CORS"
Just wanted to let you guys know that  Cat Facts has No CORS policy.

[2019-04-17 19:19] brunopulis opened #935 "UFC API no longer exists"
Hi,

Recently I searching about from UFC API in section Sport & Fitness, but the API doesn't exist anymore on Heroku. Check [this link](http://ufc-data-api.ufc.com/).

[2019-04-18 08:19] #935 closed

[2019-04-18 08:27] #895 closed

[2019-04-18 08:28] jbrooksuk commented on #846
The site is no longer working.

[2019-04-18 08:28] #846 closed

[2019-04-18 19:20] #933 closed

[2019-04-18 21:35] daxpunk opened #936 "Radio Browser api"
I have found this api yesterday ;)

http://www.radio-browser.info

Dax

[2019-04-21 14:13] yannbertrand commented on #203
Closing this issue. Please feel welcome to use this repo as a database for your projects

[2019-04-21 14:13] #203 closed

[2019-04-21 21:11] Eguthrie3214 opened #938 "pet finder link no longer works."
https://www.petfinder.com/developers/api-docs/

receives page not found found response.

[2019-05-05 11:20] navanchauhan opened #950 "[Idea/Enhancement] Adding link to python module"
Most of the API links have wrappers around them, why don't we start including them?

[2019-05-26 04:15] cuilei5205189 opened #964 "artsy.com"
https://developers.artsy.net/

[2019-06-11 08:20] ghost opened #976 "theaudiodb api uses https"
The theaudiodb API uses https
[https://www.theaudiodb.com/api/](https://www.theaudiodb.com/api/)

[2019-07-22 17:44] nicentra opened #989 "The xkcd API does not allow CORS"
The README.md says it does but `https://xkcd.com/info.0.json` does not return the `Access-Control-Allow-Origin : *` header. I found this out since I wanted to experiment with APIs and opted to write a quick and dirty expressjs app to rehost it with ACAO header.

[2019-07-26 11:59] #870 closed

[2019-07-26 19:12] lucaslmmanoel opened #990 "add hubi api"
Crypto currency api
https://www.hubi.pub/docs/index-en.pdf

[2019-08-02 12:39] inglesuniversal opened #994 "This is one of my favorite repositories for awesome APIs"
Would you suggest or add something I see missing:

form generators for developers

there are hundreds out there, I hope you can help me narrow down my options and better yet, include it for the benefit of other developers.

Regards

[2019-08-12 04:08] stl1988 opened #998 "fortniteapi.com important information"
Starting September 1st, the Fortnite API at fortniteapi.com will always require an authorization token, even on the "public" server. The developer has announced this on the Discord server of this API.

[2019-08-12 08:57] montogeek commented on #998
Should we remove it?

[2019-08-12 12:24] stl1988 commented on #998
No, but the table always says if an authorization is required, and that should be changed from "No" to "apiKey" at Sepzember 1st. The API is still freely available.

[2019-09-01 19:58] michaeljacquemart opened #1009 "haveibeenpwned's v3 API"
Hello,
https://haveibeenpwned.com/API/v2 is not up to date anymore.
And - sad news - the v3 is not free anymore...

[2019-09-17 06:41] codePrady opened #1016 "AXFR Database link doesn't work"
The following link for AXFR public database under the **security** table doesnt seem to be working. I searched and cannot find a working URL either.
http://api.axfrcheck.com/

[2019-09-20 17:39] lucaslmmanoel opened #1020 "insert https://developers.bb.com.br/docs/#!/Checking_Account/get_statements_checking_account"
Thanks for looking to open an issue for this project.

If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

[2019-09-20 22:45] #938 closed

[2019-10-01 19:45] yannbertrand commented on #1020
Please do a PR

[2019-10-01 19:48] #1016 closed

[2019-10-01 19:51] #998 closed

[2019-10-01 19:54] yannbertrand commented on #994
Hey!

I'm not sure on what you are talking about, what do you mean by form generators?

[2019-10-01 19:55] yannbertrand commented on #990
Please do a PR

[2019-10-01 19:55] #990 closed

[2019-10-01 19:55] #1020 closed

[2019-10-01 19:58] #976 closed

[2019-10-01 19:59] yannbertrand commented on #964
Please do a PR

[2019-10-01 19:59] #964 closed

[2019-10-01 20:00] yannbertrand commented on #936
Good find

Please do a PR 😄

[2019-10-01 20:00] #936 closed

[2019-10-01 20:05] #877 closed

[2019-10-01 20:10] yannbertrand commented on #883
Hey! Sorry for the delay

I'm not sure on how that would be helpful. Can you help me to understand why?
Don't you think that would be too complicated to have all those information in here?

[2019-10-01 20:13] yannbertrand commented on #882
Interesting. Would need tons of work to add them all tho...

[2019-10-01 20:27] inglesuniversal commented on #994
Like this one:

https://formbuilder.online/

[2019-10-01 21:10] yannbertrand commented on #994
I see... Well this repo is not suited for that since we are listing Public HTTP(s) APIs but you could certainly create another repo for those! 😃

[2019-10-03 01:24] widyakumara opened #1055 "Enhancement: Allow multiple auth scheme"
Sometime an API does not require auth to read data, but requires it to add/edit/delete data. The current columns doesn't seem to support this scenario.

[2019-10-03 11:30] yannbertrand commented on #1055
You're right.

However, from my point of view, this repo's main purpose is to list publicly readable APIs.

There are other info that we don't provide such as quotas... I'm not 100% sure we can add this kind of info without complicating the project too much. It would also require to find the info for all already listed APIs.

What do you think?

[2019-10-03 11:34] #994 closed

[2019-10-03 11:35] #882 closed

[2019-10-03 11:35] yannbertrand commented on #1055
Related to #882

[2019-10-03 11:35] #883 closed

[2019-10-03 11:35] yannbertrand commented on #1055
Related to #883

[2019-10-03 11:36] #913 closed

[2019-10-03 11:46] yannbertrand commented on #950
Hey! Sorry for the delay

What do you mean by wrappers?

[2019-10-04 09:28] flofriday opened #1066 "NASA requires API key ?"
I just looked at the NASA API website and there it asks me to register with an API key.

Maybe I am getting something wrong here, but if not I would love to fix this. I haven't really done much open source work, but I would love to change that.

Here ist the link I tried: https://api.nasa.gov/

[2019-10-04 18:11] Ronkiro commented on #1066
There are many APIs at NASA. Some asks for API Keys, Some don't.

For each API, there are the parameters, if there is *apikey* parameter, it will ask for it. Some really need it, and some just gives more options to use.

[2019-10-04 18:14] Ronkiro commented on #1055
Maybe should we add some short-semantic letters to it?

Like OA = OAuth, K = apikey... So a label for this would be `OA/K`

[2019-10-06 09:21] #989 closed

[2019-10-06 09:44] yannbertrand commented on #1066
Hey @flofriday, thank you for that review 😄

It's quite complicated. Some APIs offer a number of requests for free and then requires an authentication. Currently, we try to display the first accessible option.

As @Ronkiro said, NASA case is even more complicated since they offer a list of APIs with different authentication processes. So, from my POV, we should stick with the first accessible opti

[2019-10-06 09:44] #1066 closed

[2019-11-12 12:15] amstr4d opened #1117 "Battlefield videogame API has shutdown"
Hello,

The API for the videogame serie Battlefield has shutdown on October 27, 2019. You can see this information on their website : https://endof.p-stats.com/

I think, you can remove this from the list, or change it to another, if you know one.

[2019-11-13 21:48] JoSchwartz opened #1118 "Dribbble API"
the dribbble API takes to v1 that is retired. it should direct to http://developer.dribbble.com/v2/

[2019-11-27 21:33] SpikedPunchVictim opened #1122 "Food2Fork has shutdown"
As the title states

[2019-11-28 14:45] #1117 closed

[2019-11-28 14:45] #1122 closed

[2019-12-09 20:41] moreiramedeiros opened #1128 "Adicionar texto vazio"
Thanks for looking to open an issue for this project.

If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

[2019-12-09 20:43] #1128 closed

[2019-12-12 05:55] zakokor commented on #203
Nice job! Any one interested in share this links on pegao.co ? I have an API too thanks

[2019-12-13 23:44] Mattwmaster58 opened #1129 "Automatically Detecting CORS Support"
Hi, I was wondering if it would be possible to automatically check if CORS. As I understand it, all you need to do is check that the `Access-Control-Allow-Origin` header equals `*`. If that's the case, I think this would be relatively easy to implement.

[2019-12-14 08:10] mddanishyusuf commented on #203
Thanks. I use Gatsby.

[2019-12-16 13:54] yannbertrand commented on #1118
Hey! Can you do a PR to change its URL? :)

[2019-12-16 13:58] yannbertrand commented on #1129
Hey! Thank you for the idea 🙂

That would be great, but we don't list APIs endpoints directly. We're discussing that kind of questions and how to keep the data clear for users on #1055.

[2019-12-16 13:58] #1129 closed

[2019-12-16 13:58] yannbertrand commented on #882
See #1055

[2019-12-16 13:58] yannbertrand commented on #883
See #1055

[2019-12-16 14:00] #1009 closed

[2019-12-18 12:36] Fronesis commented on #644
![image](https://user-images.githubusercontent.com/27814608/71086946-55b82380-219b-11ea-9613-deb4f57372b6.png)

[2019-12-26 13:24] alpha332 opened #1137 "Finnhub stock API - the new kid in the block"
Hi guys,

Just wanna give an update about a new free API for finance category. Finnhub is offering 60 free API calls /minute and probably the most generous of all financial data providers out there.

Their API support real-time stock prices, forex and crypto + fundamental data delivered through REST API and Websocket. Here is their docs: https://finnhub.io/docs/api

[2020-01-04 21:45] legitcode267 opened #1146 "Shibe online CORS"
#1147

[2020-01-04 22:17] legitcode267 commented on #1146
I send PR request.
https://github.com/public-apis/public-apis/pulls

[2020-01-28 15:25] karmek-k opened #1157 "Dead sponsor's link in README.md"
https://ultimatecourses.com/assets/img/banners/ultimate-angular-github.svg
This link gives a 404 error.
Tested on two devices (a PC and a smartphone).

[2020-01-28 15:34] karmek-k commented on #1157
Nevermind, it strangely works now.

[2020-01-28 15:34] #1157 closed

[2020-02-16 17:07] #1146 closed

[2020-02-16 17:08] #1118 closed

[2020-02-27 19:51] gromovadarya90 opened #1170 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 22:00] renata2216 opened #1171 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:21] renata7738 opened #1172 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:24] renata7738 opened #1173 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-28 06:26] helen78989 opened #1183 "I am looking for a guy to fuck ❤️"
I am looking for a guy to fuck ❤️

[2020-03-17 14:48] Tadaboody commented on #950
I think they mean something like what [discord.py](https://discordpy.readthedocs.io/en/latest/) is for the discord api

[2020-03-30 15:06] elia-c opened #1199 "Featured Request: Add records number"
It would be interesting, in the readme tables, to add the column "number of records" in order to have an idea of the size of the database.

[2020-04-01 13:43] mikeohara opened #1201 "Consider adding a depreciation warning for Dark Sky weather API for 2021"
With the recent acquisition of Dark Sky by Apple: https://www.bbc.com/news/technology-52115095

The news seems to indicate that the Dark Sky API will be discontinued and no longer accepts new signups.

Should there be a warning or a depreciation note for that service?

[2020-04-02 15:51] jbrooksuk commented on #1201
I'd suggest removing it altogether since they're not accepting new users.

[2020-04-05 15:07] #1201 closed

[2020-04-10 11:26] ghost opened #1208 "pwrtelegram now deprecated and superseded by madelineproto"
https://pwrtelegram.xyz/

might aswell stop working as its deprecated

[2020-04-13 15:22] ASADKHAN1536 opened #1213 "Api's"

[2020-04-13 15:23] #1213 closed

[2020-04-16 14:28] GeekDenCode opened #1221 "Agify isn't available"
Please remove "agify" from list

[2020-04-16 14:45] yannbertrand commented on #1221
Why?

[2020-04-16 19:29] GeekDenCode commented on #1221
Okay, maybe that's because I'm from Russia
![DeepinScreenshot_select-area_20200416222724](https://user-images.githubusercontent.com/23342144/79498235-a187b600-8031-11ea-8ec8-166f146e8c85.png)

[2020-04-16 20:47] SuperSandro2000 commented on #1221
Can confirm that it is available. Maybe they had a temporary outage.

[2020-04-16 23:18] cbedoy commented on #1221
Can double confirm, it's working fine.

[2020-04-16 23:19] cbedoy commented on #1137
@alpha332  why don't add your API to the READ.ME

[2020-04-16 23:26] #1221 closed

[2020-04-23 09:36] f-naranjo opened #1240 "Madrid Transport Update"

[2020-04-23 09:40] #1240 closed

[2020-05-15 15:49] marekdano opened #1268 "State of public-apis"
There are lots of PRs opened with "new" API which can be added to the list on README.
I'm free to help with it.

[2020-05-26 01:48] TheRandomCrafter83 opened #1275 "Category Entry Count"
Instead of getting just a list of categories on your own api, would be nice to get an entry count along sode of each category.

[2020-05-29 12:37] GrigoryTabachkov opened #1280 "Numbers api is dead"
Hello there and thx for this repo! Very useful

Today, right before my first api-usage mini-presentation numbersapi.com 404 =)
But yesterday it works

[2020-05-30 21:48] akinncar commented on #1280
Can you try to acces again? works fine here, the url redirects to http://numbersapi.com/#42 automatically. Docs are in the main page.

[2020-05-31 06:56] GrigoryTabachkov commented on #1280
Lol today it works again
Seems I was damned at friday :)

[2020-06-22 01:46] thoms994 opened #1297 "Website bauen"

[2020-07-08 09:18] lveillard opened #1307 "MailboxValidator is not public? and is not free"
Hello! Just to update that this api is not free. It has a free test (like all the rest of email validators) but it's a paid app.

Also the link drives directly to the webpage, no trace of any public repo

[2020-07-08 09:34] lveillard commented on #1307
Maybe it would be a nice idea to add a column to identify free/paid apis?

[2020-07-08 19:05] kazirazon1424 opened #1308 "Gittepo"

[2020-07-17 14:30] kacem007 opened #1315 "Publïc apî"

[2020-07-20 19:39] Orinfini opened #1317 "Api's publicas gratis"

[2020-08-07 23:26] fareezMaple opened #1329 "RandomCat link dead"
RandomCat api, found in animals' section, throwing an error

![image](https://user-images.githubusercontent.com/60868965/89695917-567b1100-d948-11ea-9e3e-356c7d94ae9a.png)

[2020-08-13 17:36] r-sunny opened #1334 "Web Of Trust (WOT) link is dead."
Hi,

In the antimalware section, the hyperlink associated with **Web Of Trust (WOT)** seems to be not working as expected. You will get a 404 when you try the access the link. Kindly check and correct the same.

Thanks,
Rakesh

[2020-08-14 18:03] Dev-MateusBrito opened #1336 "Watch"

[2020-08-15 23:52] isaacdizzoh opened #1339 "Public APIs to use"

[2020-08-25 03:06] sell opened #1349 "Not an issue but a question!-"
I am unsure where to add this api:
https://no-api-key.com/
it offers a bunch of free api route without an api key, such as animals, image manipulation, and more.

[2020-08-26 21:07] termizima opened #1350 "Li"
Thanks for looking to open an issue for this project.

If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

[2020-09-03 17:24] souvik362 opened #1360 "Remove this Indian Railways (http://api.erail.in) False api #important"
# Please remove this from **apiurl** list it's a false api
## it's on transportation section and named as Indian railways
### by checking it manually its look like a someone's personal website please check and remove it
* Link - [False api link](http://api.erail.in/)

[2020-09-04 15:09] ShillSeeker2020 commented on #1137
Everyone needs to be aware that alpha332 is a shill account for an employee/owner of Finnhub - Spencer Sands

Finnhub has been shill spamming various forums including Reddit, Quora, Github, EliteTrader, Medium and other venues.   Their posts have been moderated/deleted in many places.

They have been verified as blatantly copying/redistributing data without license from places include Investors Ex

[2020-09-07 07:18] HelioHerculano opened #1364 "public-apis"

[2020-09-09 12:22] ShillSeeker2020 commented on #1137
More details about their complicity here:
https://github.com/piquette/finance-go/issues/14
https://www.reddit.com/r/algotrading/comments/in5u6x/beware_medium_guide_stock_market_apis_for_2020/

[2020-09-20 02:42] t0xic0der opened #1370 "Let's Validate API is defunct and should be removed"
The "Let's Validate" API has been last worked upon back in 2018. Their website and the API both give a 404 error now which means that the project is probably not maintained anymore.

[2020-09-23 01:17] PEDROINVAA opened #1373 "Apis"

[2020-09-26 11:14] #1364 closed

[2020-09-26 11:15] #1373 closed

[2020-09-26 11:15] #1350 closed

[2020-09-26 11:16] #1339 closed

[2020-09-26 11:16] #1336 closed

[2020-09-26 11:18] yannbertrand commented on #1334
To replace with https://support.mywot.com/hc/en-us/articles/360024398673-3-Using-the-API

[2020-09-26 11:19] yannbertrand commented on #1329
Seems to work now!

[2020-09-26 11:19] #1329 closed

[2020-09-26 11:19] #1317 closed

[2020-09-26 11:19] #1315 closed

[2020-09-26 11:23] yannbertrand commented on #1307
I think there is a limited [free tier](https://www.mailboxvalidator.com/plans#api). Let me know if it's not accessible I'll remove it

[2020-09-26 11:23] #1297 closed

[2020-09-26 11:24] #1280 closed

[2020-09-26 11:31] yannbertrand commented on #1268
Hey Marek, thanks for the kind message.

Unfortunately, I don't have access to the settings of the repository so I can't accept new maintainers. I'm not sur any of the current maintainers got settings access 😕

I think @toddmotto is the only one that could help us with that as he's the org owner.

[2020-09-26 11:34] yannbertrand commented on #1268
Btw, I'll try to catch up as much as possible in October as many people want to contribute to this very list for the [Hacktoberfest](https://hacktoberfest.digitalocean.com).

[2020-09-26 11:41] yannbertrand commented on #950
I see. The point of this repo is to give the "lower level" API which can be used with no wrapper at all if wanted. I understand why it would be useful but it would be too much maintaining work.

I would suggest adding these wrappers info directly inside the API documentations if possible.

[2020-09-26 11:41] #950 closed

[2020-09-28 10:38] md-yaseen commented on #1334
Hi,
I would like to work on this issue and replace the WOT hyperlink with the one provided.

[2020-09-28 11:09] md-yaseen commented on #1360
Hi,
Indian Railways don't have an official API for public, but I found a website which that provides API and is authorized by Indian Railways.
I would like to work on this issue.
Link - https://www.affiliate.confirmtkt.com/

[2020-09-28 13:33] Arsidio opened #1376 "Api"

[2020-09-28 19:35] Rolv-Apneseth commented on #1370
Made a pull request removing the Let's Validate API entry from the readme. #1378

[2020-09-28 19:36] Rolv-Apneseth commented on #1370
First time making a proper pull request, please let me know if I've done things correctly. Thank you

[2020-09-30 08:01] 3ng7n33r commented on #1334
.take

[2020-09-30 09:07] md-yaseen commented on #1334
Okay.

[2020-10-01 12:59] marekdano commented on #1268
@yannbertrand, thanks for your reply.
Do you think that it'll be worth for fork this repo and then people can contribute to the forked one if @toddmotto won't add more maintainers?

[2020-10-01 19:46] #1376 closed

[2020-10-01 19:48] #1370 closed

[2020-10-01 19:48] yannbertrand commented on #1370
It was great, thanks @Rolv-Apneseth and @t0xic0der

[2020-10-01 19:56] #1334 closed

[2020-10-01 19:58] yannbertrand commented on #1334
Thanks @3ng7n33r. Please be careful next time as @md-yaseen wanted to look into it.

[2020-10-01 20:00] yannbertrand commented on #1275
Unfortunately won't be able to maintain that in the repo. Would be great in a custom website tho.

[2020-10-01 20:00] #1275 closed

[2020-10-02 03:38] t0xic0der commented on #1370
Glad to help. :smiley:

[2020-10-03 16:00] ArmandoAmmar opened #1399 "Add language support"
I think that is a good idea to add a column to languages that the APIs have support because is really painful to enter everything to see what language this supports.

[2020-10-03 16:47] hugonun opened #1401 "Adding repository to Hacktoberfest"
Could the Hacktoberfest topic be added to this repository? Otherwise, PRs receive the "Ineligible Repository" and won't be counted.

![image](https://user-images.githubusercontent.com/43740923/94997006-7f1a3280-05a8-11eb-8c1d-9d2c3b01f44b.png)

Thank you for your time in maintaining this list for so long!

[2020-10-03 17:09] yannbertrand commented on #1401
Hey, thank you for your kind message.

Unfortunately, I personally don't have access to the repository settings nor its details edit dialog.

I'm not sure other maintainers got access to them. I tried to contact @toddmotto (he's the creator and the org owner) but got no answer yet.

[2020-10-03 17:11] #1360 closed

[2020-10-03 17:11] toddmotto commented on #1401
Hi - am currently infected with coronavirus will be back soon. I
transferred this repo to another owner as well so am not owner anymore and
won’t make any changes on their behalf without permission.

On Saturday, 3 October 2020, Yann Bertrand <notifications@github.com> wrote:

--
@toddmotto

[2020-10-03 17:13] yannbertrand commented on #1401
Thanks for your answer, Todd. Take care!

[2020-10-03 17:14] toddmotto commented on #1401
❤️

On Saturday, 3 October 2020, Yann Bertrand <notifications@github.com> wrote:

--
@toddmotto

[2020-10-06 05:16] yannbertrand commented on #1401
So, I can flag valid PRs with the ´hacktoberfest-accepted´ label.

![Hacktoberfest rules](https://user-images.githubusercontent.com/5855339/95161450-7fcae880-07a3-11eb-8104-fa06379cbd28.jpeg)

[2020-10-06 05:16] #1401 closed

[2020-10-07 16:31] Darknez07 commented on #1268
@marekdano  Please review my request for future API for IMDB--> Help is welcome, First time posting for contribution, Correct if wrong thanks anyway Refer API_of_Imdb repo

[2020-10-08 09:43] JonasM09 opened #1406 "Dhbw Test"
Thanks for looking to open an issue for this project.

If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

[2020-10-08 23:41] AnEmortalKid commented on #1268
Reached out to Todd via twitter, I've found luck with that method before, let's see if it pans out again.

[2020-10-09 05:19] yannbertrand commented on #1268
Hey, Todd answered on #1401! I was wrong, he's not the owner anymore. Hopefully we can find out the new owner.

[2020-10-09 05:47] Darknez07 commented on #1268
Who's the owner now?

[2020-10-09 13:01] marekdano commented on #1268
@yannbertrand any idea how we can find the new owner?

[2020-10-09 15:02] Darknez07 commented on #1268
Thanks i will sure once my authentication is done

[2020-10-09 15:02] Darknez07 commented on #1268
expect it in 1 hour

[2020-10-09 16:27] yannbertrand commented on #1268
@Darknez07 please don't spam about your PR. Most open source maintainers are doing it in their off time, for free.
We already have more than 200 open PRs late in here: it's a lot of work to review them.

I'm trying my best to know how we could get help. Please be patient.

[2020-10-09 16:27] #1406 closed

[2020-10-09 16:30] Darknez07 commented on #1268
So i will hold it for 1 week is that ok

[2020-10-09 16:32] yannbertrand commented on #1268
You can submit it! I just can't promise I will review it 😔

[2020-10-09 16:32] yannbertrand commented on #1268
Anyways, I'm contacting GitHub support to find a solution on the initial question.

[2020-10-09 16:36] marekdano commented on #1268
@yannbertrand Thanks for taking action to find the owner! I appreciate it!

[2020-10-09 16:36] Darknez07 commented on #1268
@yannbertrand  even after a week ?

[2020-10-09 18:41] yannbertrand opened #1408 "[GitHub Action] Detect broken links"
It would be great to check for 404 for:
- all links once a day
- the new link in a PR

[2020-10-10 14:34] Yagueteiro commented on #1408
Hi, can I do this?

[2020-10-10 14:43] yannbertrand commented on #1408
Sure, the GitHub Action can be found [here](https://github.com/public-apis/public-apis/blob/master/.github/workflows/test.yml).

The initial bash code executed by Travis was [this file](https://github.com/public-apis/public-apis/blob/master/build/main.sh) that execute some Python scripts.
But I think the [broken links check](https://github.com/public-apis/public-apis/blob/master/build/validate_lin

[2020-10-11 19:26] #1208 closed

[2020-10-11 19:41] yannbertrand commented on #1399
Would be interesting. Linked to #1055

[2020-10-11 19:41] #1399 closed

[2020-10-11 19:43] yannbertrand commented on #1349
The way to go with this kind of meta list would be to add each API one by one in public-apis.

Thanks for the link.

[2020-10-11 19:43] #1349 closed

[2020-10-11 19:45] yannbertrand commented on #1199
Would be tough to maintain tho. I'd suggest to build a website if you think it's useful.

[2020-10-11 19:45] #1199 closed

[2020-10-11 19:46] #1137 closed

[2020-10-14 23:04] MeShootIn opened #1416 "Relink suspended"
Shortlinking service rel.ink has been suspended.

[2020-10-15 07:51] SitramSoft commented on #1408
I think this issue can be closed. The action for validation of all the links from README.md is working now.

[2020-10-15 07:56] SitramSoft opened #1417 "Broken links in README.md"
There are several links that are broken in the README.md file based on the report from the link validation activity.

Below is the log from the script. It contains the error code reported and the link on which it was reported.

[code]

[2020-10-15 08:29] SitramSoft commented on #1417
404: https://github.com/public-apis/public-apis/workflows/Run%20tests/badge.svg](https://github.com/public-apis/public-apis/actions?query=workflow%3A%22Run+tests%22
404: https://github.com/davemachado/public-api!

These two are not actually broken. They are links from GitHub and I was able to open them. I don't know why the environment where the action is running is reporting 404 error. I'm thinki

[2020-10-15 18:50] #1417 closed

[2020-10-15 18:56] yannbertrand commented on #1408
Thanks @SitramSoft

[2020-10-15 18:56] #1408 closed

[2020-10-15 18:59] #1416 closed

[2020-10-16 09:09] SitramSoft opened #1420 "Investigate links reported by validate links action"
The following errors are reported by the validate links action and needs to be investigated.

404: https://www.petfinder.com/developers/v2/docs/
ERR: Content purported to be compressed with gzip but failed to decompress. : https://www.block.io/docs/basic
404: http://www.amiiboapi.com/
ERR: Redirected but the response is missing a Location: header. : https://sv443.net/jokeapi
SOC: [SSL: CERTIFICATE

[2020-10-18 08:31] #1420 closed

[2020-10-19 18:34] yannbertrand commented on #1268
@marekdano I'm in contact with the new owner. I will give your name to them if you're still looking to help?

[2020-10-19 18:38] matheusfelipeog commented on #1268
I'm free to help with that too, if necessary. 😄

[2020-10-19 21:29] marekdano commented on #1268
@yannbertrand yeah I'm willing to help. Are they open to reviewing PRs and merging them? I can help with it too.

[2020-10-20 19:21] yannbertrand commented on #1268
I asked to give you both access to merge PRs.

[2020-10-21 07:28] yannbertrand opened #1429 "Add AmiiboAPI"
As discussed on https://github.com/N3evin/AmiiboAPI/issues/43, add AmiiboAPI back to the list when it's ready.

[2020-10-21 15:38] luckskywalker opened #1430 "Can we add this to awesome list repos?"
I think this repo has his place in awesome list.

[2020-10-21 18:06] JoshuaBehrens commented on #1430
Let's have a look at https://awesomelists.top/

[2020-10-21 18:28] yannbertrand commented on #1430
Feel free to add it wherever you like!

[2020-10-21 20:00] JoshuaBehrens commented on #1430
It already is in a list somewhere in the source awesomelists.top is based on. I don't find it there :/  https://github.com/lockys/Awesome.json/pull/723 I fixed the link though

[2020-10-25 16:36] #1430 closed

[2020-10-27 12:02] panwarg422 opened #1433 "Public Api"

[2020-10-27 20:47] #1433 closed

[2020-10-28 08:50] im6h opened #1435 "Error Api"
Age of Empires II
This api has an issue, server disconnect. Please check api.

[2020-11-01 04:28] dungnguyent8 commented on #644
I guess it's still not fixed!
![image](https://user-images.githubusercontent.com/39462756/97795149-4025de00-1c35-11eb-9d6d-8d8767d72e2c.png)

[2020-11-01 09:10] yannbertrand commented on #644
Alright, I'm removing MetaWeather from the list. Thanks for the alert.

[2020-11-02 14:52] imRohan commented on #1268
Happy to help out as well! 😄

[2020-11-04 20:13] yannbertrand commented on #1435
Seems to be working now

[2020-11-04 20:13] #1435 closed

[2020-11-13 20:59] ahmetakyyev opened #1455 "Love it"

[2020-11-14 11:58] #1455 closed

[2020-11-20 00:27] clmay opened #1470 "Add column for open source?"
Curious if maintainers/community would be open to adding a column to the tables that indicates whether the API itself is open source or proprietary? I'd be happy to begin going through the list and adding the data, I'm not sure what changes to the build scripts would be necessary.

Add'l aside, why is the link to the website in the sidebar's "About" section set to https://ultimatecourses.com if ht

[2020-11-20 09:28] yannbertrand commented on #1470
Some new columns ideas have been asked before, they're referenced under the #1055 issue. We gotta found out if we want them all, maybe add them but hide them (in an html comment) because the list is already hard to read.

I personally don't have access to the repo settings so I can't change anything related to the repo itself (e.g. adding new maintainers). I've contacted the owner but got no answe

[2020-11-20 09:28] #1470 closed

[2020-11-20 09:29] yannbertrand commented on #1268
Got no news from the owner for a month now. I've asked for news yesterday. Will let you know when something happen.

[2020-11-21 05:30] clmay commented on #1470
Ah, wow, I wasn't fully aware of the current situation the project is facing. And I searched, but there was no way I was going to find #1055 with the terms I was using... 😂

I will watch and wait. Thank you for the update and kudos for trying to breathe some life into this project.

[2020-11-23 05:24] IlimbekNarmatov opened #1473 "ttohh"

[2020-12-07 20:59] #1473 closed

[2020-12-15 15:46] N3evin commented on #1429
Just tested on postman, with the user-agent provided. And it's working properly. Is it possible to add it back in?

[2020-12-15 18:37] #1429 closed

[2020-12-19 21:53] mpiber opened #1492 "change Cryptocurrency Binance api link"
The official documentation for Cryptocurrency Binance has been moved to the company's [official](https://github.com/binance/binance-spot-api-docs) repository.

We must change this link in the project to update

[2020-12-29 05:20] GenusGeoff opened #1507 "Barchart URI Redirect [Finance]"
The correct URL is

https://www.barchart.com/ondemand/free-market-data-api

[2021-01-01 19:47] #1492 closed

[2021-01-02 16:34] smach commented on #1507
Barchart terminated its free API on December 31, 2020. Barchart should be removed altogether (I didn't know if you wanted a pull request _removing_ an item).

[2021-01-03 19:43] lbaissac59 opened #1514 "Api publiques"

[2021-01-04 14:19] GeorgeWL commented on #1514
What's your issue?

All you've done is say "Public API" in french.

[2021-01-04 17:50] #1514 closed

[2021-01-04 18:28] PtPrashantTripathi opened #1517 "Request"
#### Please consider my API to add in your list

https://github.com/vedicscriptures/bhagavad-gita-api

[2021-01-05 16:05] GeorgeWL commented on #1517
read this: https://github.com/public-apis/public-apis/blob/b7d950cee2f39d664d9aff781cbb9988dc2a37ac/.github/CONTRIBUTING.md

and then submit a peer review

[2021-01-05 16:08] GeorgeWL commented on #1307
it may make sense to add a new type of "Limited Free Tier"?

To my knowledge this is supposed to be only for 100% free & unlimited (or at least high enough that most won't reach the limit) though, no?

[2021-01-08 19:31] sourabhdiwan opened #1522 "FonoAPI link is down"
fonoAPI URL is not available - https://fonoapi.freshpixl.com/

[2021-01-09 22:28] yannbertrand commented on #1522
Thanks. Fixed

[2021-01-09 22:28] #1522 closed

[2021-01-09 22:30] yannbertrand commented on #1507
Thanks. Fixed

[2021-01-09 22:30] #1507 closed

[2021-01-18 19:24] #1517 closed

[2021-01-22 18:09] sgonsal opened #1532 "Clarifai API link is invalid."
https://github.com/public-apis/public-apis#machine-learning

[2021-01-30 12:25] stormwild opened #1543 "Yahoo Weather Api to be retired Feb 1, 2021"
### Yahoo Weather API to be retired Feb 1, 2021

https://developer.yahoo.com/weather/

![image](https://user-images.githubusercontent.com/657249/106356245-39445f80-6339-11eb-8f3b-56278da807f0.png)

[2021-02-10 07:52] leanh1188 commented on #1543
they extended the expiration time of free usage to 1. March
As of Monday, March 1, 2021, the free Yahoo Weather API will be retired.

[2021-02-18 11:38] Teraskull opened #1557 "uinames.com is not available anymore"
https://uinames.com/ domain is on sale.

[2021-02-22 19:43] #1557 closed

[2021-02-22 19:43] #1543 closed

[2021-02-22 19:44] #1532 closed

[2021-03-03 10:59] IlanVivanco commented on #1268
@yannbertrand not sure if you had any response from him/her, but I'm willing to help too.

[2021-03-03 18:40] marekdano commented on #1268
@yannbertrand any news from the owner

[2021-03-04 22:26] leobel96 opened #1569 "Ticksel dead"
According to the website Ticksel is now EOL

[2021-03-07 17:23] PawelBorkar commented on #1268
@yannbertrand @marekdano Should we create a fork of it?

[2021-03-08 09:37] PawelBorkar opened #1571 "Fork of public-apis"
As there are so many Pull Requests needed to be reviewed but has remained neglected even if they do they cannot be merged due to the explicit rights of the owner of the organization. I had made a fork of this repository which you can find here [free-public-apis](https://github.com/free-public-apis/free-public-apis)

Interested volunteer can mail or PR to the repo. free-public-apis/free-public-apis

[2021-03-08 14:07] imRohan commented on #1268
@PawelBorkar Not a bad idea. I'd be happy to help out with that.

[2021-03-08 14:32] marekdano commented on #1268
@PawelBorkar I thought about it before and I think owners don't care about this project anymore. It's nearly a year when I opened this issue and offered my help.
In this stage, I'm for forking this project. There are many people who want to help.

What do you think, @yannbertrand?

[2021-03-08 15:49] PawelBorkar commented on #1268
Had you already forked it ? If not I had made an organization [free-public-apis](https://github.com/free-public-apis/free-public-apis
) Which is a fork of it.

Let me know if you guys are interested in.

[2021-03-08 18:01] PawelBorkar commented on #1268
Thanks Rohan,
Here is the fork [free-public-apis](https://github.com/free-public-apis/free-public-apis) contact me if you're interested in becoming the member of the org. and then we will discuss the further tasks and plans

[2021-03-08 20:31] yannbertrand commented on #1268
I just emailed the owner to once again ask to add new maintainers for the project.

Please feel free to fork the repository. The only problem I have with that is that public-apis is insanely starred and has great SEO. Unfortunately I can't automatically redirect from this repo to another one. I've also contacted GitHub Support to make sure they don't have any solution for this kind of issues.

If

[2021-03-08 21:14] matheusfelipeog commented on #1268
I agree with that, looks good.

[2021-03-08 21:24] IlanVivanco commented on #1268
Sounds reasonable. If help is still needed, let me know.

[2021-03-08 23:07] toddmotto commented on #1268
Hope you guys find a resolution, I am still subscribed to this thread so just jumping in with a quick hello/comment.

Hopefully @paulzehetmayr  or @julian-zehetmayr can add a new maintainer as I no longer own the project/have admin rights.

Given the *112k stars* it would be great to get some of these new PRs merged in and keep the project alive. Good luck and stay well all.

[2021-03-09 04:52] PawelBorkar commented on #1268
Sure :-)

[2021-03-09 04:57] PawelBorkar commented on #1268
I have checked their profiles, it seems like they aren't active from so long.

Let's hope for the best :)

[2021-03-10 09:23] yannbertrand commented on #1268
Just got an answer from GitHub Support, the only thing they can do is to contact the owner on my behalf. I'm trying it, just in case.

[2021-03-13 03:39] notkyoyo commented on #1268
Same! I would be glad to help and add some of my APIs as well.

[2021-03-18 16:13] marekdano commented on #1268
@yannbertrand I have got access to merge PRs now. I think to focus on reviewing the last PRs.
Do we have a doc for maintainers for this project that we should follow?

[2021-03-18 17:11] imRohan commented on #1268
@marekdano Do you need help with reviewing PR's? Is there any way we can get more maintainers for this project - id love to help.

[2021-03-18 17:20] matheusfelipeog commented on #1268
I also have access to merge PRs now. I'll wait for the answer

[2021-03-18 17:21] marekdano commented on #1268
@yannbertrand is possible to have access for @imRohan

[2021-03-18 17:39] yannbertrand commented on #1268
Please follow the [contributing guide](https://github.com/public-apis/public-apis/blob/master/.github/CONTRIBUTING.md), it's not perfect but we can make it better together 🙂
The "Run tests" GH Action should catch basic mistakes on most recent PRs. Please make sure to check for other PRs adding or removing the same item. You noticed we have a lot of opened PRs and some do the same. I suggest to mer

[2021-03-18 17:42] PawelBorkar commented on #1268
Discord.

[2021-03-18 17:55] marekdano commented on #1268
I'd prefer to have Discord too.

[2021-03-18 18:12] yannbertrand commented on #1268
Please join https://discord.gg/PWSeK2CuKM

[2021-03-18 18:58] PawelBorkar commented on #1268
A Big THANKS to @yannbertrand for everything he has done to revive this repository again. From contacting GitHub support to pushing us to be added as maintainers.Together we appreciate all your work man.❤️😊

[2021-03-19 06:41] AaronGoldsmith1 opened #1589 "IBM Visual Recognition is deprecated"
"IBM Watson™ Visual Recognition is discontinued. Existing instances are supported until 1 December 2021, but as of 7 January 2021, you can't create instances. Any instance that is provisioned on 1 December 2021 will be deleted."

[2021-03-19 17:29] marekdano commented on #1571
@PawelBorkar Do you think we still need to fork this repo?

[2021-03-19 17:38] marekdano opened #1590 "The links returning 404 should be removed."
Here is a list of links that return 404

...

Please feel free to add more broken links when you find them.

[2021-03-19 17:38] marekdano commented on #1590
Should we remove the broken link?

[2021-03-19 18:05] matheusfelipeog commented on #1590
I believe so. I see no reason to keep them if they are broken. 🤔

[2021-03-20 07:18] marekdano opened #1592 "Add extra validation to check if more than two links are the same"
There should be a check in the validation to check if more than two links are the same.
If they exist in the README the "merge" button should be blocked to merge the PR.

[2021-03-21 07:55] marekdano opened #1597 "Duplicate records should be removed."
I've found out that there are two records of the same API listed in the README.

- https://mailboxlayer.com
- https://languagelayer.com
- https://weatherstack.com

I think we should list a record of API just ones.

[2021-03-21 15:32] PawelBorkar commented on #1571
No.

[2021-03-21 15:32] #1571 closed

[2021-03-22 19:37] yannbertrand commented on #1597
Agreed.

I'd say:
- mailboxlayer stays in Data Validation
- languagelayer in Text Analysis
- weatherstack in Weather

What do you think?

[2021-03-22 19:46] matheusfelipeog commented on #1597
It looks good to me.

[2021-03-22 19:50] yannbertrand commented on #1590
Let's remove them 🙂

[2021-03-22 22:18] marekdano commented on #1597
Thanks, @matheusfelipeog, and @yannbertrand. I'll update README accordingly.

[2021-03-23 00:43] matheusfelipeog commented on #1569
Oh, right. Thanks ;)

[2021-03-23 00:57] matheusfelipeog commented on #1589
Right, thanks 😆

[2021-03-23 01:00] #1589 closed

[2021-03-23 01:01] #1569 closed

[2021-03-23 17:10] #1597 closed

[2021-03-23 18:00] marekdano opened #1599 "Links returning 403 should be removed"
Here is a list of APIs that return 403

https://ipinfodb.com/api

[2021-03-23 18:34] #1592 closed

[2021-03-24 22:44] PawelBorkar commented on #1590
Ofcourse.

[2021-03-26 22:36] efrain18r opened #1601 "Public APIs"

[2021-03-27 12:28] AdamAbdulkareem opened #1602 "Saved"

[2021-03-27 13:55] #1601 closed

[2021-03-27 13:55] #1602 closed

[2021-03-29 11:31] pawelbr opened #1604 "Regarding PR reviews"
With reference to the issue #1268 we have got the rights to review and merge the Pull Requests into the repository.
As can be seen the number of PR's are quite large. We are reviewing the older PR's first and then will review the new ones.
So it might take some time for the new PR's to be get reviewed.

Thank You.

[2021-03-31 08:28] PawelBorkar commented on #1307
It's accessible as of now.

[2021-03-31 20:59] #1307 closed

[2021-04-02 05:10] PawelBorkar commented on #1590
There's a PR regarding the link http://developer.linkedin.com/docs/rest-api . I had reviewed it and ask for the feedback of the author.

[2021-04-02 11:49] zaherg opened #1612 "public-apis.dev domain"
Hey,

I own the domain `public-apis.dev` and I would like to provide it to you as a small small contribution from me to the project, so if you like just add it as a custom domain to the repo and provide me with the info to update the DNS records.

a small attribute to `darawish.io` can be added to the readme file **(if and only if you want)**.

let me know if you like the idea or not.

Thanks

[2021-04-02 14:59] Anmoldeep1509 commented on #1590
Is the issue closed, if not, may I verify and remove the bad links?

[2021-04-02 15:09] marekdano commented on #1590
The issue is still open.

[2021-04-02 15:26] PawelBorkar commented on #1590
Yeah! you can go ahead.

[2021-04-03 10:40] PawelBorkar commented on #1612
@zaherg Thank you so much for your humble offering/contribution. We are discussing the possibilities of it.
May we know from how long you've been owning this domain and also it's renewal date?

[2021-04-03 11:14] zaherg commented on #1612
@PawelBorkar I bought it yesterday :D when I thought about the idea so you will have at least 1y

![image](https://user-images.githubusercontent.com/27624/113476866-d715f100-9486-11eb-8f9d-232b08500d17.png)

I am planning to keep maintaining the domain for as long as I can

[2021-04-03 13:12] PawelBorkar commented on #1612
@zaherg Thanks for the quick reply.
We'll get back to you soon :-)

[2021-04-03 19:25] Anmoldeep1509 commented on #1590
API | STATUS | API STATUS
-- | -- | --
https://apility.io/apidocs/ | Already Removed | Down ❎
http://developer.linkedin.com/docs/rest-api | Already Removed | Down ❎
https://sentim-api.herokuapp.com/ | Already Removed | Up ✅
https://quarantine.country/coronavirus/api/ | Already Removed | Down ❎

[2021-04-06 00:39] bexdeep commented on #1268
Thanks, @yannbertrand for your effort.

[2021-04-08 14:56] #1055 closed

[2021-04-09 08:10] PawelBorkar opened #1625 "Move CONTRIBUTING.md to the root"
Should we move the CONTRIBUTING.md file to the root folder? It may become more clearer to the new visitor/contributor to navigate.

[2021-04-09 11:43] marekdano commented on #1625
@PawelBorkar I think it's a good idea.

[2021-04-09 11:43] matheusfelipeog commented on #1625
I agree

[2021-04-11 07:18] #1625 closed

[2021-04-12 02:30] FrankR-7 commented on #1590
I see the issue is still open. What if we made a script that periodically checks the links and alerts when any link is broken so we can manually remove it? (Or let it automatically remove the links)

[2021-04-12 14:16] marekdano commented on #1590
@Anmoldeep1509 `https://quarantine.country/coronavirus/api/` is UP again.

[2021-04-12 15:40] Anmoldeep1509 commented on #1590
yes, thanks, checked just now, it is working, updating the table,

btw, do we have any md code to add beside the API - to show if it is up right or not?

Like I know a few repos where the md code checks if the website is up or not, similar will be needed for this case.

[2021-04-12 15:41] Anmoldeep1509 commented on #1590
yes, thanks, checked just now, it is working, updating the table,

btw, do we have any md code to add beside the API - to show if it is up right or not?

Like I know a few repos where the md code checks if the website is up or not, similar will be needed for this case.

[2021-04-12 21:09] zaherg commented on #1612
hey @PawelBorkar ,  I have setup a redirect on the domain to this repo, until I hear back from you.

cheers.

[2021-04-13 06:41] PawelBorkar commented on #1612
Great.
me and @matheusfelipeog are considering the domain just waiting for the other collaborators to reply or vote.

Thanks🙂

[2021-04-13 09:07] marekdano commented on #1590
@yannbertrand do we have "MD code checks"?

[2021-04-13 09:21] marekdano commented on #1612
I'm for it too. Thanks for your offer @zaherg! We appreciate it!

[2021-04-13 12:24] zaherg commented on #1612
Great then, you need to activate it on your repo and send me the confirmation to enable the cname record and delete the redirection, make sure to enable SSL too.

once everything is enabled, it is up to you how to build the site for the repo using github pages

[2021-04-13 19:45] yannbertrand commented on #1590
What do you mean by MD code?

Btw I'd say it's a good API design practice to expose a `GET /status` endpoint

[2021-04-14 09:33] sent commented on #1612
Hello,

It's a security risk to use user-provided domain names. After some time they just will move away and use the domain name for some different purposes.

Who is @zaherg and what relation he has to this repository (owner, collaborator, has rights)?

I can just throw $12 for the domain name, does that mean you will add my domain name for use in this project?

It's best to use http://public-apis

[2021-04-14 17:56] Anmoldeep1509 commented on #1590
wisdom at it's best <3

[2021-04-14 18:36] Anmoldeep1509 commented on #1590
Did the changes, please review PR #1641

[2021-04-14 20:19] zaherg commented on #1612
Hey @sent

I agree with you people goes and things changes, but also you forget that domain ownership can be transferred from one person to another, and even expired domains can be repurchase again.

If you want to know more about me, you can use google or even visit my own site and get to know me, I don't hide behind a pseudo name, I use my real name here and everywhere.

I don't own the repo, I

[2021-04-15 15:44] PawelBorkar commented on #1612
@marekdano @yannbertrand @matheusfelipeog
What you guys think of this?

[2021-04-16 05:04] sent commented on #1612
@zaherg

There is a github.io for this purpose.

Does it really matter?

This only confirms that the use of your domain name might be malicious in the future.

This isn't a contribution to this repository but a contribution to your own portfolio to later monetize this domain name.

Thanks!

[2021-04-16 10:59] Anmoldeep1509 commented on #1590
Pushed Changes - Please check PR #1650

[2021-04-16 18:32] matheusfelipeog commented on #1612
Thank you for wanting to contribute a domain @zaherg 🤝

and thanks @sent, for raising these questions ✋

@PawelBorkar

Well, what @sent said is really a possible problem if we don't have 100% control of the domain.

Taking this into account, I think it is best to use the domain provided by github: `https://public-apis.github.io`

This would maintain control directly through the repository, without

[2021-04-17 08:59] vmbansal2001 commented on #1590
is this issue still open?

[2021-04-17 09:03] vmbansal2001 commented on #1599
I want to contribute on this

[2021-04-17 09:17] zaherg commented on #1612
@matheusfelipeog if any of you wants to have control over the domain I have no problem, I am willing to transfer the domain to you or @marekdano or @PawelBorkar.

[2021-04-17 09:41] zaherg commented on #1612
@sent

1. If you don't care about who I am and you think it does not matter that I am using my real name, which means any action I take will always be tied to my name, you should not have asked.

2. I don't have any intention to monetize the domain nor gain anything from it. It is just a domain which does have any real impact on my portfolio.

3. If I wanted to do any harm, I would have communicat

[2021-04-17 09:44] zaherg commented on #1612
I'll close the ticket as I can see you agreed to go with GitHub.io domain.

No need for all this fuzz over a domain name.

My offer to transfer the domain is still on just ping me.

Wish you all the best 🤗

[2021-04-17 09:44] #1612 closed

[2021-04-18 01:35] VChernomYA opened #1656 "telegram"
Thanks for looking to open an issue for this project.

If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

[2021-04-18 02:07] VChernomYA commented on #1604
README.md

[2021-04-18 09:09] PawelBorkar commented on #1656
@VChernomYA Please Stop spamming the issues.

[2021-04-18 09:09] #1656 closed

[2021-04-18 12:59] PawelBorkar commented on #1590
Yup please check if you can find one. Although the links mention [here](https://github.com/public-apis/public-apis/issues/1590#issue-836225522) has been fixed.

[2021-04-20 15:29] MarcoAFC opened #1660 "WOT Api no longer offers free plans, only timed trials."
Heiya!

I recently tried to use the Web of Trust (WOT) API for a small project but, despite the fact that the wiki still states they have a free plan, requesting one from the support team is received with an offer for a 40$/month plan, with 14-days trial.

This should be removed.

[2021-04-20 18:20] omkar342 commented on #1660
Is this issue is still open?And if it is open can someone plz tell me how I can remove that API?

[2021-04-21 00:39] matheusfelipeog commented on #1660
Hi @MarcoAFC ✋

Thanks for this information.

@omkar342, Yes, still open.
To remove the API: remove the line where it is located in the [`README.md`](https://github.com/public-apis/public-apis/blob/master/README.md) file and make a [pull request](https://github.com/public-apis/public-apis/pulls) with the removal. 😆

[2021-04-21 01:18] #1660 closed

[2021-04-21 04:30] omkar342 commented on #1660
@matheusfelipeog but wot api is still on the website of public_api.Aren't we also supposed to remove from that if it is no more free?

[2021-04-21 15:48] Nirzak commented on #1268
It's good see such effort from you guys to make this repository alive again. Waiting for my PRs to be reviewed 😄

[2021-04-21 17:38] matheusfelipeog commented on #1268
Hi @Nirzak ✋

We are reviewing the older PR's first and then will review the new ones. For more ref check #1604

[2021-04-21 18:46] matheusfelipeog commented on #1660
@omkar342 This has already been resolved in #1661

[2021-04-21 19:42] Nirzak commented on #1268
Yeah. I know and that should be the process. There's no hurry 😀

[2021-04-23 06:12] noorwaliafridi opened #1664 "API of plugin"
How i get my [Wordpress pluin](https://tutorialform.com/how-to-add-a-post-to-a-page-in-wordpress/)  plugin API.

[2021-04-24 14:07] PawelBorkar commented on #1664
I didn't get you.
Can you please elaborate?

[2021-04-25 20:08] VChernomYA commented on #1656
vchernom_ya

[2021-04-25 20:09] VChernomYA opened #1670 "VChernomYA-patch-1"
Thanks for looking to open an issue for this project.

If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

[2021-04-25 20:09] VChernomYA commented on #1670
81ac646ceb90e1aaffa30a9716dc6a5e

[2021-04-25 20:09] VChernomYA opened #1671 "81ac646ceb90e1aaffa30a9716dc6a5e"
81ac646ceb90e1aaffa30a9716dc6a5e

_Originally posted by @VChernomYA in https://github.com/public-apis/public-apis/issues/1670#issuecomment-826382588_

[2021-04-25 21:14] matheusfelipeog commented on #1670
@VChernomYA Please stop spamming the issues. 😅

[2021-04-25 21:14] #1670 closed

[2021-04-25 21:14] #1671 closed

[2021-04-26 00:50] x01zeroOne opened #1672 "Public APIs"

[2021-04-26 01:11] #1672 closed

[2021-04-26 04:28] idusortus opened #1673 "Geocoding - add https://www.placekey.io/"
Converts addresses into short keys.

Supports strict or fuzzy matching.

Single requests or batches of 100.

Very fast.need to register to get API key.

Great for joining datasets.

We're using it for a matching algo to normalize addresses.

Free.

Please add it to your amazing list.

Thanks!

[2021-04-26 08:24] Wangtt185 opened #1675 "免费应用"

[2021-04-26 12:35] idusortus commented on #1673
Oop. Just noticed the submission policy. I'll get on that.

Thanks for the repo!

[2021-04-26 12:35] #1673 closed

[2021-04-26 22:14] #1675 closed

[2021-05-03 04:06] ananya2023 commented on #1590
I removed a broken link .Now where should I place the new code

[2021-05-03 07:30] PawelBorkar commented on #1590
@ananya2023
Please make a PR regarding the same.
We'll review it and if everything looks good, we'll either merge it into the master or give you a feedback.

[2021-05-03 10:56] marekdano commented on #1590
@ananya2023
[This guide](https://github.com/public-apis/public-apis/blob/master/CONTRIBUTING.md) can help you for creating a new PR.

[2021-05-03 18:48] 61004jack opened #1691 "Jack"

[2021-05-03 18:48] #1691 closed

[2021-05-03 19:05] George-Ogden opened #1692 "Suggestion For Inspirational Quote API"
https://inspiration.goprogram.co.uk/
Get request

[2021-05-05 13:15] beautycrypto opened #1699 "https://youtu.be/N8zcfalougY"

[2021-05-05 13:48] #1699 closed

[2021-05-05 13:50] #1664 closed

[2021-05-05 13:52] PawelBorkar commented on #1268
@yannbertrand @marekdano @matheusfelipeog
Should we close this issue or let it be open?

[2021-05-05 14:03] Nirzak commented on #1268
I think it should be closed now.

[2021-05-05 14:30] pawelborkar opened #1700 "Please Read CONTRIBUTING.md before opening a Pull Request."
We appreciate your efforts and time for making a contribution into the Public APIs.

Please make sure you read the [Contributing Guide](https://github.com/public-apis/public-apis/blob/master/CONTRIBUTING.md) and follow the Guidelines before making a Pull Request. It will help you to craft a great PR and will also help you to eliminate the extra steps that you might have to do if you do not follow

[2021-05-05 18:02] #1268 closed

[2021-05-06 13:07] use931 opened #1702 "html"
# H1`/heart````
@
```[]()_![MS_Build_social-post-01.png](https://user-images.githubusercontent.com/68476976/117303208-a9b5cc00-aea6-11eb- > -9f8e-114e82b19538.png)[ ] ()~~````

[code]

[2021-05-08 00:05] lincegris opened #1708 "APIs Públicas"

[2021-05-08 05:59] matheusfelipeog commented on #1692
Hi @George-Ogden ✋

For an API to be listed here, it must have documentation of all its resources, as mentioned in the [Pull Request Guidelines](https://github.com/public-apis/public-apis/blob/master/CONTRIBUTING.md#pull-request-guidelines)

[2021-05-08 06:03] #1708 closed

[2021-05-10 13:37] sourabhdiwan opened #1715 "https://yts.mx/api dead link"
https://yts.mx/api link not working

[2021-05-10 14:10] pawelbr commented on #1715
Please share the API name as well

[2021-05-10 14:17] sourabhdiwan commented on #1715
Video section >> YTS

[2021-05-10 14:55] marcelscruz opened #1716 "Add Dev Resources on README"
Hi.

I recently created a project called [Dev Resources](https://devresourc.es), where I'm using the public-apis list (with due credits) for the ["Public APIs" section](https://devresourc.es/tools-and-utilities/public-apis).

Users are already helping rank the resources with upvotes and I'll soon add more filtering options.

Would it be ok to link it on the README file, so users of the repo could

[2021-05-12 15:22] paw31 commented on #1716
Hey @marcelscruz,
I checked out your project and it's really awesome.
But as you can see public-apis are entirely focused on APIs and Dev Resources is not an API but a website with other resources as well we cannot include its link in the README.

Wishing you all the best for Dev Resources.

[2021-05-12 15:22] #1716 closed

[2021-05-15 08:56] abitrolly commented on #1590
I am thinking about availability checker that will at least archive the reason for removal after few months (with an optional outreach and investigation if anyone is interested).

[2021-05-15 15:10] pawelbr commented on #1590
@abitrolly
Yeah. Sounds good.

[2021-05-18 20:36] marcelscruz commented on #1716
Hi @pawelbr, thank you for answering.

Maybe I expressed myself badly, but what I suggested was to, somehow, point the website as a "more visual" way of accessing the public APIs list, perhaps at the beginning of the README file, the same way as the public API for the project is also linked there.

Regardless of your decision, I appreciate you taking the time for answering and maintaining the proj

[2021-05-18 21:13] #1692 closed

[2021-05-19 08:54] pawelbr commented on #1604
Congratulations to all the collaborators, we have merged a significant number of PR's in a very short time. Kudos🎉
Now the time has come to close this issue.

We would like to thanks all the contributors of the public-apis for their patience.

Thank You.

[2021-05-19 08:54] #1604 closed

[2021-05-19 19:47] aaroncf2008 opened #1726 "Incorrect Info"
Blockchain.com needs an apikey now

[2021-05-21 14:29] pawelbr commented on #1726
Thanks for pointing it out @aaroncf2008

[2021-05-21 14:47] #1726 closed

[2021-05-22 17:25] AadityaMunjal opened #1733 "Add Notion (beta) api?"
Hi

Notion recently released their own API, but it's still in beta so can I PR it?

Thanks!

[2021-05-23 07:26] pawelbr commented on #1733
@AadityaMunjal
Yeah.
Please go ahead.

Make sure you read the [Contributing Guide](https://github.com/public-apis/public-apis/blob/master/CONTRIBUTING.md) before opening a Pull Request. 🙂

[2021-05-23 07:55] pawelbr commented on #1590
This link is broken
https://blog.mugenmonkey.com/2017/09/10/ds3-api.html

This URL is showing privacy notice
https://developer.walmartlabs.com/docs

[2021-05-25 17:53] marekdano commented on #1590
This link is broken too
https://taylor.rest

[2021-05-25 20:32] aaroncf2008 opened #1744 "Walmart API"
API Link not working
says " Area Not Found "

[2021-05-26 14:31] pawelborkar commented on #1744
Yeah it'll be removed soon [ref. ](https://github.com/public-apis/public-apis/issues/1590#issuecomment-846521039)

[2021-05-26 14:31] #1744 closed

[2021-05-26 16:41] #1733 closed

[2021-05-27 04:04] saisumanthkumar commented on #1590
If a link no longer allows new clients ,can we send a PR to remove that link ??

[2021-05-27 04:09] saisumanthkumar commented on #1590
If a link no longer accepting new clients ,can we send a PR by removing that link ??

[2021-05-27 05:54] zamany1209 opened #1746 "Public"

[2021-05-27 05:55] #1746 closed

[2021-05-27 07:22] pawelborkar commented on #1590
Sure

[2021-05-27 10:58] saisumanthkumar commented on #1590
This URL no longer accepting new clients
https://www.behance.net/dev

[2021-05-27 14:50] use931 commented on #1744
Yugi Omo

[2021-06-05 01:08] sophyli opened #1763 "api"

[2021-06-08 16:53] ToneWoN opened #1778 "Yea"

[2021-06-09 04:39] #1763 closed

[2021-06-09 04:39] #1778 closed

[2021-06-09 05:31] djangocaomo opened #1780 "Unified SDK for All APIs?"
Thanks for looking to open an issue for this project.

If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

[2021-06-09 12:44] jifujiang opened #1782 "Public APIs"
A collective list of JSON APIs for use in web development.

[2021-06-09 14:53] CaioEduMendonca opened #1783 "API's"

[2021-06-09 20:01] dilbersha commented on #1599
still on?

[2021-06-09 20:54] MhdAmr788 opened #1784 "Stop!"

[2021-06-10 03:17] #1784 closed

[2021-06-10 03:17] #1783 closed

[2021-06-10 03:46] matheusfelipeog commented on #1780
Hi @djangocaomo. Thanks for opening this issue. ✋

We have no control over the APIs listed here for creating a unified SDK for all APIs. You should search the website for the API you want to use and see if they have an SDK.

[2021-06-10 03:47] #1780 closed

[2021-06-10 04:19] matheusfelipeog commented on #1782
Hi @jifujiang. Thanks for opening this issue :)

All APIs listed here can be used in web development.

[2021-06-10 04:20] #1782 closed

[2021-06-10 15:08] fawazahmed0 opened #1787 "Adding new category for Religion"
Hi,

 I was thinking it might be better to add a new category for religion, most of the religion related API's are under [Books](https://github.com/public-apis/public-apis#books) category.

If you agree, I will create a PR, to move the religion related API's to newly created Religion category.

Thanks

[2021-06-10 17:38] matheusfelipeog commented on #1787
Hi @fawazahmed0 ✋

If the API is related to a holy book of a certain religion, I think it's best to keep it in the books section. For example, this API:

[code]

This fits with what I described above.

But if the API is related to other aspects of a certain religion, it seems like a good idea to create a new section for that.

What do you think?

[2021-06-10 17:39] matheusfelipeog commented on #1787
*Note: Make sure you have at least 5 APIs to create a new section.*

[2021-06-17 08:37] gmxtrra commented on #644
USE THIS EXTENTION TO REMOVE THE APIs CORS ERROR

`https://add0n.com/access-control.html?version=0.1.9&type=install`

[2021-06-23 04:10] FarazzShaikh commented on #1590
Why not automate this with a bash script and a scheduled GitHub action?

[2021-06-23 07:00] pawelborkar commented on #1590
Ref. #1738

[2021-06-23 07:01] pawelborkar commented on #1599
@dilbersha yup!

[2021-06-24 10:45] ultradown opened #1799 "APIs"

[2021-06-25 02:21] #1799 closed

[2021-06-25 16:58] Javithaboss opened #1800 "```suggestion"
[code]

_Originally posted by @pawelborkar in https://github.com/public-apis/public-apis/opull/1790#r652378063_

[2021-06-25 16:59] Javithaboss opened #1801 "```suggestion"
[code]

_Originally posted by @pawelborkar in https://github.com/public-apis/public-apis/pull/1790#r652378063_

[2021-06-27 20:59] #1800 closed

[2021-06-27 20:59] #1801 closed

[2021-07-03 16:00] MCD-coder opened #1808 "Sql"

[2021-07-03 19:17] Bachirdia007 opened #1812 "Flutter"

[2021-07-03 23:04] Lofterheit opened #1813 "Dart_"

[2021-07-04 05:02] Crypton1c841 opened #1814 "Api’s"

[2021-07-04 07:12] jojowokkelino opened #1816 "U"

[2021-07-04 09:57] creativeappealmedia opened #1817 "V"

[2021-07-04 10:01] #1817 closed

[2021-07-04 11:08] Saw-hill opened #1818 "Free API"

[2021-07-04 12:08] Asesuas opened #1819 "@mobilutz after further investigation, it looks like Rack::Protection::AuthenticityToken based it's csrf protection on Rails methodology, but never guaranteed they would be interoperable. I'm interested to hear more about how you configured that since Rack::Protection::AuthenticityToken uses a different session key for the csrf token than Rails."
gfx_renderdistance_new:160

[2021-07-04 15:10] #1808 closed

[2021-07-04 15:11] #1819 closed

[2021-07-04 15:11] #1818 closed

[2021-07-04 15:11] #1816 closed

[2021-07-04 15:11] #1814 closed

[2021-07-04 15:12] #1812 closed

[2021-07-04 15:12] #1813 closed

[2021-07-05 06:47] BagasGanz opened #1820 "Contoh"
Aorrorbtu

[2021-07-05 06:48] BagasGanz commented on #1820
Ya

[2021-07-05 18:04] #1820 closed

[2021-07-06 00:13] Rafi970 opened #1821 "I"

[2021-07-06 06:12] Sinauupss opened #1824 "WhatsApp"

[2021-07-06 08:26] ripulsharma commented on #1824
What

[2021-07-07 18:02] #1821 closed

[2021-07-07 18:02] #1824 closed

[2021-07-07 19:54] 2br-2b commented on #139
Might it be good to leave a link to Programmable Web as a backup - "If you can't find your api here, programmableweb.com has over 20,000 to check out and search through!"

[2021-07-08 00:05] nelsondani opened #1827 "Ayuda O"

[2021-07-08 01:53] emeraldivine335 opened #1828 "Readme.md"
https://github.com/public-apis/public-apis

[2021-07-08 02:11] emeraldivine335 opened #1831 "https://github.com/public-apis/public-apis"
Good app

[2021-07-08 02:12] emeraldivine335 commented on #1831
Great app

[2021-07-08 02:12] emeraldivine335 commented on #1831
https://github.com/public-apis/public-apis

[2021-07-08 02:15] emeraldivine335 opened #1832 "https://github.com/public-apis/public-apis/issues/1700"
emeraldivine335

[2021-07-08 02:15] emeraldivine335 commented on #1832
emeraldivine335@matheusfelipeog

[2021-07-08 04:14] #1827 closed

[2021-07-08 04:20] pawelborkar commented on #1832
Why you are spamming the issues

[2021-07-08 04:20] #1832 closed

[2021-07-08 04:21] pawelborkar commented on #1828
Spam!

[2021-07-08 04:21] #1828 closed

[2021-07-08 04:22] pawelborkar commented on #1831
What you are trying to do?
Why you are spamming the issues and PRs?

[2021-07-08 04:24] #1831 closed

[2021-07-08 16:55] Tiaogaviao opened #1834 "https://github.com/Tiaogaviao/Luciane-do-amaral/issues/1"
https://github.com/Tiaogaviao/Luciane-do-amaral/issues/1

[2021-07-08 16:55] Tiaogaviao commented on #1834
Ganhar dinheiro baixando o Kwai!https://s.kwai.app/s/oenFdtwS

[2021-07-08 16:55] Tiaogaviao commented on #1834
Ganhar dinheiro baixando o Kwai!https://s.kwai.app/s/oenFdtwS

[2021-07-08 17:22] pawelborkar commented on #1834
Reported to GitHub support!

[2021-07-08 17:22] #1834 closed

[2021-07-08 17:34] Tiaogaviao commented on #1834
227486808

[2021-07-09 09:00] ramaaz31 opened #1836 "0xB72c6BAB968cF8640C91f667EFF3AFA37C658553"

[2021-07-09 15:13] S-C-O-D-E-R opened #1838 "APIS"

[2021-07-09 15:19] #1838 closed

[2021-07-10 04:00] jannielove commented on #1700
I am kinda new and still learning thank you 🥰

[2021-07-10 04:40] #1836 closed

[2021-07-10 19:05] jannielove opened #1840 "Keybase.md."
### Keybase proof

I hereby claim:

  * I am jannielove on github.
  * I am sillyrabbit (https://keybase.io/sillyrabbit) on keybase.
  * I have a public key ASAMbZPM07advF31TDBOnvdXuFkYyqkX_Hat9pQ0VMN55Ao

To claim this, I am signing this object:

[code]

with the key [ASAMbZPM07advF31TDBOnvdXuFkYyqkX_Hat9pQ0VMN55Ao](https://keybase.io/sillyrabbit), yielding the signature:

[code]

And finally, I

[2021-07-10 19:06] #1840 closed

[2021-07-10 19:07] jannielove commented on #1840
Why cant I get this to work 😡

[2021-07-13 05:17] ramaaz31 opened #1843 "https://uniswap.mycryptoapi.com/"
{ "name": "MyCrypto Token List", "logoURI": "https://raw.githubusercontent.com/MyCryptoHQ/MyCrypto/master/src/assets/images/favicon.png", "timestamp": "2021-05-25T12:50:27-07:00", "tokens": [ { "chainId": 1, "address": "0x00000000001876eB1444c986fD502e618c587430", "symbol": "dDai", "name": "DharmaDai", "decimals": 8 }, { "chainId": 1, "address": "0x00000000441378008EA67F4284A57932B1c000a5", "symbo

[2021-07-14 01:44] #1843 closed

[2021-07-16 13:48] krishna8421 opened #1852 "How about a Site for this Project ?"
I was thinking that its kind of difficult to find api in a Readme file, How about a website for Public Api Project, with some basic functions like searching etc.

[2021-07-17 04:20] krishna8421 commented on #1852
The front-end work is almost finished.
Only the search function is missing

See this:
https://public-apis-site.vercel.app/

GitHub:
https://github.com/krishna8421/public-apis-site

Hope you like it...

[2021-07-17 13:17] matheusfelipeog commented on #1852
Hi @krishna8421 😄

A big THANKS for opening this issue and taking the initiative to create a website for public apis, we really appreciate it a lot. ❤️

Indeed, as more API's are added to public-apis the more difficult it becomes to find a specific API within the readme.md file. We've also identified the need to make a website to implement some features that might be helpful in solving this proble

[2021-07-17 18:49] jdoubleu opened #1856 "Provide a policy"
It would be very helpful if you could provide a policy on what exactly you understand under a _"free"_ API. While the [contribution guide](https://github.com/public-apis/public-apis/blob/master/CONTRIBUTING.md) specifies some requirements (e.g. limit of authentication methods), it does not really explain anything beyond that.

Some "providers" might offer free (like in free beer) plans or access t

[2021-07-17 18:54] krishna8421 commented on #1852
Hey,

Thanks for your reply, I'll keep working on the project and make it better. I didn't know you guys are also working on a site. You can ping me anytime if you need any help with web dev. I'll be grateful to help.

Cheers,
Krishna

[2021-07-18 10:32] uddinkamal opened #1857 "https://iptv-org.github.10/iptv/index.m3u"

[2021-07-18 10:34] uddinkamal commented on #1857
https://iptv-org.github.io/iptv/index.m3u

[2021-07-18 14:01] Sintay1994 commented on #1700
http://ethash.poolbinance.com:8888/

[2021-07-18 14:22] Sintay1994 opened #1858 "https://github.com/public-apis/public-apis/blob/master/.github/workflows/test.yml"

[2021-07-18 15:51] uddinkamal commented on #1858
Ja

[2021-07-19 00:59] roramigator opened #1860 "BetterMeta is down"
Section, Development.
![image](https://user-images.githubusercontent.com/55143159/126088365-ee870df4-7623-4227-84b0-19639b9c9824.jpeg)

[2021-07-19 03:27] #1852 closed

[2021-07-19 04:17] berkaysavas commented on #1857
Çok güzel

[2021-07-19 04:18] berkaysavas commented on #1599
Good

[2021-07-19 04:19] berkaysavas commented on #1858
Hastasıyız

[2021-07-19 05:22] pawelborkar commented on #1700
@Sintay1994 Don't spam the issues and PRs with anykind of cryptocurrency links or similar. Otherwise strong actions will be taken against the author of that comment.

[2021-07-19 05:24] Tohgloam commented on #1852
ด้วยเกล้าด้วยกระหม่อม ขอเดชะ

กระผมมีชื่อนามว่า นาย อภิศักดิ์ หันจรัส กระผมเกิดในหมู่บ้าน บ้านที่สถานะไม่รำรวย ผมเห็นประเทศเดินถอยหลัง ผมเห็นประเทศแตกแยก ผมเห็นผู้คนไม่ค่อยให้ใจกัน ไม่รักกันครับ จนความลำบากนั้นวิ่งเข้ามาจนผม และครอบครัว ญาติ ผมจึงทนเห็นไม่ไหว ผมอยากอาสาทำงานครับ

*** กระผมอยากแก้ปัณหาการยุแย้ง การก่อให้เกิดความแตกแยก เช่น การสื่อสารครับ (เป็นอันดับแรก)

*** ในตัวกระผมเองโดนกลุ่มแก

[2021-07-19 05:38] Tohgloam commented on #1700
ผมทำขึ้นมาจริง และผมได้วางเอาไว้พื้นที่ส่วนตัวผม ถ้ามีบุคคลที่ไม่หวังดีแฮกเข้ามา หรือชอบสอดรู้เรื่องส่วนตัวของคนอื่น (เจตนาผมเพื่อดักปลา ที่พยายามจะคุกคามผมเพียงเท่านั้นครับ) ผมไม่ได้ แชร์ หรือโพสลงในพื้นที่สาธารณะแต่อย่างได๋

การจัดระเบียบต้องจัดให้ดี ตรวจสอบได้ โปร่งใส ครับ
เราจะเดินอยู่หน้าบ้านและเดินไปพร้อมกันครับผม

ส่งจาก iPhone ของฉัน

เมื่อ 19 ก.ค. 2564 เวลา 12:22 เขียนโดย Pawel Borkar ***

[2021-07-19 05:49] krishna8421 commented on #1852
@matheusfelipeog

What is that above mail, and it's in which language?

[2021-07-19 07:45] Tohgloam opened #1861 "ผมเป็นคนไทย (ยอมรับผมไม่เก่งภาษาเท่าไหร่ครับ)"
ส่วนคำปรึกษาใครที่เจคแบบผมอยู่ ผมไม่ให้ข้อมูลอ้อมๆหรอกครับ ผมเป็นคนหน้าบ้านผมพูดภาษาไทย
** ติดต่อเจคหน้า+มีล่าม ผมคงช่วยอะไรได้บ้าง

[2021-07-19 08:41] Afis13 opened #1862 "Yuhu13"
Ok

[2021-07-20 04:31] sssbruno opened #1866 "Test"

[2021-07-20 08:30] ramaaz31 opened #1867 "Check out this bounty that pays out 0.1 ETH https://gitcoin.co/issue/cmFtYWF6MzFYOTZnUkFWdnd4NTJ1UzZ3NFFZQ1VIUmZSM09hb0IyNjExOA== #JavaScript #cryptography #ledger #trezor #web3"

[2021-07-20 08:32] #1867 closed

[2021-07-20 14:46] matheusfelipeog commented on #1852
This is spam @krishna8421

[2021-07-20 14:47] #1866 closed

[2021-07-20 14:47] #1862 closed

[2021-07-20 14:48] #1858 closed

[2021-07-20 14:49] #1857 closed

[2021-07-20 14:53] matheusfelipeog commented on #1861
Please speak in English when opening an issue. 😅

If you have difficulty with English, use [google translate](https://translate.google.com.br/?sl=th&tl=en&op=translate)

[2021-07-20 14:53] #1861 closed

[2021-07-20 15:00] matheusfelipeog commented on #1860
Thanks for letting us know 😆

[2021-07-20 15:04] #1860 closed

[2021-07-20 21:10] Ameerhamza12345 opened #1871 "0322788768"

[2021-07-20 21:10] Ameerhamza12345 opened #1872 "0321278876819f3f6dfc8e0b297a97ec54322abd86ff11ca31f"

[2021-07-20 21:11] Ameerhamza12345 commented on #1872
Location

[2021-07-20 23:08] #1871 closed

[2021-07-20 23:08] #1872 closed

[2021-07-21 16:55] Shashank1324 opened #1876 "Forward me"

[2021-07-21 17:13] #1876 closed

[2021-07-21 21:07] Oku92 opened #1877 "Free API's"

[2021-07-22 00:04] nhanha0909 commented on #1877
1877

[2021-07-22 04:50] #1877 closed

[2021-07-22 05:58] wapes12 opened #1880 "Mine"

[2021-07-22 08:06] #1880 closed

[2021-07-25 07:03] Hibasafae opened #1894 "Web"

[2021-07-25 13:27] pawelborkar commented on #1894
spam

[2021-07-25 13:27] #1894 closed

[2021-07-26 06:44] pawelborkar commented on #1856
Thanks for opening this issue and stating the limitations of the contribution guide and also for the suggestions @jdoubleu ,
I do have some concerns regarding the APIs with the free trial plans and will also provide some policies for the same in a way that it benefits the developers the most. After drafting it will also have to get approved by the fellow collaborators   as well so it might take so

[2021-07-26 07:41] hamidhzazy opened #1898 "Hamidhzazy"
Thanks for looking to open an issue for this project.

If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

[2021-07-26 07:41] hamidhzazy commented on #1898
hamidhzazy

[2021-07-26 07:42] hamidhzazy commented on #1898
#1897

[2021-07-26 07:47] caner1250 opened #1899 "Rhhe"
N4n4

[2021-07-26 07:47] caner1250 commented on #1899
Dn

[2021-07-26 15:41] webdevphilh opened #1902 "TICKSEL should be taken from the list"
the site "tichsel" has stopped their services in december 2020.

the link is found in the business chapter:
https://github.com/public-apis/public-apis#business

[2021-07-27 03:32] stautonico commented on #1899
d4b8e4751b5ed3ff76023f100b8c48f996ec989a

[2021-07-27 07:39] pawelborkar commented on #1899
Spam

[2021-07-27 07:39] #1899 closed

[2021-07-27 07:40] #1898 closed

[2021-07-27 11:11] cameron187187 commented on #1899
im sorry how do i fix?

[2021-07-27 11:16] cameron187187 commented on #1700
my bad. i will read

[2021-07-27 22:01] Boyz90 opened #1904 "1"
__Originally posted by @Boyz90 in https://github.com/jpoz/APNS/issues/52__

[2021-07-28 08:18] ASMCLIMATIZACION commented on #1700
[ASM](https://asmclimatizacion.es/reparacion-aire-acondicionado/): great thanks

[2021-07-29 04:13] #1904 closed

[2021-07-29 05:00] matheusfelipeog commented on #1856
Improving and making free tier APIs policy more explicit is good.

I just have questions about what policies we could implement to accept an API. As API's are a service that costs to keep working, it's difficult not to have limits on your free tier 🤔

[2021-07-29 16:42] igpaul99 opened #1908 "Public apis"

[2021-07-29 17:35] #1908 closed

[2021-07-30 02:03] geneciSI opened #1909 "Public apis python"

[2021-07-30 03:10] #1909 closed

[2021-07-30 03:17] Shivakumar14 commented on #1909
Unsubscribe

On Fri, Jul 30, 2021, 08:42 Matheus Felipe ***@***.***> wrote:

[2021-07-30 03:19] matheusfelipeog commented on #1902
Thanks for the info @webdevphilh, we grateful for that 🤝

[2021-07-30 03:24] #1902 closed

[2021-07-30 03:25] matheusfelipeog commented on #1902
Removed in https://github.com/public-apis/public-apis/commit/d0e8a110478d250649ccc2575e4a077d596732ec

[2021-07-30 03:55] Shivakumar14 commented on #1902
Unsubscribe

On Fri, Jul 30, 2021, 08:57 Matheus Felipe ***@***.***> wrote:

[2021-07-30 12:01] cameron187187 commented on #1856
[they have stole my funds !! please help this is my acount and its not in my control. xan187 is another my email is cloud901cam@protonmail.com cloud901memphis@gmail.com
transactions currently pending been goung on 10 days !!!
![image](https://user-images.githubusercontent.com/80727796/127649819-6a847c0b-018f-486b-9dfa-0c32c783508e.jpeg)scammers address i have many i lost lots of transactions and t

[2021-08-02 21:23] Free-APIs opened #1919 "Free APIs static website"
Using the APIs from this website and the public-apis API itself, I've created an extremely fast website with search, browse, and shuffle functionality, in addition to an intuitive and clean design.

The site is deployed and live at: [https://free-apis.github.io](https://free-apis.github.io)
And you can find the open-source repository here: [https://github.com/Free-APIs/Free-APIs.github.io](https:/

[2021-08-03 13:16] matheusfelipeog commented on #1919
Wow, this is amazing. Good job @Free-APIs, it does what you describe perfectly.

Now the community has a new website to search and find APIs for their projects. We at public-apis really appreciate that. ❤️

[2021-08-06 17:50] pawelborkar commented on #1919
It's magnificent @Free-APIs,
This is so clean, intuitive and easy to navigate.
I'm impressed.

@matheusfelipeog @marekdano We should add its link to the README.

[2021-08-11 18:53] yaqubxeo opened #1928 "Yep"

[2021-08-11 23:15] stoeger2 opened #1929 "mmj"

[2021-08-11 23:23] #1929 closed

[2021-08-12 04:04] MrSadClown opened #1930 "Percobaan"
Test

[2021-08-12 11:32] asim opened #1932 "Sponsoring this project"
Hey all,

Firstly thanks for the great resource. I'm the new owner of [public-apis.io](https://public-apis.io) and the founder of [M3O](https://m3o.com) - a public api platform. I was wondering if there's any interest in adding sponsors to this repo and displaying logos/links to their site? We'd definitely be interested in adding M3O for such a thing.

Let me know if its of interest. I imagine man

[2021-08-12 15:27] #1930 closed

[2021-08-12 15:27] #1928 closed

[2021-08-12 17:43] matheusfelipeog commented on #1932
Hi @asim,

Thanks for opening this issue and taking an interest in sponsoring the Public APIs, we really appreciate that. ❤️

Well, I had that idea in mind to talk to the other devs who maintain public apis. So, particularly, I think it's a great idea.

As you raised this discussion, I'll take it and take it to the other devs so we can see their opinion on it. As soon as I get an answer, I'll let

[2021-08-12 17:47] matheusfelipeog commented on #1932
@yannbertrand @pawelborkar @marekdano

Guys, what do you think?

[2021-08-12 18:10] matheusfelipeog commented on #1932
Community, what do you think? Feel free to give your opinion on this 😉

[2021-08-12 19:10] matheusfelipeog commented on #1919
Maybe add a mention in `README.md` for unofficial public-apis websites?

These other websites are valid:

- [Dev Resources](https://devresourc.es/tools-and-utilities/public-apis)
- [public-apis-site](https://public-apis-site.vercel.app/)

[2021-08-12 22:33] Jidejamal opened #1936 "Api"

[2021-08-13 04:08] pawelborkar commented on #1932
Hey @asim,
Thanks for the offer, we appreciate it.

@matheusfelipeog Yeah, I too think it's great Idea.

[2021-08-13 04:10] #1936 closed

[2021-08-13 04:12] pawelborkar commented on #1919
Yes, it's good to have multiple sites for a user to choose from.

[2021-08-13 05:25] kdunn2856 commented on #1700
Thank you for your important and appropriate comment. This is NOT a venue for sales prospecting.

[2021-08-13 07:25] marekdano commented on #1932
@asim, thanks for the offer!
I agree 😄

[2021-08-13 07:30] marekdano commented on #1919
Yes, I agree with you guys! 😄

[2021-08-13 11:18] digitalblossom opened #1939 "Change Bible API from Portugese to English"
Given the repo is in English, it would make sense to link to the English version of the Bible API. It's a little hidden in the dropdown menu

https://bibleapi.co/en

[2021-08-13 12:25] yannbertrand commented on #1932
:wave: That would be greatly appreciated 👍

[2021-08-13 13:19] asim commented on #1932
Sounds like its a unanimous yes to sponsorship. That's great to hear. Luckily github sponsors makes this stuff pretty straight forward, it's just a case for you to decide what kind of sponsor tiers you'd want and how to feature those sponsors.

[2021-08-14 06:15] pawelborkar commented on #1939
Hey @digitalblossom.
Thanks for opening this issue, we appreciate your effort.

Would you like to go ahead and make a PR for the same?

[2021-08-14 23:23] matheusfelipeog commented on #1932
A big THANKS for replying guys ❤️

@asim I will work on it. We collaborators will talk about how to organize this, the platform used to sponsor, the sponsor tiers and how to feature those sponsors.

This may take a few days, but we'll get these tasks done as soon as possible.

When everything is ready, I will inform you here and publicly in the repo.

[2021-08-15 02:04] Eastwestbanker opened #1947 "Gcash"
Thanks for looking to open an issue for this project.

If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

[2021-08-15 03:45] matias904 opened #1948 "e3d3bf2d863f994d34601501cb6fc37d3f1e951a"

[2021-08-15 03:56] matias904 opened #1949 "Hhu"

[2021-08-15 04:55] #1947 closed

[2021-08-15 07:26] matias904 commented on #1947
Bzzz

[2021-08-15 11:52] Eastwestbanker commented on #1947
What

[2021-08-15 12:23] #1948 closed

[2021-08-15 12:24] #1949 closed

[2021-08-15 12:28] xan187 commented on #1947
My account xan187 is compromised over the past month everything has not been me. Ppl/hackers have email Apple ID and iTunes. I'm turn to stop it but it could be internal. With info like ssn. Please don't help on anything posted with this account unless directed towards information retrieval! I will continue to look at this and email for info if anyone can help

[2021-08-15 12:28] xan187 commented on #1947
My account xan187 is compromised over the past month everything has not been me. Ppl/hackers have email Apple ID and iTunes. I'm turn to stop it but it could be internal. With info like ssn. Please don't help on anything posted with this account unless directed towards information retrieval! I will continue to look at this and email for info if anyone can help

[2021-08-15 14:40] hiraman33 commented on #1590
hi

[2021-08-15 14:42] hiraman33 commented on #1590
how  to how to submit code on repository on github?

[2021-08-15 16:43] pawelborkar commented on #1590
Hi @hiraman33 ,

Video:- https://youtu.be/wrb7Gge9yoE

Article:- https://tinyurl.com/push2github

[2021-08-15 16:48] DCNAtom opened #1954 "Unblock.account.device.com"

[2021-08-15 16:49] DCNAtom opened #1955 "Unlock-octocat//account.NET"

[2021-08-15 16:52] DCNAtom opened #1956 "Unluck-octocat//device"
Unlink octocat from my device

[2021-08-15 16:54] DCNAtom commented on #1956
Python

[2021-08-15 20:21] Eastwestbanker commented on #1947
Thanks

[2021-08-16 06:48] #1954 closed

[2021-08-16 06:51] #1956 closed

[2021-08-16 06:51] #1955 closed

[2021-08-16 10:46] tonymukiibi opened #1957 "Am new to coding!"
I need help to start up.
I want to start from scratch
I want to develop a Bible app.
I have little coding background

Thanks

[2021-08-16 11:31] NerdlyTei commented on #1957
You can start with c#

[2021-08-16 11:37] Whitedevil5833 commented on #1957
**You Can Start With C**

[2021-08-16 12:10] Rom1deTroyes commented on #1957
Start by writing some tests : Units test are always welcomed in projects.

[2021-08-16 18:06] N9908 opened #1958 "Hi"
Sup bro

[2021-08-16 18:08] abitrolly commented on #1590
https://github.com/lycheeverse/lychee-action is capable of creating new issues when the check fails.

[2021-08-16 20:44] UnsettledDev opened #1959 "Phuza"

[2021-08-16 21:26] ElWeroRanchero commented on #1958
wasgud

[2021-08-17 04:52] #1959 closed

[2021-08-17 04:52] #1958 closed

[2021-08-17 05:07] matheusfelipeog commented on #1957
Hi @tonymukiibi, welcome to world of programming 👨‍💻 🌎

You can get started with FreeCodeCamp courses on the [website](https://www.freecodecamp.org/) or on the [youtube channel](https://www.youtube.com/channel/UC8butISFwT-Wl7EV0hUK0BQ).

[2021-08-17 05:08] #1957 closed

[2021-08-17 05:16] matheusfelipeog commented on #1590
Interesting @abitrolly

We'll see and test it later to see if it's needed here. Thanks for letting us know. ;)

[2021-08-18 14:14] nathanmargaglio opened #1960 "A "Favorites" Section"
As someone who just stumbled upon this repo, I think the concept is great, but I find the huge list of APIs to be daunting.  Since I'm not looking for any particular API at this point (i.e., I'm just browsing), I only scrolled down a few sections before giving up on something that caught my eye.

I think if the maintainers kept a brief list of "favorite" APIs that they presented near the top that

[2021-08-18 19:21] Morasiu opened #1961 "Potter API is obsolete"
Potter API is obsolete. It's not working and the link leads to nothing.

[2021-08-19 04:13] matheusfelipeog commented on #1961
Oh, right 👍

Thanks for letting us know about it @Morasiu

I will remove.

[2021-08-19 04:18] #1961 closed

[2021-08-19 06:46] matheusfelipeog commented on #1599
I'm going to close this issue, this API is apparently working.

[2021-08-19 06:46] #1599 closed

[2021-08-19 07:32] matheusfelipeog commented on #1590
All links that return 404 have been removed. Thanks guys. 👏👏

Closing this issue.

[2021-08-19 07:32] #1590 closed

[2021-08-19 12:32] Sanjeetkushwaha11111 commented on #1960
"I think if the maintainers kept a brief list of "favorite" APIs"--
Everyone is looking for different API, adding favorites section, can cause distractions of the user.

[2021-08-19 15:28] antonatlasov115 commented on #1936
api

[2021-08-19 15:30] antonatlasov115 commented on #1949
whou

[2021-08-19 15:31] antonatlasov115 commented on #1959
hui znaet

[2021-08-19 17:08] digitalblossom commented on #1939
Hi @pawelborkar, i just created a pr. I'm rather new to commits so please let me know if I did something incorrectly

[2021-08-20 00:21] matias904 opened #1965 "Yes"
Yes

_Originally posted by @matias904 in https://github.com/public-apis/public-apis/pull/1964#discussion_r692572817_

[2021-08-20 08:19] pawelborkar commented on #1939
It's perfect 😊

[2021-08-20 08:19] #1939 closed

[2021-08-20 11:31] #1965 closed

[2021-08-20 18:54] egm0121 opened #1970 "SoundCloud does not emit new api credentials"
Might want to remove SoundCloud from the list of music apis given that at the moment no new apps can be registered.
see: https://github.com/soundcloud/api#can-i-request-an-api-key-for-a-new-app

[2021-08-20 20:24] matias904 opened #1971 "Yes"
Yes

_Originally posted by @matias904 in https://github.com/public-apis/public-apis/pull/1964#discussion_r692572817_

[2021-08-21 00:18] matias904 opened #1972 "Yo"

[2021-08-21 04:02] #1972 closed

[2021-08-21 04:02] #1971 closed

[2021-08-21 10:33] hanlay123 opened #1975 "AiP"
curl "https://api.cryptomkt.com/v1/order"
   -H "X-MKT-APIKEY:  <tu api key>"
   -H "X-MKT-SIGNATURE:  <mensaje generado y firmado>"
   -H "X-MKT-TIMESTAMP:  <timestamp de la llamada>"
   -X POST

[2021-08-21 10:34] hanlay123 opened #1976 "API"
application/x-www-form-urlencoded.

[2021-08-21 10:36] cameron187187 commented on #1975
Curl not working 

Sent from Yahoo Mail for iPhone

On Saturday, August 21, 2021, 5:35 AM, hanlay123 ***@***.***> wrote:

curl "https://api.cryptomkt.com/v1/order"
-H "X-MKT-APIKEY: "
-H "X-MKT-SIGNATURE: "
-H "X-MKT-TIMESTAMP: "
-X POST

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-08-21 11:15] cameron187187 commented on #1976
Ty

[2021-08-21 11:33] cameron187187 commented on #1975
Sent from Yahoo Mail for iPhone

[2021-08-21 21:35] hanlay123 opened #1977 "artswit"
import os
import sys
from setuptools import setup

def extract_version(module='odm2admin'):
    version = None
    fdir = os.path.dirname(__file__)
    fnme = os.path.join(fdir, module, '__init__.py')
    with open(fnme) as fd:
        for line in fd:
            if (line.startswith('__version__')):
                _, version = line.split('=')
                # Remove quotation characters.

[2021-08-21 23:27] matias904 opened #1978 "LekDfUuQFRqN3Tm9eMJZq5riZUb6FkuXVE"

[2021-08-22 05:49] pawelborkar commented on #1970
Thanks for pointing it out @egm0121
Would you like to make a PR regarding the same?

[2021-08-22 06:10] pawelborkar commented on #1960
Thanks for the suggestion @nathanmargaglio and @Sanjeetkushwaha11111  for pointing out one of its limitations.

I think there's no need for the **Favorites** Section as of now or no need at all in the future as well because it can cause not only a lot of distractions but also a sense of biasness in the user's mind. At **Public APIs** we want every API to treat the same as well as we also want them

[2021-08-22 06:11] #1977 closed

[2021-08-22 10:22] #1978 closed

[2021-08-22 10:22] #1976 closed

[2021-08-22 10:22] #1975 closed

[2021-08-22 10:23] cameron187187 commented on #1975
Hello its cameron

[2021-08-22 10:24] cameron187187 commented on #1975
Hi it’s cameron

Sent from Yahoo Mail for iPhone

On Sunday, August 22, 2021, 5:23 AM, Pawel Borkar ***@***.***> wrote:

Closed #1975.

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-08-22 10:26] cameron187187 commented on #1975
Hi I’m lost I’m sorry. You wanted me to reply by email?

Sent from Yahoo Mail for iPhone

On Sunday, August 22, 2021, 5:24 AM, Molly Prather ***@***.***> wrote:

Hi it’s cameron

Sent from Yahoo Mail for iPhone

On Sunday, August 22, 2021, 5:23 AM, Pawel Borkar ***@***.***> wrote:

Closed #1975.

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub, or u

[2021-08-22 10:28] cameron187187 commented on #1978
Hi I’m willing to do whatever I’m just lost sorry

Sent from Yahoo Mail for iPhone

On Sunday, August 22, 2021, 5:23 AM, Pawel Borkar ***@***.***> wrote:

Closed #1978.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-08-22 10:38] pawelborkar commented on #1978
Please stop replying to these issues and PR, you are spamming it.

If you want to contribute by making a PR or creating a genuine issue feel free to do so but for God sake please stop commenting unnecessary things into the issues and PR sections.

I guess you are watching this repository and didn't know how GitHub work so I encourage you to watch some GitHub tutorials on YouTube.

Just stop spammi

[2021-08-22 10:40] cameron187187 commented on #1978
Ok damn didn’t know.I appreciate the help. Last thing I wanna be doing I’ll take the time to figure out basics.

[2021-08-22 10:42] pawelborkar commented on #1978
Thanks v@cameron187187

[2021-08-23 10:04] erwanvivien opened #1981 "NumValidate does not work ?"
Hello,

Just tried to use NumValidate as a test, with the default example they have on [numvalidate website](https://numvalidate.com/)
[code]

And it gave
[code]

This address is not working too [https://numvalidate.com/api/validate](https://numvalidate.com/api/validate)

[2021-08-23 15:18] matheusfelipeog commented on #1960
I agree with it

[2021-08-23 15:21] matheusfelipeog commented on #1960
It seems to me that this is already resolved. Thanks guys.

Closing this issue.

[2021-08-23 15:21] #1960 closed

[2021-08-23 15:37] matheusfelipeog commented on #1981
Thanks for letting us know about this. @erwanvivien

This API is not working, I will remove it.

[2021-08-23 15:41] #1981 closed

[2021-08-23 17:20] mgutale opened #1982 "Public API"

[2021-08-23 17:36] #1982 closed

[2021-08-24 05:11] matias904 opened #1984 "Ooo"

[2021-08-24 06:19] #1984 closed

[2021-08-24 11:57] #1919 closed

[2021-08-24 13:10] matheusfelipeog commented on #1919
Now your project is in the header of public apis @Free-APIs 🎉

See: #1985

[2021-08-24 13:11] matheusfelipeog commented on #1716
Now your project is in the header of public apis @marcelscruz 🎉

See: #1985

[2021-08-24 13:13] matheusfelipeog commented on #1852
Now your project is in the header of public apis @krishna8421 🎉

See: #1985

[2021-08-24 13:29] marcelscruz commented on #1716
That's awesome @matheusfelipeog, really appreciate it!
And the header looks super good now, great job there!

[2021-08-24 14:09] krishna8421 commented on #1852
Hey @matheusfelipeog

I am glad you liked the site and added it to the header of your repo. Thanks a million and I really appreciate it😊. I will add more stuff and complete the project, I feel bad I left it with some work pending due to my exams, I'll soon start to work on it again.

You can use https://www.public-apis.ml

[2021-08-24 14:34] matheusfelipeog commented on #1852
No problem 😆

I will update to this link ;)

[2021-08-24 14:39] matheusfelipeog commented on #1852
Done ;)

[2021-08-24 22:44] matias904 opened #1986 "Jo"
Please help

[2021-08-24 22:44] matias904 commented on #1986
Whattt=?

[2021-08-24 23:02] matias904 opened #1987 "Yo"

[2021-08-24 23:37] #1987 closed

[2021-08-24 23:38] #1986 closed

[2021-08-24 23:42] matias904 opened #1988 "Sorry"
Help

[2021-08-25 00:19] #1988 closed

[2021-08-25 22:27] matias904 opened #1992 "Smbdand"

[2021-08-25 23:49] #1992 closed, assigned to nobody

[2021-08-26 17:24] raff opened #1995 "The link to Marvel developer portal should be "https" (currently "http")"
This is the current entry:

    | [Marvel](http://developer.marvel.com) | Marvel Comics | `apiKey` | No | Unknown |

There is no automatic redirect between http and https, but the https URL does work.

[2021-08-27 10:11] User12hg opened #1998 "Test window"
Thanks for looking to open an issue for this project.

If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

[2021-08-27 16:19] matias904 opened #2000 "Mmmh"

[2021-08-27 20:47] #2000 closed, assigned to nobody

[2021-08-27 20:47] #1998 closed, assigned to nobody

[2021-08-27 21:08] #1995 closed, assigned to nobody

[2021-08-27 21:53] matheusfelipeog opened #2002 "Inactive PRs must be closed and their APIs added"
There are many inactive PRs that have already been revised and with their APIs according to our addition criteria. These PRs are just waiting for some correction that was requested by one of the maintainers, and as they are inactive PRs, they will likely not be done.

Inactive PRs must be closed and their APIs added if they still meet our criteria.

Maintainers can add the APIs of these PRs in the

[2021-08-28 01:42] matias904 opened #2003 "Yo"

[2021-08-28 01:44] matias904 opened #2004 "J"

[2021-08-28 02:53] matias904 opened #2005 "T"

[2021-08-28 21:56] #2005 closed

[2021-08-29 00:32] #2003 closed

[2021-08-29 00:32] #2004 closed

[2021-09-01 07:52] Locnguyennt93 opened #2011 "ip.49.199.246.99@gmail.com"
https://documentcloud.adobe.com/link/review?uri=urn:aaid:scds:US:0ac33a49-7eb5-40e7-a396-17b7e5846146

File://office-inspector-general.html/sba_0019910001366

2604:a880:400:d1::c1a:d001

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese&amp;display=swap"/Firefox iOS on iOS 14.6
Mel

[2021-09-02 11:33] #2011 closed

[2021-09-02 19:49] htet969lin opened #2019 "Api"

[2021-09-02 22:42] xan187 commented on #1949
Yes they keep steal my stuck transactions and using my get hub

[2021-09-03 10:43] #2019 closed

[2021-09-04 15:40] Black1009WQ opened #2024 "Gggg"
import discord

class MyClient(discord.Client):
    async def on_ready(self):
        print('Logged on as {0}!'.format(self.user))

    async def on_message(self, message):
        print('Message from {0.author}: {0.content}'.format(message))

client = MyClient()
client.run('my token goes here')

[2021-09-04 19:05] drodil commented on #2024
You drunk?

[2021-09-05 05:37] #2024 closed

[2021-09-09 17:30] webdevrahul commented on #2002
Hey

[2021-09-10 18:54] dukeofdoom007 opened #2041 "My token"
H 

[2021-09-10 18:54] dukeofdoom007 commented on #2041
Jaja

[2021-09-10 19:59] Locnguyennt93 opened #2042 "61400253787@github.microsoft.com"
Tel:+61400253787.
<api_61400253787@outlook.com>

[2021-09-10 20:30] Locnguyennt93 commented on #2042
https://github.com/public-apis/public-apis/issues/2042

[2021-09-11 04:07] #2042 closed

[2021-09-11 04:07] #2041 closed

[2021-09-13 12:40] FayasNoushad opened #2044 "Active Contributors"
Please add some active contributors for this repository.

[2021-09-14 20:46] matheusfelipeog commented on #2044
Thanks for opening this issue @FayasNoushad 😄

I believe there is no need to add new contributors now as the current maintainers are already doing the job very well. The reason for the delay in reviewing some PRs is probably because we are busy with other things and also with an internal problem that we have.

Just see that practically all PRs have already been reviewed and we are waiting for the

[2021-09-14 20:46] #2044 closed

[2021-09-15 14:01] DCNAtom opened #2046 "Mydevice"
https://iforgot.samsung.com/appleid

[2021-09-16 11:18] Ciscoflash opened #2048 "API"
Thanks for looking to open an issue for this project.

If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

how do I get sample API for testing as a beginner

[2021-09-16 14:46] Lucifer0440 commented on #2048
How how do I get sample API for testing as a beginner

[2021-09-16 21:27] #2046 closed

[2021-09-16 21:35] matheusfelipeog commented on #2048
@Ciscoflash @Lucifer0440

You can choose one of the [APIs listed in README.md](https://github.com/public-apis/public-apis#readme) and read its documentation. All APIs listed here can be used for free on some tier.

You can also see how to create your own through the FreeCodeCamp course, [Back End Development and APIs](https://www.freecodecamp.org/learn/back-end-development-and-apis/).

[2021-09-16 21:37] #2048 closed

[2021-09-18 17:06] armsomboon opened #2056 "github"

[2021-09-18 19:43] vamagithub commented on #2002
Can i work on this issue.

[2021-09-20 09:59] thaking86 opened #2059 "Time for play"

[2021-09-20 10:10] krishna8421 commented on #1852
Hey @matheusfelipeog,

I made some changes to the site XD
Check it out https://public-apis-site.vercel.app

If you have any suggestions, I'll be happy to work on them.

[2021-09-20 19:29] weberstills commented on #2059
?

[2021-09-20 19:29] weberstills commented on #2056
?

[2021-09-20 19:31] thaking86 commented on #2059
Yes was sup

Sent from ProtonMail for iOS

On Mon, Sep 20, 2021 at 2:29 PM, Adam Oommen Jacob ***@***.***> wrote:

[2021-09-20 19:36] calipsow commented on #2059
I‘m sry That was accidentally

steven ***@***.***> schrieb am Mo. 20. Sept. 2021 um 21:34:

[2021-09-20 19:38] thaking86 commented on #2059
Can u help me or atleast guid me in right direction
Sent from ProtonMail for iOS

On Mon, Sep 20, 2021 at 2:37 PM, calipsow ***@***.***> wrote:

[2021-09-22 02:02] thaking86 opened #2064 "This is an automatic backport of pull request #19940 done by [Mergify](https://mergify.io)."
This is an automatic backport of pull request #19940 done by [Mergify](https://mergify.io).
Cherry-pick of 013e1d9d498af374eaaa2ad83070b107de63b948 has failed:
[code]

To fix up this pull request, you can check it out locally. See documentation: https://docs.github.com/en/github/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/checking-out-pull-requests-locally

---

<details>
<

[2021-09-22 11:29] #2064 closed

[2021-09-22 11:30] #2059 closed

[2021-09-22 11:30] #2056 closed

[2021-09-22 18:19] Lansaaa opened #2065 "ISBNdb has paywall"
In order to get an API KEY, you need to pay a monthly fee even for the basic plan. It has a free trial period of 7 days
[https://isbndb.com/isbn-database](https://isbndb.com/isbn-database)

[2021-09-23 18:59] matheusfelipeog commented on #1852
Wow, this is perfect 🎉🚀

[2021-09-23 19:05] matheusfelipeog commented on #2065
Oh you're right. I will remove it.

Thanks for letting us know @Lansaaa ;)

[2021-09-23 19:08] #2065 closed

[2021-10-01 02:21] thaking86 opened #2074 "## Beep boop. Your images are optimized!"
## Beep boop. Your images are optimized!

Your image file size has been reduced by **10%** 🎉

<details>
<summary>
Details
</summary>

| File | Before | After | Percent reduction |
|:--|:--|:--|:--|
| /public/social-preview.png | 22.90kb | 10.91kb | 52.35% |
| /public/images/painting/forgery/Amazing-painting.png | 95.28kb | 53.80kb | 43.54% |
| /public/images/painting/real/Amazing-painting.png | 93

[2021-10-01 05:59] #2074 closed

[2021-10-02 07:38] priyanshm07 commented on #2002
Are there any open issues?
@matheusfelipeog would like to work on them.

[2021-10-02 10:11] paikend opened #2086 "Add Kakao API to Social"
we can create social login service By [kakao API](https://developers.kakao.com/product/kakaoLogin).

Have a niceday. 👍

[2021-10-02 13:05] CipherGirl commented on #2002
@matheusfelipeog Hey! I have raised some PRs. It would be great to have your feedback and your consideration about 'hacktoberfest-accepted' label :)

[2021-10-02 14:10] matheusfelipeog opened #2107 "Hacktoberfest 2021"
<div align="center">
    <img src="https://user-images.githubusercontent.com/50463866/135718788-5e4b1937-6593-47db-b6d8-789d89f39097.png" width="400px" />
</div>
<p align="center"><strong>Open source is changing the world – one contribution at a time.</strong></p>

<p align="center"><strong>Support open source throughout October!</strong></p>

<p align="center">Hacktoberfest encourages participati

[2021-10-02 17:46] cyberbuddy-manas commented on #2107
Great, am interested to contribute to this repository. Hope it all works out well.

[2021-10-02 18:21] megamayoy commented on #2002
@matheusfelipeog I wanna contribute during the Hacktoberfest. Can I work on this inactive PR https://github.com/public-apis/public-apis/pull/1678 ?

[2021-10-02 20:06] matheusfelipeog commented on #2002
Excellent @CipherGirl, we will review all PRs as soon as possible. Note that there are many ;)

[2021-10-02 20:08] saraswathy-krish commented on #2107
Hi @matheusfelipeog , I am interested to contribute to this repository and would love to take up on an issue.

[2021-10-02 20:09] matheusfelipeog commented on #2002
Very good @megamayoy. Of course you can, you can create a new PR for any inactive PR as I described at the beginning of this issue:

[2021-10-02 20:49] #2086 closed

[2021-10-02 21:03] matheusfelipeog commented on #2107
Very good @cyberbuddy-manas and @saraswathy-krish, we look forward to your contribution ;)

[2021-10-03 02:11] paikend opened #2148 "Add Line to Social"
https://developers.line.biz/en/docs/line-login/

[2021-10-03 03:31] priyanshu688 commented on #2107
I would like to contribute to this..Can I work on this? @matheusfelipeog

[2021-10-03 03:39] susheelg1197 commented on #2107
I am very interested to contribute.

[2021-10-03 03:42] matheusfelipeog commented on #2107
Of course @priyanshu688, any contribution is welcome.

[2021-10-03 04:23] priyanshm07 commented on #2107
Hey, @matheusfelipeog
I would like to add some APIs to the repo as my contribution.

[2021-10-03 04:42] priyanshu688 commented on #2107
@matheusfelipeog thank you...what exactly here I need to do...can you tell me?

[2021-10-03 05:06] KadariSadhvika903 commented on #2107
Hi, @matheusfelipeog. I am interested to contribute to this repository.

[2021-10-03 05:51] Beyonday008 commented on #2107
I am interested to contribute..

[2021-10-03 06:10] pawelborkar commented on #2107
Hey guys thank you so much for showing your interest in the project, make sure to read the [Contributing Guide](https://github.com/public-apis/public-apis/blob/master/CONTRIBUTING.md) completely before opening a PR, we follow one commit one API policy at public APIs, so make sure you abide by this in order to make the reviewing process faster.

Thanks 😊

[2021-10-03 06:11] pawelborkar commented on #2107
Read More at #1700

[2021-10-03 06:38] pawelborkar commented on #2148
Don't open an issue if you've already open a PR, please wait for the review. If you find any bugs or genuine issues then only open an issue otherwise don't

Thanks

[2021-10-03 06:38] #2148 closed

[2021-10-03 06:56] swaraj-ssk commented on #2107
Can I contribute to this? I am very interested to do so.

[2021-10-03 07:00] Alankruthisaieni commented on #2107
Sir Please look into my PR Add Geek-Jokes API #2168

[2021-10-03 07:01] pawelborkar commented on #2107
Sure, We are open to all the contribution please make sure to read the Contributing Guide before your open a PR

[2021-10-03 07:02] pawelborkar commented on #2107
Please have patience we'll be reviewing the PRs on the first come first serve basis.

Thanks

[2021-10-03 08:44] OscarRG commented on #2002
Hey @matheusfelipeog i show that the Bible API is inactive and i created a PR to remove it from the list :) [PR](https://github.com/public-apis/public-apis/pull/2176/files). I added also a Harry Potter API to fetch the characters: [PR](https://github.com/public-apis/public-apis/pull/2174)

[2021-10-03 09:50] mgeorgiou commented on #2107
Starred! This will be my go-to repo for finding public APIs from now on. Cheers

[2021-10-03 11:25] daviddavo opened #2178 "Changing Cryptocurrency category name to Blockchain"
While the blockchain is mainly known for cryptocurrency and decentralized finance, it has a lot of applications like decentralized autonomous organizations, NFT marketplaces, etc.

For this reason, there are some APIs like #2179 that are focused on studying other aspects of the various blockchain apart from cryptocurrencies.

What do you think?

[2021-10-03 13:26] Ritika457 commented on #2107
Hey , @matheusfelipeog can you assign this issue to me. I can fix it.

[2021-10-03 14:03] pawelborkar commented on #2178
Thanks @daviddavo for opening this issue and providing a suggestion. We appreciate it.
But I think changing the category name of Cryptocurrency to the Blockchain may result into some confusion while searching for the APIs on Cryptocurrencies for beginners.
So, to resolve this issue we'll be creating a new category for the Blockchain which will explicitly contains the projects based on blockchain t

[2021-10-03 14:13] pawelborkar opened #2189 "Projects based on Blockchain Technology other than Cryptocurrencies should be added to the Blockchain Category"
- Projects based on Blockchain Technology other than Cryptocurrencies should be added to the Blockchain Category
- Projects which uses blockchain technology and are Cryptocurrencies should be added to the Cryptocurrency category only and not to the Blockchain category.
- No API should be added to both the categories. If it's crypto then add it to cryptocurrency if it's not and uses blockchain tech

[2021-10-03 14:16] pawelborkar commented on #2178
Closing this issue. ref #2189

Feel Free to share your opinion @daviddavo

[2021-10-03 14:16] #2178 closed

[2021-10-03 14:24] pawelborkar commented on #2107
It's not a bug to fix @Ritika457

This has been opened for the announcement purpose.

You can contribute to the project by adding an API or more to the project which it doesn't contains at present. And if you're going ahead to do so please make sure you read the [Contributing Guide ](https://github.com/public-apis/public-apis/blob/master/CONTRIBUTING.md)

Thanks

[2021-10-03 15:47] cyberbuddy-manas commented on #2107
@pawelborkar Hey, do we need to open a new issue or directly submit our pr? Also will you guys be adding issues to fix bugs or add upgrades or do we need to create our new apis? Thank you in advance for helping me out!!

[2021-10-03 16:10] elenajp commented on #2107
Sounds, great! I would love to contribute. Happy hacktoberfest everyone 🥳

[2021-10-03 16:33] RenatoLopes771 commented on #2189
Maybe we should consider having Blockchain and Blockchain (Cryptocurrency)?

[2021-10-03 20:06] pawelborkar commented on #2189
Nope. It's better to have a separate category for both of them with the proposed naming convention.

[2021-10-03 20:13] pawelborkar commented on #2107
You you know any public API which hasn't been added to the project uptil now then go ahead and make a PR or if you found any bug/typo feel free to do the same but first open the issue if you found any bug

If we find any we'll adding them in the issues but we also encourage you to find them as well and you don't need to create an API just for the sake of adding it into the project, make sure it ca

[2021-10-03 20:17] pawelborkar commented on #2107
Thanks, Please go ahead. Happy Hacktoberfest to you too ☺️

[2021-10-03 21:11] elenajp commented on #2107
Done! This is such a useful list of APIs, thanks 😊

[2021-10-03 21:55] megamayoy commented on #2189
Could you please assign this to me?

[2021-10-04 13:12] RenatoLopes771 commented on #2107
Hello @matheusfelipeog I believe we should look if the repository is valid for this year's hacktoberfest though. I don't think so, since it's a list of data.

A good way to check is to access the event with your github and check if your PR's show "awaiting review" or "excluded project".

[2021-10-04 13:28] elenajp commented on #2107
I see it says excluded project

[2021-10-04 14:02] matheusfelipeog commented on #2107
@RenatoLopes771 Really? I've read the content on the hacktoberfest website and haven't found anything stating that data lists are not valid projects. Can you tell me any links that inform this?

Even so, it seems to me that you are right. 😕 I'll try talking to Hacktoberfest to see what can be done.

[2021-10-04 14:07] matheusfelipeog commented on #2107
If other contributors are seeing your contributions to Public APIs as "excluded project" in their [profile on the Hacktoberfest website](https://hacktoberfest.digitalocean.com/profile), please let us know.

[2021-10-04 14:09] RenatoLopes771 commented on #2107
The event has not been very good at telling what is a invalid project. This one obviously isn't spam but it fits into the invalid criteria. I had to look up their discord to see what fits into the invalid criteria, and it seems mostly "DSA's, lists" and so on. From what I understand, I think they only want people contributing code to software code bases this year.

I'm gonna request that you remov

[2021-10-04 14:16] RenatoLopes771 commented on #2107
Nevermind. This one project that was DSA got it's invalid state removed. You could try talking to a hacktoberfest official to see if they remove the invalid state.

[2021-10-04 20:02] MattIPv4 commented on #2107
👋 This repo is not, and never has been, marked as excluded.

[2021-10-04 20:12] Nirzak commented on #2107
Already contributed ago. I am looking forward to contributing more and also I would like to review the PRs if you want.

[2021-10-04 20:12] RenatoLopes771 commented on #2107
I'm glad to hear that. Sorry for the troubles.

Having a little of trouble understanding the event rules.

[2021-10-04 20:21] matheusfelipeog commented on #2107
a big THANKS for letting us know @MattIPv4 ❤️🎉

I found it strange, as some contributors are getting the "excluded project" tag on their contributions, such as @elenajp

and also revisions and merges by maintainers are not being accounted for in the profile:

![image](https://user-images.githubusercontent.com/50463866/135918918-1733afbb-0294-41e5-b25b-7dad1858a31d.png)

This is normal @MattIPv4?

[2021-10-04 20:24] MattIPv4 commented on #2107
I wonder if they're referring to a PR from a different repo, not this one? A PR submitted here definitely shouldn't be showing as exclude.

The profile on the site only shows contributions from the perspective of a participant, not maintainer actions. We'll be doing a one-time check to calculate those at the end of Hacktoberfest.

[2021-10-04 20:25] Nirzak commented on #2107
Go more below. there you will see your active PRs and I think this repository has been allowed for hacktoberfest because there's nothing showing excluded status for this repository and also the Maintainer actions will not be shown on profile, and will be tallied up in a one-time check performed by the Hacktoberfest team after Hacktoberfest has ended.

[2021-10-04 20:41] matheusfelipeog commented on #2107
That's a good question. @elena, are you sure the PRs marked as "excluded project" refer to your contribution to the Public APIs? Can you take a screenshot and show us, please?

Oh right @MattIPv4 / @Nirzak. It hadn't been so clear to me reading the content on the hacktoberfest website. Thank you again. 😅

[2021-10-04 23:41] MrCM69 opened #2274 "api"

[2021-10-05 01:16] #2274 closed

[2021-10-05 08:13] elenajp commented on #2107
I checked again and is all good at my end. I swear it said it wasn't earlier. Anyway the project is included now for me which is great!

[2021-10-05 09:04] shangkaul commented on #2107
I had created a PR - #2279  but since I am a first-time contributor, workflow is awaiting approval. Do let me know if I'm missing a step here.

[2021-10-05 10:33] Nirzak commented on #2107
Your PR is fine but as you are a first-time contributor, a maintainer with write access has to approve the workflow. So, You might have to wait a little bit.

[2021-10-05 13:37] RedHeadphone opened #2320 "Creating new section Entertainment"
In [Personality section](https://github.com/public-apis/public-apis#personality) there are many api which doesn't seem fit like NaMoMemes, Yo Momma Jokes, Imgflip and Biriyani As A Service. So I thought we can make a section of Entertainment. If it seems right I would like to separate them.

[2021-10-05 15:11] squio commented on #2107
Just added the official Dutch open API for Air quality - a rich environmental API providing many air quality related components and excellent documentation.

PR  see https://github.com/public-apis/public-apis/pull/2328

[2021-10-05 16:10] BASRIAMD opened #2333 "Me_In Batam. Apa Kabar Dunia...?"

[2021-10-05 16:13] BASRIAMD opened #2334 "Me_In Batam. My Famyli"

[2021-10-05 16:14] shangkaul commented on #2107
Oh okay, thanks for checking it out!

[2021-10-05 16:15] BASRIAMD commented on #2334
Me_In Batam,My Famyli Is Verry Faar To Maluku.

[2021-10-05 17:08] abc516 commented on #2107
Hi @matheusfelipeog, I would like to contribute to this project too

[2021-10-05 23:16] Ynglvr69 opened #2348 "Fantasies"
Looking for friends who love young girls

[2021-10-05 23:31] Ynglvr69 commented on #2348
Hello
Looking for friends with same interests

[2021-10-06 02:18] #2348 closed

[2021-10-06 02:18] #2334 closed

[2021-10-06 04:58] shangkaul commented on #2320
Yep, there are many APIs related to movies-tv series like star wars and IMDB API in the Video section, these also would be better suited in the Entertainment section.

[2021-10-06 15:34] Programmer-RD-AI opened #2357 "Website"
I think to create a simple website for this repo will be really easy.

With best regards.

[2021-10-06 15:56] Programmer-RD-AI commented on #2357
ok, thank you sorry I didn't check.

With best regards

[2021-10-06 16:59] pawelborkar commented on #2320
@matheusfelipeog  @marekdano What you guys think on this?

[2021-10-06 17:40] thaking86 opened #2362 "Hello, I created a whitelist for FE. Before entering the site, whitelist is checked and you need to connect to the phantom wallet. After connecting, if the user's wallet is on the whitelist, the user can connect to the site. Otherwise it cannot connect. In this gif wallet 1 is not listed, wallet 2 is listed. When I connect with Wallet 2, as you can see, the site opens and asks the user to connect to a wallet. But although I connected to the phantom wallet before, when I connect again, nothing happens as you can see at the end of the gif. If I am already connected to the wallet, how can I bypass the connect wallet step?"
Hello, I created a whitelist for FE. Before entering the site, whitelist is checked and you need to connect to the phantom wallet. After connecting, if the user's wallet is on the whitelist, the user can connect to the site. Otherwise it cannot connect. In this gif wallet 1 is not listed, wallet 2 is listed. When I connect with Wallet 2, as you can see, the site opens and asks the user to connect

[2021-10-07 02:29] Priyojone commented on #2178
New catagorius

[2021-10-07 09:13] marekdano commented on #2320
If there are more APIs that can be in a new section then we should do that. I think it's better to have more sections for the specific APIs than a general one.

[2021-10-07 14:45] RedHeadphone commented on #2320
Biriyani As A Service would be better if it's in [food drink section](https://github.com/public-apis/public-apis#food--drink) right

[2021-10-07 21:20] Hmbrecord opened #2393 "Hmb"
Noms

[2021-10-07 21:32] #2393 closed

[2021-10-08 09:52] Dusto206 opened #2404 "Blockchair"
￼

￼

Explorers

APIAPI documentation

API documentation

Introduction

Supported blockchains and second layers

Quick endpoint reference

Basic API request

Basic API response

API rate limits, API keys, and Premium API

API versioning and changelog

General stats endpointsRetrieve overall information about blockchains and tokens

Dashboard endpointsRetrieve information about various entities in

[2021-10-09 08:08] hippyaki opened #2418 "Remove Cat-Facts from Animals"
Refer to PR #934 for more details on this.

Abstract:

The documentation link has been shifted to `/docs` now. Apart from that, the API is not dependable as it crashes and I haven't received any response from the endpoint yet.
The documentation is not clear of the HTTP methods to be used as well.

[2021-10-09 15:29] #2404 closed

[2021-10-09 15:35] sayonnnnnn opened #2427 "UI Upgrade for kanye.rest API"
The public API page for kanye.rest can use a UI upgrade as well which would be a bit more funky and aesthetic to Kanye West. #2107

[2021-10-10 07:39] pawelborkar commented on #2418
Hey @hippyaki
Thanks for opening this issue.
Are you talking about the  Cat-Facts from Animals because Anime doesn't has an API with the name you mentioned.
If so then I try to recreate the issue but found it's working well
![Screenshot (96)](https://user-images.githubusercontent.com/36134699/136687025-d2bb9799-e980-4781-acdf-47f1c106bbdf.png)

[2021-10-10 07:47] hippyaki commented on #2418
@pawelborkar My bad. I have updated the name. Yes, Cat-Facts from Animals.

Now it is working fine. The day I tried, it was responding 503 error. Somebody can change the API doc page tho.

[2021-10-10 08:02] #2418 closed, assigned to nobody

[2021-10-10 11:23] hippyaki opened #2446 "Remove catAPI from Animals"
Here is the updated API Doc of catAPI, https://github.com/ThatCopy/catAPI/wiki/Docs

 But the API server is returning a 404 error. Might as well remove nonfunctional API sites.

[2021-10-10 16:37] matheusfelipeog commented on #2107
@RUDRANSH-hub We are not the organizers of the hacktoberfest event, just participants. We also don't have access to your site's source code.

[2021-10-10 16:42] matheusfelipeog commented on #2427
@sayonnnnnn Thanks for opening this issue ;)

We are not maintainers of this API. You must indicate an update to the UI of the page in their repository: https://github.com/ajzbc/kanye.rest

[2021-10-10 16:42] #2427 closed

[2021-10-10 17:32] #2446 closed

[2021-10-10 17:33] matheusfelipeog commented on #2446
This is fixed in: #2448

[2021-10-10 17:39] hippyaki commented on #2446
@matheusfelipeog Clear the PRs please, I'm willing to commit to separate PRs for other updates.

Like, this #2399

[2021-10-10 17:45] matheusfelipeog commented on #2446
Please wait, note that there are many PRs to review and we will do this as soon as possible.

Old ones are revised first. This will be revised soon.

[2021-10-11 19:43] Dusto206 opened #2493 "Block"
bitcoin:1LU44T2rcPS6GZ3TbKFwuABhbhy22kHyM
Can I put alotof coins to this addreess

[2021-10-11 22:42] Dusto206 commented on #2404
GitHub Docs

REST API/Reference/Checks

GitHub.com

In this article

Check Runs

Create a check run

Get a check run

Update a check run

List check run annotations

Rerequest a check run

List check runs in a check suite

List check runs for a Git reference

Check Suites

Create a check suite

Update repository preferences for check suites

Get a check suite

Rerequest a check suite

List check s

[2021-10-12 10:24] 07munene opened #2500 "installing metasploit in termux"
Thanks for looking to open an issue for this project.

If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

[2021-10-13 19:11] RedHeadphone opened #2516 "which section does readme typing api belong"
[This api](https://github.com/DenverCoder1/readme-typing-svg) doesn't seems to go with any section in the repo. Can you let me know which section should this belong to?

[2021-10-15 09:49] CodeForFun-JayeshP commented on #2107
I have work on an API program it will an honor to work on your repository.
thank you

[2021-10-15 10:51] QRiddler commented on #2107
Hi! can someone help me in finding what is wrong in the pr I made? #2419

[2021-10-15 14:54] hippyaki opened #2558 "Why are the PRs not being updated for the last few days?"
Just need a quick update. Close this issue, immediately after replying.

@pawelborkar

[2021-10-15 15:46] matheusfelipeog commented on #2558
Hi @hippyaki ;)

Many PRs are reviewed and merged practically every day. Just see our [commit history](https://github.com/public-apis/public-apis/commits/master).

Some recent PRs can be revised first as the maintainer deems necessary. The reason for this may vary.

For example: I review some PRs whose contribution is an update, removal or correction of some API already listed. Also, I sometimes r

[2021-10-15 15:46] #2558 closed, assigned to nobody

[2021-10-16 17:14] rj45jack opened #2579 "Weather APIs, sort of a mess?"
Hey,

Forgive me in advance if this isn't something anyone should be worried about.

Under the Weather APIs there are two 'APIs' that are more like apps than APIs. One is [weather-api](https://github.com/robertoduessmann/weather-api). This 'API' is just a call to another App in the list. Which is [wttr](https://github.com/chubin/wttr.in). While wttr offers API calls they're just using [WorldWeathe

[2021-10-16 19:40] mickeysucks opened #2582 "HTML/PHP Login System"

[2021-10-16 21:50] rdmchr commented on #2582
Are you talking about things like Auth0 or Firebase? Because I'm not sure those fit into this repository.

[2021-10-17 13:32] pawelborkar commented on #2579
Thanks for pointing this out and opening this issue @rj45jack

wttr is indeed an App and not an API so we need to remove it ASAP. Whereas weather-api does returns a JSON which contains weather information which can be used in the project, So I think we should keep it.

Further on this, would to like to open a PR regarding the removal of wttr from the list?

[2021-10-17 14:19] rj45jack commented on #2579
Thanks @pawelborkar. I'll start a PR shortly.

[2021-10-19 02:42] jennifertieuu commented on #2107
Love this! I would like to contribute to this as well. I am new to open source and participating in my first Hacktoberfest.

[2021-10-19 05:18] Nirzak commented on #2107
Take your time to go through whole repository and also read the contribution guidelines. Find out if any such API is remaining that you know but missing in this repository. Then don't forget to check on the pull requests section if any other one has already created a pull requests about that API. If not then fork this repository, add your API with all the details and create the pull request. Best

[2021-10-20 09:56] andriyevski opened #2625 "Thanks!"
Thanks it's a nice idea and work!)

[2021-10-20 19:45] NIKU-SINGH commented on #2189
@pawelborkar could you check this PR ?
https://github.com/public-apis/public-apis/pull/2581

[2021-10-21 01:32] #2625 closed

[2021-10-21 05:32] A3lli0t commented on #2189
Can anyone please guide me on how to do this? I'm a newbie.

[2021-10-21 12:22] aks221 opened #2644 "Public api"

[2021-10-21 21:30] #2644 closed

[2021-10-23 23:25] thayssakarla opened #2678 "."

[2021-10-23 23:26] #2678 closed, assigned to nobody

[2021-10-25 07:49] #2516 closed, assigned to nobody

[2021-10-26 19:11] FAVE01 opened #2735 "PUBLIC DOCUMENTATION"
Thanks for looking to open an issue for this project.

If you are opening an issue to suggest adding a new entry, please consider opening a pull request instead!

[2021-10-26 21:26] #2735 closed, assigned to nobody

[2021-10-27 04:58] prdai opened #2742 "Send Request File"
Send Request File

`import requests`
`print(requests.get(url,{
    'some_param':'some_val'
}).json())`

So there is a button next to the API.
And it is like sending an example request.
And when they click the button a python or any other language file will be generated.
And they can just test to API out.

I think this would be useful so anyone can quickly test the API.

Hope this helps.

With best

[2021-10-27 17:26] #2742 closed, assigned to nobody

[2021-10-28 03:25] prdai opened #2758 "Verification API's"
Verification API's

like phone number Verification API's
or Email Verification API's

I think it would be more useful

[2021-10-28 06:05] #2758 closed, assigned to nobody

[2021-10-28 13:40] SREERAGI18 opened #2770 "changes in Data Validation table in Readme.md"
apilayer mailboxlayer and vatlayer need api_key which are currently stated as no Auth required.

[2021-10-28 15:54] #2770 closed, assigned to nobody

[2021-10-28 18:47] ghost opened #2776 "font room ball hanger"
all these are being stole but mathious

[2021-10-28 19:01] #2776 closed, assigned to nobody

[2021-10-29 21:21] xan187 commented on #2776
mine

[2021-10-30 05:13] hippyaki opened #2807 "Icons8 API is a PAID service"
Current Link - https://icons8.docs.apiary.io/#reference/0/meta
The link provided in the present version redirects to an old version of API, which does not work.

The updated section of API is in [link](https://icons8.github.io/icons8-docs/#Icons%20API), which has its endpoint details in [link](https://icons8.github.io/icons8-docs/api/search-engine/)

But then it turns out, it's not the original we

[2021-10-30 10:21] c6z3h commented on #2807
I can give it a shot. Thanks for digging into it!

[2021-10-30 10:23] hippyaki commented on #2807
@c6z3h Wait for approval from a maintainer. Then you can make the required changes.

[2021-10-30 13:36] matheusfelipeog commented on #2807
This looks good to me. Thank you so much for checking and letting us know this @hippyaki ❤️

I will review the PR.

[2021-10-30 14:11] hippyaki opened #2819 "Update required in SwiftKanban API Doc Link"
Current Link - https://www.digite.com/swiftkanban/

This link redirects to the home page, but no documentation or reference to the APIs.

Correct Link - https://www.digite.com/knowledge-base/swiftkanban/article/api-for-swift-kanban-web-services/#restapi

This link has proper documentation on the API.

Does anybody want to take this up?

[2021-10-30 14:25] matheusfelipeog commented on #2819
The API reference is at the footer of the page, but linking the documentation directly is better and preferable.

Thank you very much for one more check @hippyaki <3

[2021-10-30 14:31] matheusfelipeog commented on #2189
This issue has now been resolved. A big THANK YOU to contributors <3

[2021-10-30 14:31] #2189 closed

[2021-10-30 14:39] matheusfelipeog commented on #2002
All inactive PRs have already been reviewed, added or rejected. A big THANK YOU to everyone who helped us with this issue ❤️

[2021-10-30 14:39] #2002 closed

[2021-10-30 15:27] JadenLeake333 commented on #2819
May I be assigned this issue?

[2021-10-30 15:29] hippyaki commented on #2819
@JadenLeake333 You can open a PR, and the maintainer will link this issue to the PR.

[2021-10-30 16:25] #2819 closed

[2021-10-31 01:37] #2807 closed

[2021-11-01 00:03] fer-correa commented on #2107
PR [2872](https://github.com/public-apis/public-apis/pull/2872)

[2021-11-01 02:33] xan187 opened #2873 "owner need api"
__Originally posted by @xan187 in https://github.com/DiFronzo/blockchair/issues/11__

[2021-11-01 02:37] #2873 closed

[2021-11-01 11:37] Pottikk opened #2877 "Hello"

[2021-11-01 20:57] xan187 opened #2879 "__Originally posted by @xan187 in https://github.com/DiFronzo/blockchair/issues/11__"
__Originally posted by @xan187 in https://github.com/DiFronzo/blockchair/issues/11__

__Originally posted by @xan187 in https://github.com/public-apis/public-apis/issues/2873__

[2021-11-01 23:09] #2879 closed

[2021-11-01 23:09] #2877 closed

[2021-11-01 23:35] matheusfelipeog commented on #2107
Community, the hacktoberfest is over. New PRs will no longer be counted for participation in the event.

I would like to thank everyone who participated in improving and expanding this huge list of APIs during this month. More than 500 pull requests were opened and all have been reviewed:

![image](https://user-images.githubusercontent.com/50463866/139755777-17e15162-536c-4be0-aa4d-34b760389f5a.pn

[2021-11-02 20:01] olekstomek commented on #2107
Incredible amount of PR that definitely improves the API collection that will help many developers. Thanks too!

[2021-11-02 20:06] Nirzak commented on #2107
It was a great experience to contribute to this project. Though hacktoberfest is ended, I will carry on my contribution whenever I get free time.

[2021-11-08 04:03] Stanr1eyFontenelle opened #2894 "Público Apis"

[2021-11-08 14:49] #2894 closed

[2021-11-11 16:09] sharadcodes opened #2899 "Am I allowed open PR for fixing name on an old API ?"
I was looking on a site which used this site for listing APIs and saw that the name of my API was still old.
Can I update and open a PR.

Its under text analysis section Sentium is the name SENTIM is the new name.
Link: https://sentim-api.herokuapp.com/

[2021-11-12 01:12] matheusfelipeog commented on #2899
Oh right @sharadcodes. Thank you for letting us know this. ;)

Can you open a PR to update to the new name and link to this issue please?

[2021-11-12 04:28] sharadcodes commented on #2899
Will do it, thanks for answering

[2021-11-21 13:15] pawelborkar commented on #2899
Hey @sharadcodes,
Looks you got the answer for this issue.
Closing this as of now but do mention it whenever you open a PR regarding the context you mentioned above.

Thanks.

[2021-11-21 13:15] #2899 closed

[2021-11-21 13:30] pawelborkar commented on #2107
Thank you so much everybody for all the contribution and a big thanks to @matheusfelipeog for reviewing and merging the PRs. As the fest is over, I think we should close this issue/announcement [Ref.](https://github.com/public-apis/public-apis/issues/2107#issuecomment-956894412)

Once again thank you so much all of you 😊 And wish you all the very best for your further contributions to the open sou

[2021-11-21 13:30] #2107 closed

[2021-11-21 23:12] realtechspecs opened #2913 "New category for Consumer Electronics related APIs"
### Can we create a new "Consumer Electronics" category for TechSpecs API https://techspecs.readme.io/.

### This is an API that provides the easiest way to get the detailed technical specifications of any consumer electronics product in the world.

[2021-11-23 08:25] pawelborkar commented on #2913
Thanks for opening this issue and for the suggestion as well @realtechspecs  for the Consumer Electronics Category. But as the contributing guide suggests we need atleast 3 entries in order to make a new category.

So, in order to make a new category please make sure you have at least 3 public apis or APIs with a generous free trial in order to add them into this newly created category.

If in som

[2021-11-28 15:28] manjula-guneratne opened #2927 "Indeed API"
Hi!,

Just wanted to let you know the Indeed API end points are depreciated and it cannot be used anymore.

https://developer.indeed.com/docs/publisher-jobs/

[2021-11-30 13:17] pawelborkar commented on #2927
Thanks for the update @manjula-guneratne. Would you like to make a PR on this?

[2021-11-30 14:10] Branscott1780 commented on #2913
A good category would be name and global user name to insure a uid is made

[2021-11-30 15:40] manjula-guneratne commented on #2927
Yes, I will submit one today.